<% const tier = theme.tier || "all" %>
<% const isEnterpriseTheme = tier === "enterprise" %>

<header class="page-header">
  <div class="page-header-logo">
    <a href="<% if(isEnterpriseTheme) { %>https://humansignal.com/<% } else { %>https://labelstud.io/<% } %>" class="HeaderLogo" arial-label="Homepage">
      <% if(isEnterpriseTheme) { %>
        <svg width="223" height="21" viewBox="0 0 223 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_440_5886)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.68663 6.08191H0V0.411621H5.68663V6.08191ZM20.2193 6.08192H14.5327V0.411638H20.2193V6.08192ZM0 20.5728H5.68663V14.9025H0V20.5728ZM20.2193 20.5728H14.5327V14.9025H20.2193V20.5728ZM1.89536 6.08201H3.7909V14.9025H1.89536V6.08201ZM18.3236 6.08201H16.4281V14.9025H18.3236V6.08201ZM5.68677 2.30186H14.5326V4.19195H5.68677V2.30186ZM14.5326 16.7923H5.68677V18.6824H14.5326V16.7923Z" fill="#FF7557"/>
          </g>
          <path d="M27.6376 3.79955V14.9514H33.9911V17.0756H25.4186V3.79955H27.6376Z" fill="#FDFDFC"/>
          <path d="M44.3168 17.0756H42.1926V15.7859C41.965 16.2158 41.5731 16.5698 41.0168 16.848C40.4604 17.1261 39.8662 17.2652 39.234 17.2652C38.4121 17.2652 37.6598 17.0503 36.977 16.6204C36.2943 16.1905 35.7569 15.6089 35.365 14.8755C34.973 14.1422 34.777 13.3267 34.777 12.429C34.777 11.5439 34.973 10.7347 35.365 10.0013C35.7569 9.268 36.2943 8.68639 36.977 8.25649C37.6598 7.8266 38.4121 7.61166 39.234 7.61166C39.8662 7.61166 40.4604 7.75074 41.0168 8.02891C41.5731 8.30707 41.965 8.6611 42.1926 9.09099V7.80132H44.3168V17.0756ZM36.8443 12.429C36.8443 12.96 36.9644 13.4405 37.2046 13.8704C37.4575 14.3002 37.7989 14.6416 38.2288 14.8945C38.6713 15.1347 39.1518 15.2549 39.6702 15.2549C40.1886 15.2549 40.6817 15.1221 41.1495 14.8566C41.6173 14.5911 41.965 14.2497 42.1926 13.8324V11.0634C41.9777 10.6462 41.6363 10.3048 41.1685 10.0393C40.7007 9.76111 40.2012 9.62203 39.6702 9.62203C39.1391 9.62203 38.6587 9.74847 38.2288 10.0013C37.7989 10.2416 37.4575 10.5766 37.2046 11.0065C36.9644 11.4238 36.8443 11.8979 36.8443 12.429Z" fill="#FDFDFC"/>
          <path d="M48.6358 9.09099C48.8634 8.6611 49.2553 8.30707 49.8117 8.02891C50.3806 7.75074 50.9749 7.61166 51.5945 7.61166C52.4163 7.61166 53.1686 7.8266 53.8514 8.25649C54.5341 8.68639 55.0715 9.268 55.4635 10.0013C55.8554 10.7347 56.0514 11.5439 56.0514 12.429C56.0514 13.3267 55.8554 14.1422 55.4635 14.8755C55.0715 15.6089 54.5341 16.1905 53.8514 16.6204C53.1686 17.0503 52.4163 17.2652 51.5945 17.2652C50.9749 17.2652 50.3806 17.1261 49.8117 16.848C49.2553 16.5698 48.8634 16.2158 48.6358 15.7859V17.0756H46.5306V3.79955H48.6358V9.09099ZM48.6358 13.8324C48.8634 14.2497 49.2111 14.5911 49.6789 14.8566C50.1467 15.1221 50.6398 15.2549 51.1582 15.2549C51.6766 15.2549 52.1508 15.1347 52.5807 14.8945C53.0232 14.6416 53.3646 14.3002 53.6048 13.8704C53.8577 13.4405 53.9841 12.96 53.9841 12.429C53.9841 11.8979 53.8577 11.4238 53.6048 11.0065C53.3646 10.5766 53.0295 10.2416 52.5996 10.0013C52.1697 9.74847 51.6893 9.62203 51.1582 9.62203C50.6272 9.62203 50.1278 9.76111 49.6599 10.0393C49.1921 10.3048 48.8507 10.6462 48.6358 11.0634V13.8324Z" fill="#FDFDFC"/>
          <path d="M61.9675 17.2652C61.0951 17.2652 60.2922 17.0566 59.5589 16.6394C58.8255 16.2095 58.2439 15.6215 57.814 14.8755C57.3841 14.1296 57.1692 13.3014 57.1692 12.391C57.1692 11.506 57.3778 10.7031 57.7951 9.98238C58.225 9.24904 58.8066 8.67374 59.5399 8.25649C60.2733 7.8266 61.0761 7.61166 61.9486 7.61166C62.7704 7.61166 63.5227 7.80764 64.2055 8.1996C64.8883 8.59156 65.4256 9.1226 65.8176 9.79272C66.2095 10.4628 66.4055 11.2088 66.4055 12.0307C66.4055 12.2583 66.3802 12.5617 66.3296 12.941H59.2175C59.3313 13.7123 59.6347 14.3192 60.1279 14.7617C60.6336 15.2043 61.2721 15.4255 62.0434 15.4255C62.5618 15.4255 63.0423 15.3181 63.4848 15.1031C63.94 14.8755 64.2687 14.5847 64.471 14.2307L66.14 15.2549C65.7986 15.887 65.2549 16.3802 64.5089 16.7342C63.7756 17.0882 62.9285 17.2652 61.9675 17.2652ZM64.2624 11.4238C64.1865 10.8295 63.921 10.3427 63.4658 9.96341C63.0106 9.5841 62.4733 9.39444 61.8537 9.39444C61.1836 9.39444 60.621 9.57778 60.1658 9.94445C59.7232 10.2985 59.4261 10.7916 59.2744 11.4238H64.2624Z" fill="#FDFDFC"/>
          <path d="M70.2686 17.0756H68.1634V3.79955H70.2686V17.0756Z" fill="#FDFDFC"/>
          <path d="M81.0837 3.60989C81.9308 3.60989 82.7779 3.79322 83.6251 4.15989C84.4849 4.51392 85.1423 4.96278 85.5975 5.50646L84.3078 7.23234C83.8653 6.77717 83.3343 6.41682 82.7147 6.1513C82.1078 5.88578 81.5072 5.75302 80.913 5.75302C80.3061 5.75302 79.8066 5.8921 79.4147 6.17026C79.0354 6.44843 78.8457 6.80878 78.8457 7.25131C78.8457 7.63063 78.9658 7.94672 79.2061 8.1996C79.4589 8.45248 79.7687 8.65478 80.1354 8.8065C80.5147 8.94558 81.0331 9.10995 81.6906 9.29961C82.5883 9.55249 83.3153 9.81169 83.8716 10.0772C84.4406 10.3301 84.9211 10.7157 85.313 11.2341C85.7176 11.7399 85.9199 12.41 85.9199 13.2445C85.9199 13.9652 85.7239 14.6353 85.332 15.2549C84.9527 15.8618 84.4027 16.3485 83.682 16.7152C82.9613 17.0819 82.1268 17.2652 81.1785 17.2652C80.1923 17.2652 79.2187 17.0503 78.2578 16.6204C77.2968 16.1905 76.5192 15.6468 75.925 14.9893L77.3474 13.3583C77.929 13.9146 78.5233 14.3508 79.1302 14.6669C79.7371 14.9704 80.4199 15.1221 81.1785 15.1221C81.9118 15.1221 82.5061 14.9514 82.9613 14.61C83.4165 14.2686 83.644 13.8198 83.644 13.2635C83.644 12.8968 83.5239 12.5997 83.2837 12.3721C83.0435 12.1318 82.74 11.9422 82.3733 11.8031C82.0067 11.664 81.5009 11.506 80.8561 11.3289C79.9584 11.0887 79.225 10.8485 78.656 10.6082C78.0997 10.3554 77.6193 9.97606 77.2146 9.4703C76.81 8.95191 76.6077 8.26914 76.6077 7.422C76.6077 6.71395 76.7974 6.06911 77.1767 5.4875C77.5687 4.90588 78.0997 4.4507 78.7698 4.12196C79.4526 3.78058 80.2239 3.60989 81.0837 3.60989Z" fill="#FDFDFC"/>
          <path d="M91.5654 17.2083C90.5159 17.2083 89.6688 16.8922 89.0239 16.26C88.3917 15.6152 88.0757 14.7301 88.0757 13.6048V9.81169H86.2929V7.80132H88.0757V5.31681H90.1808V7.80132H92.6085V9.81169H90.1808V13.51C90.1808 14.041 90.3389 14.4646 90.655 14.7807C90.9837 15.0842 91.3883 15.2359 91.8688 15.2359C92.0964 15.2359 92.3366 15.198 92.5895 15.1221L92.7033 16.9807C92.3998 17.1325 92.0205 17.2083 91.5654 17.2083Z" fill="#FDFDFC"/>
          <path d="M100.804 15.8428C100.526 16.2727 100.134 16.6204 99.6285 16.8859C99.1227 17.1388 98.579 17.2652 97.9974 17.2652C96.8342 17.2652 95.9112 16.8922 95.2284 16.1462C94.5456 15.3876 94.2043 14.3698 94.2043 13.0928V7.80132H96.3095V12.7514C96.3095 13.4974 96.5054 14.0853 96.8974 14.5152C97.302 14.9451 97.8394 15.16 98.5095 15.16C98.9773 15.16 99.4135 15.0462 99.8181 14.8186C100.235 14.5911 100.564 14.2813 100.804 13.8893L100.823 7.80132H102.947V17.0756H100.804V15.8428Z" fill="#FDFDFC"/>
          <path d="M112.11 11.0634C111.895 10.6462 111.554 10.3048 111.086 10.0393C110.618 9.76111 110.119 9.62203 109.588 9.62203C109.057 9.62203 108.576 9.74847 108.146 10.0013C107.717 10.2416 107.375 10.5766 107.122 11.0065C106.882 11.4238 106.762 11.8979 106.762 12.429C106.762 12.96 106.882 13.4405 107.122 13.8704C107.375 14.3002 107.717 14.6416 108.146 14.8945C108.589 15.1347 109.069 15.2549 109.588 15.2549C110.106 15.2549 110.599 15.1221 111.067 14.8566C111.535 14.5911 111.883 14.2497 112.11 13.8324V11.0634ZM104.695 12.429C104.695 11.5439 104.891 10.7347 105.283 10.0013C105.675 9.268 106.212 8.68639 106.895 8.25649C107.577 7.8266 108.33 7.61166 109.152 7.61166C109.784 7.61166 110.378 7.75074 110.934 8.02891C111.491 8.30707 111.883 8.6611 112.11 9.09099V3.79955H114.215V17.0756H112.11V15.7859C111.883 16.2158 111.491 16.5698 110.934 16.848C110.378 17.1261 109.784 17.2652 109.152 17.2652C108.33 17.2652 107.577 17.0503 106.895 16.6204C106.212 16.1905 105.675 15.6089 105.283 14.8755C104.891 14.1422 104.695 13.3267 104.695 12.429Z" fill="#FDFDFC"/>
          <path d="M118.553 7.80132V17.0756H116.448V7.80132H118.553ZM117.51 3.49609C117.877 3.49609 118.193 3.62885 118.459 3.89437C118.737 4.15989 118.876 4.47599 118.876 4.84266C118.876 5.22198 118.737 5.54439 118.459 5.80991C118.193 6.07543 117.877 6.2082 117.51 6.2082C117.144 6.2082 116.828 6.07543 116.562 5.80991C116.297 5.54439 116.164 5.22198 116.164 4.84266C116.164 4.47599 116.297 4.15989 116.562 3.89437C116.828 3.62885 117.144 3.49609 117.51 3.49609Z" fill="#FDFDFC"/>
          <path d="M125.125 7.61166C126.01 7.61166 126.82 7.8266 127.553 8.25649C128.286 8.67374 128.868 9.25536 129.298 10.0013C129.728 10.7347 129.943 11.5502 129.943 12.4479C129.943 13.3456 129.728 14.1612 129.298 14.8945C128.868 15.6278 128.286 16.2095 127.553 16.6394C126.82 17.0566 126.01 17.2652 125.125 17.2652C124.228 17.2652 123.412 17.0566 122.679 16.6394C121.945 16.2095 121.364 15.6278 120.934 14.8945C120.517 14.1612 120.308 13.3456 120.308 12.4479C120.308 11.5502 120.517 10.7347 120.934 10.0013C121.364 9.25536 121.945 8.67374 122.679 8.25649C123.425 7.8266 124.24 7.61166 125.125 7.61166ZM122.375 12.4479C122.375 12.9663 122.495 13.4405 122.736 13.8704C122.976 14.2876 123.305 14.6227 123.722 14.8755C124.152 15.1158 124.62 15.2359 125.125 15.2359C125.631 15.2359 126.093 15.1158 126.51 14.8755C126.927 14.6227 127.256 14.2876 127.496 13.8704C127.736 13.4405 127.856 12.9663 127.856 12.4479C127.856 11.9295 127.736 11.4554 127.496 11.0255C127.256 10.5956 126.927 10.2605 126.51 10.0203C126.093 9.76743 125.631 9.64099 125.125 9.64099C124.62 9.64099 124.152 9.76743 123.722 10.0203C123.305 10.2605 122.976 10.5956 122.736 11.0255C122.495 11.4554 122.375 11.9295 122.375 12.4479Z" fill="#FDFDFC"/>
          <path d="M143.805 3.79955V5.92371H138.191V9.05306H143.198V11.1772H138.191V14.9514H143.805V17.0756H135.972V3.79955H143.805Z" fill="#FDFDFC"/>
          <path d="M147.91 9.03409C148.201 8.59156 148.593 8.24385 149.086 7.99097C149.592 7.7381 150.135 7.61166 150.717 7.61166C151.88 7.61166 152.803 7.99097 153.486 8.7496C154.169 9.49559 154.51 10.5071 154.51 11.7841V17.0756H152.405V12.1255C152.405 11.3795 152.203 10.7916 151.798 10.3617C151.406 9.9318 150.875 9.71686 150.205 9.71686C149.737 9.71686 149.301 9.83065 148.896 10.0582C148.492 10.2858 148.163 10.5956 147.91 10.9876V17.0756H145.786V7.80132H147.91V9.03409Z" fill="#FDFDFC"/>
          <path d="M160.705 17.2083C159.656 17.2083 158.809 16.8922 158.164 16.26C157.532 15.6152 157.215 14.7301 157.215 13.6048V9.81169H155.433V7.80132H157.215V5.31681H159.321V7.80132H161.748V9.81169H159.321V13.51C159.321 14.041 159.479 14.4646 159.795 14.7807C160.124 15.0842 160.528 15.2359 161.009 15.2359C161.236 15.2359 161.476 15.198 161.729 15.1221L161.843 16.9807C161.54 17.1325 161.16 17.2083 160.705 17.2083Z" fill="#FDFDFC"/>
          <path d="M167.353 17.2652C166.481 17.2652 165.678 17.0566 164.945 16.6394C164.211 16.2095 163.63 15.6215 163.2 14.8755C162.77 14.1296 162.555 13.3014 162.555 12.391C162.555 11.506 162.764 10.7031 163.181 9.98238C163.611 9.24904 164.192 8.67374 164.926 8.25649C165.659 7.8266 166.462 7.61166 167.334 7.61166C168.156 7.61166 168.909 7.80764 169.591 8.1996C170.274 8.59156 170.811 9.1226 171.203 9.79272C171.595 10.4628 171.791 11.2088 171.791 12.0307C171.791 12.2583 171.766 12.5617 171.715 12.941H164.603C164.717 13.7123 165.021 14.3192 165.514 14.7617C166.019 15.2043 166.658 15.4255 167.429 15.4255C167.948 15.4255 168.428 15.3181 168.871 15.1031C169.326 14.8755 169.655 14.5847 169.857 14.2307L171.526 15.2549C171.184 15.887 170.641 16.3802 169.895 16.7342C169.161 17.0882 168.314 17.2652 167.353 17.2652ZM169.648 11.4238C169.572 10.8295 169.307 10.3427 168.852 9.96341C168.396 9.5841 167.859 9.39444 167.24 9.39444C166.569 9.39444 166.007 9.57778 165.552 9.94445C165.109 10.2985 164.812 10.7916 164.66 11.4238H169.648Z" fill="#FDFDFC"/>
          <path d="M173.549 7.80132H175.654V9.07202C175.882 8.64213 176.223 8.29443 176.679 8.02891C177.134 7.75074 177.583 7.61166 178.025 7.61166C178.455 7.61166 178.809 7.66224 179.087 7.76339L178.954 9.75479C178.6 9.62835 178.234 9.56513 177.854 9.56513C177.475 9.56513 177.071 9.71054 176.641 10.0013C176.211 10.2922 175.882 10.6778 175.654 11.1583V17.0756H173.549V7.80132Z" fill="#FDFDFC"/>
          <path d="M180.606 7.80132H182.711V9.09099C182.939 8.6611 183.331 8.30707 183.887 8.02891C184.456 7.75074 185.05 7.61166 185.67 7.61166C186.492 7.61166 187.244 7.8266 187.927 8.25649C188.609 8.68639 189.147 9.268 189.539 10.0013C189.931 10.7347 190.127 11.5502 190.127 12.4479C190.127 13.333 189.931 14.1422 189.539 14.8755C189.147 15.6089 188.609 16.1905 187.927 16.6204C187.244 17.0503 186.492 17.2652 185.67 17.2652C185.05 17.2652 184.456 17.1261 183.887 16.848C183.331 16.5698 182.939 16.2158 182.711 15.7859V20.3377H180.606V7.80132ZM182.711 13.8135C182.926 14.2307 183.267 14.5784 183.735 14.8566C184.203 15.1221 184.702 15.2549 185.233 15.2549C185.764 15.2549 186.245 15.1347 186.675 14.8945C187.105 14.6416 187.44 14.3066 187.68 13.8893C187.933 13.4594 188.059 12.979 188.059 12.4479C188.059 11.9169 187.933 11.4364 187.68 11.0065C187.44 10.5766 187.098 10.2416 186.656 10.0013C186.226 9.74847 185.752 9.62203 185.233 9.62203C184.715 9.62203 184.222 9.75479 183.754 10.0203C183.286 10.2858 182.939 10.6272 182.711 11.0445V13.8135Z" fill="#FDFDFC"/>
          <path d="M191.885 7.80132H193.99V9.07202C194.218 8.64213 194.559 8.29443 195.015 8.02891C195.47 7.75074 195.919 7.61166 196.361 7.61166C196.791 7.61166 197.145 7.66224 197.423 7.76339L197.29 9.75479C196.936 9.62835 196.57 9.56513 196.19 9.56513C195.811 9.56513 195.407 9.71054 194.977 10.0013C194.547 10.2922 194.218 10.6778 193.99 11.1583V17.0756H191.885V7.80132Z" fill="#FDFDFC"/>
          <path d="M201.047 7.80132V17.0756H198.942V7.80132H201.047ZM200.004 3.49609C200.371 3.49609 200.687 3.62885 200.952 3.89437C201.23 4.15989 201.369 4.47599 201.369 4.84266C201.369 5.22198 201.23 5.54439 200.952 5.80991C200.687 6.07543 200.371 6.2082 200.004 6.2082C199.637 6.2082 199.321 6.07543 199.056 5.80991C198.79 5.54439 198.657 5.22198 198.657 4.84266C198.657 4.47599 198.79 4.15989 199.056 3.89437C199.321 3.62885 199.637 3.49609 200.004 3.49609Z" fill="#FDFDFC"/>
          <path d="M206.709 17.2842C205.963 17.2842 205.217 17.1641 204.471 16.9238C203.737 16.671 203.143 16.3422 202.688 15.9376L203.522 14.3445C203.876 14.6859 204.351 14.964 204.945 15.179C205.552 15.3939 206.121 15.5014 206.652 15.5014C207.107 15.5014 207.474 15.4066 207.752 15.2169C208.043 15.0273 208.188 14.7807 208.188 14.4773C208.188 14.1612 208.036 13.9336 207.733 13.7945C207.429 13.6428 206.943 13.4847 206.272 13.3203C205.59 13.156 205.033 12.9916 204.603 12.8272C204.174 12.6502 203.801 12.3784 203.484 12.0117C203.181 11.645 203.029 11.1519 203.029 10.5324C203.029 9.96341 203.181 9.45766 203.484 9.01512C203.788 8.57259 204.211 8.23121 204.755 7.99097C205.311 7.7381 205.937 7.61166 206.633 7.61166C207.303 7.61166 207.948 7.70649 208.567 7.89615C209.187 8.0858 209.699 8.36397 210.103 8.73064L209.269 10.3617C208.928 10.0582 208.472 9.81801 207.903 9.64099C207.347 9.46398 206.854 9.37547 206.424 9.37547C206.032 9.37547 205.716 9.46398 205.476 9.64099C205.248 9.81801 205.134 10.0582 205.134 10.3617C205.134 10.6525 205.28 10.8674 205.571 11.0065C205.861 11.1456 206.336 11.3037 206.993 11.4807C207.689 11.6703 208.257 11.86 208.7 12.0496C209.143 12.2267 209.522 12.5048 209.838 12.8841C210.167 13.2635 210.331 13.7692 210.331 14.4014C210.331 14.9577 210.173 15.4572 209.857 15.8997C209.553 16.3296 209.124 16.671 208.567 16.9238C208.024 17.1641 207.404 17.2842 206.709 17.2842Z" fill="#FDFDFC"/>
          <path d="M216.305 17.2652C215.433 17.2652 214.63 17.0566 213.896 16.6394C213.163 16.2095 212.581 15.6215 212.151 14.8755C211.722 14.1296 211.507 13.3014 211.507 12.391C211.507 11.506 211.715 10.7031 212.133 9.98238C212.562 9.24904 213.144 8.67374 213.877 8.25649C214.611 7.8266 215.414 7.61166 216.286 7.61166C217.108 7.61166 217.86 7.80764 218.543 8.1996C219.226 8.59156 219.763 9.1226 220.155 9.79272C220.547 10.4628 220.743 11.2088 220.743 12.0307C220.743 12.2583 220.718 12.5617 220.667 12.941H213.555C213.669 13.7123 213.972 14.3192 214.465 14.7617C214.971 15.2043 215.61 15.4255 216.381 15.4255C216.899 15.4255 217.38 15.3181 217.822 15.1031C218.277 14.8755 218.606 14.5847 218.808 14.2307L220.477 15.2549C220.136 15.887 219.592 16.3802 218.846 16.7342C218.113 17.0882 217.266 17.2652 216.305 17.2652ZM218.6 11.4238C218.524 10.8295 218.258 10.3427 217.803 9.96341C217.348 9.5841 216.811 9.39444 216.191 9.39444C215.521 9.39444 214.958 9.57778 214.503 9.94445C214.061 10.2985 213.764 10.7916 213.612 11.4238H218.6Z" fill="#FDFDFC"/>
          <defs>
          <clipPath id="clip0_440_5886">
          <rect width="20.2191" height="20.161" fill="white" transform="translate(0 0.411621)"/>
          </clipPath>
          </defs>
          </svg>
          
          
      <% } else { %>
        <svg width="194" height="33" viewBox="0 0 194 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_432_4624)">
          <rect x="3.59039" y="6.30933" width="22.7398" height="21.543" fill="#FFD6CD"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.48273 9.90379H0V1.44543H8.48273V9.90379ZM30.1613 9.90379H21.6785V1.44544H30.1613V9.90379ZM0 31.5198H8.48273V23.0614H0V31.5198ZM30.1613 23.0614V31.5198H21.6785V23.0614H30.1613ZM2.82716 9.9038H5.65474V23.0612H2.82716V9.9038ZM27.3334 23.0612V9.9038H24.5059V23.0612H27.3334ZM8.48294 4.26495H21.6783V7.0844H8.48294V4.26495ZM21.6783 25.8804H8.48294V28.6998H21.6783V25.8804Z" fill="#FF7557"/>
          </g>
          <path d="M41.2261 6.76418V23.3994H50.7036V26.568H37.916V6.76418H41.2261Z" fill="#12110D"/>
          <path d="M66.1064 26.568H62.9378V24.6442C62.5983 25.2855 62.0136 25.8136 61.1837 26.2285C60.3539 26.6434 59.4674 26.8509 58.5244 26.8509C57.2984 26.8509 56.1762 26.5303 55.1577 25.889C54.1392 25.2477 53.3377 24.3802 52.753 23.2862C52.1683 22.1923 51.8759 20.9758 51.8759 19.6367C51.8759 18.3164 52.1683 17.1093 52.753 16.0154C53.3377 14.9215 54.1392 14.0539 55.1577 13.4126C56.1762 12.7713 57.2984 12.4507 58.5244 12.4507C59.4674 12.4507 60.3539 12.6582 61.1837 13.0731C62.0136 13.4881 62.5983 14.0162 62.9378 14.6574V12.7336H66.1064V26.568ZM54.9597 19.6367C54.9597 20.4288 55.1389 21.1455 55.4972 21.7868C55.8744 22.4281 56.3837 22.9373 57.0249 23.3145C57.6851 23.6729 58.4018 23.8521 59.1751 23.8521C59.9484 23.8521 60.6839 23.654 61.3818 23.2579C62.0796 22.8619 62.5983 22.3526 62.9378 21.7302V17.5997C62.6172 16.9773 62.1079 16.4681 61.4101 16.072C60.7122 15.657 59.9672 15.4496 59.1751 15.4496C58.3829 15.4496 57.6662 15.6382 57.0249 16.0154C56.3837 16.3738 55.8744 16.8736 55.4972 17.5148C55.1389 18.1372 54.9597 18.8445 54.9597 19.6367Z" fill="#12110D"/>
          <path d="M72.5491 14.6574C72.8885 14.0162 73.4732 13.4881 74.3031 13.0731C75.1518 12.6582 76.0383 12.4507 76.9625 12.4507C78.1884 12.4507 79.3106 12.7713 80.3291 13.4126C81.3476 14.0539 82.1492 14.9215 82.7339 16.0154C83.3186 17.1093 83.6109 18.3164 83.6109 19.6367C83.6109 20.9758 83.3186 22.1923 82.7339 23.2862C82.1492 24.3802 81.3476 25.2477 80.3291 25.889C79.3106 26.5303 78.1884 26.8509 76.9625 26.8509C76.0383 26.8509 75.1518 26.6434 74.3031 26.2285C73.4732 25.8136 72.8885 25.2855 72.5491 24.6442V26.568H69.4087V6.76418H72.5491V14.6574ZM72.5491 21.7302C72.8885 22.3526 73.4072 22.8619 74.1051 23.2579C74.8029 23.654 75.5385 23.8521 76.3118 23.8521C77.0851 23.8521 77.7923 23.6729 78.4336 23.3145C79.0937 22.9373 79.603 22.4281 79.9613 21.7868C80.3386 21.1455 80.5272 20.4288 80.5272 19.6367C80.5272 18.8445 80.3386 18.1372 79.9613 17.5148C79.603 16.8736 79.1032 16.3738 78.4619 16.0154C77.8206 15.6382 77.1039 15.4496 76.3118 15.4496C75.5196 15.4496 74.7746 15.657 74.0768 16.072C73.3789 16.4681 72.8697 16.9773 72.5491 17.5997V21.7302Z" fill="#12110D"/>
          <path d="M92.436 26.8509C91.1346 26.8509 89.9369 26.5397 88.843 25.9173C87.7491 25.276 86.8815 24.399 86.2402 23.2862C85.5989 22.1734 85.2783 20.9381 85.2783 19.5801C85.2783 18.2598 85.5895 17.0622 86.2119 15.9871C86.8532 14.8932 87.7208 14.035 88.8147 13.4126C89.9086 12.7713 91.1063 12.4507 92.4077 12.4507C93.6336 12.4507 94.7559 12.7431 95.7743 13.3277C96.7928 13.9124 97.5944 14.7046 98.1791 15.7042C98.7638 16.7038 99.0561 17.8166 99.0561 19.0426C99.0561 19.382 99.0184 19.8347 98.9429 20.4005H88.3338C88.5035 21.551 88.9562 22.4564 89.6917 23.1165C90.4462 23.7766 91.3986 24.1067 92.5491 24.1067C93.3224 24.1067 94.0391 23.9464 94.6993 23.6257C95.3783 23.2862 95.8686 22.8524 96.1704 22.3243L98.66 23.8521C98.1508 24.7951 97.3398 25.5307 96.227 26.0588C95.1331 26.5869 93.8694 26.8509 92.436 26.8509ZM95.8592 18.1372C95.746 17.2508 95.35 16.5246 94.671 15.9588C93.992 15.393 93.1904 15.1101 92.2662 15.1101C91.2666 15.1101 90.4273 15.3836 89.7483 15.9305C89.0882 16.4586 88.645 17.1942 88.4186 18.1372H95.8592Z" fill="#12110D"/>
          <path d="M104.819 26.568H101.678V6.76418H104.819V26.568Z" fill="#12110D"/>
          <path d="M120.951 6.48127C122.215 6.48127 123.479 6.75475 124.742 7.30171C126.025 7.82982 127.006 8.49937 127.685 9.31039L125.761 11.8849C125.101 11.2059 124.309 10.6684 123.385 10.2723C122.479 9.87621 121.583 9.67817 120.697 9.67817C119.792 9.67817 119.047 9.88564 118.462 10.3006C117.896 10.7155 117.613 11.253 117.613 11.9132C117.613 12.479 117.792 12.9505 118.151 13.3277C118.528 13.7049 118.99 14.0067 119.537 14.2331C120.103 14.4405 120.876 14.6857 121.857 14.9686C123.196 15.3458 124.28 15.7325 125.11 16.1286C125.959 16.5058 126.676 17.081 127.26 17.8543C127.864 18.6088 128.166 19.6084 128.166 20.8532C128.166 21.9282 127.873 22.9279 127.289 23.8521C126.723 24.7574 125.902 25.4835 124.827 26.0305C123.752 26.5774 122.507 26.8509 121.093 26.8509C119.622 26.8509 118.17 26.5303 116.736 25.889C115.303 25.2477 114.143 24.4367 113.256 23.456L115.378 21.0229C116.246 21.8528 117.132 22.5035 118.037 22.975C118.943 23.4277 119.961 23.654 121.093 23.654C122.187 23.654 123.073 23.3994 123.752 22.8901C124.431 22.3809 124.771 21.7114 124.771 20.8815C124.771 20.3345 124.592 19.8913 124.233 19.5518C123.875 19.1934 123.422 18.9105 122.875 18.7031C122.328 18.4956 121.574 18.2598 120.612 17.9958C119.273 17.6374 118.179 17.2791 117.33 16.9207C116.5 16.5435 115.784 15.9777 115.18 15.2232C114.577 14.4499 114.275 13.4315 114.275 12.1678C114.275 11.1116 114.558 10.1497 115.123 9.2821C115.708 8.4145 116.5 7.73551 117.5 7.24513C118.518 6.73589 119.669 6.48127 120.951 6.48127Z" fill="#12110D"/>
          <path d="M136.587 26.766C135.022 26.766 133.758 26.2945 132.796 25.3515C131.853 24.3896 131.381 23.0693 131.381 21.3907V15.7325H128.722V12.7336H131.381V9.02748H134.522V12.7336H138.143V15.7325H134.522V21.2493C134.522 22.0414 134.757 22.6732 135.229 23.1448C135.719 23.5974 136.323 23.8238 137.04 23.8238C137.379 23.8238 137.738 23.7672 138.115 23.654L138.284 26.4265C137.832 26.6529 137.266 26.766 136.587 26.766Z" fill="#12110D"/>
          <path d="M150.369 24.7291C149.954 25.3703 149.369 25.889 148.615 26.2851C147.86 26.6623 147.049 26.8509 146.182 26.8509C144.446 26.8509 143.07 26.2945 142.051 25.1817C141.033 24.0501 140.523 22.5318 140.523 20.6269V12.7336H143.664V20.1176C143.664 21.2304 143.956 22.1074 144.541 22.7487C145.144 23.39 145.946 23.7106 146.946 23.7106C147.643 23.7106 148.294 23.5408 148.898 23.2014C149.52 22.8619 150.01 22.3998 150.369 21.8151L150.397 12.7336H153.566V26.568H150.369V24.7291Z" fill="#12110D"/>
          <path d="M167.234 17.5997C166.913 16.9773 166.404 16.4681 165.706 16.072C165.008 15.657 164.263 15.4496 163.471 15.4496C162.679 15.4496 161.962 15.6382 161.321 16.0154C160.68 16.3738 160.17 16.8736 159.793 17.5148C159.435 18.1372 159.256 18.8445 159.256 19.6367C159.256 20.4288 159.435 21.1455 159.793 21.7868C160.17 22.4281 160.68 22.9373 161.321 23.3145C161.981 23.6729 162.698 23.8521 163.471 23.8521C164.244 23.8521 164.98 23.654 165.678 23.2579C166.376 22.8619 166.894 22.3526 167.234 21.7302V17.5997ZM156.172 19.6367C156.172 18.3164 156.464 17.1093 157.049 16.0154C157.634 14.9215 158.435 14.0539 159.454 13.4126C160.472 12.7713 161.594 12.4507 162.82 12.4507C163.763 12.4507 164.65 12.6582 165.48 13.0731C166.31 13.4881 166.894 14.0162 167.234 14.6574V6.76418H170.374V26.568H167.234V24.6442C166.894 25.2855 166.31 25.8136 165.48 26.2285C164.65 26.6434 163.763 26.8509 162.82 26.8509C161.594 26.8509 160.472 26.5303 159.454 25.889C158.435 25.2477 157.634 24.3802 157.049 23.2862C156.464 22.1923 156.172 20.9758 156.172 19.6367Z" fill="#12110D"/>
          <path d="M176.845 12.7336V26.568H173.705V12.7336H176.845ZM175.289 6.31152C175.836 6.31152 176.308 6.50956 176.704 6.90564C177.119 7.30171 177.326 7.77323 177.326 8.3202C177.326 8.88602 177.119 9.36697 176.704 9.76305C176.308 10.1591 175.836 10.3572 175.289 10.3572C174.742 10.3572 174.271 10.1591 173.875 9.76305C173.478 9.36697 173.28 8.88602 173.28 8.3202C173.28 7.77323 173.478 7.30171 173.875 6.90564C174.271 6.50956 174.742 6.31152 175.289 6.31152Z" fill="#12110D"/>
          <path d="M186.648 12.4507C187.969 12.4507 189.176 12.7713 190.27 13.4126C191.364 14.035 192.231 14.9026 192.872 16.0154C193.514 17.1093 193.834 18.3258 193.834 19.665C193.834 21.0041 193.514 22.2206 192.872 23.3145C192.231 24.4084 191.364 25.276 190.27 25.9173C189.176 26.5397 187.969 26.8509 186.648 26.8509C185.309 26.8509 184.093 26.5397 182.999 25.9173C181.905 25.276 181.037 24.4084 180.396 23.3145C179.774 22.2206 179.462 21.0041 179.462 19.665C179.462 18.3258 179.774 17.1093 180.396 16.0154C181.037 14.9026 181.905 14.035 182.999 13.4126C184.112 12.7713 185.328 12.4507 186.648 12.4507ZM182.546 19.665C182.546 20.4382 182.725 21.1455 183.084 21.7868C183.442 22.4092 183.932 22.909 184.555 23.2862C185.196 23.6446 185.894 23.8238 186.648 23.8238C187.403 23.8238 188.091 23.6446 188.714 23.2862C189.336 22.909 189.826 22.4092 190.185 21.7868C190.543 21.1455 190.722 20.4382 190.722 19.665C190.722 18.8917 190.543 18.1844 190.185 17.5431C189.826 16.9019 189.336 16.402 188.714 16.0437C188.091 15.6665 187.403 15.4779 186.648 15.4779C185.894 15.4779 185.196 15.6665 184.555 16.0437C183.932 16.402 183.442 16.9019 183.084 17.5431C182.725 18.1844 182.546 18.8917 182.546 19.665Z" fill="#12110D"/>
          <defs>
          <clipPath id="clip0_432_4624">
          <rect width="30.1608" height="30.0742" fill="white" transform="translate(0 1.44543)"/>
          </clipPath>
          </defs>
          </svg>
          
          
      <% } %>
    </a>
    <% const quickLinks = [
      {
        label: "Docs",
        href: "/guide/"
      },
      {
        label: "Playground",
        href: "/playground/"
      },
      {
        label: "Templates",
        href: "/templates/"
      },
      {
        label: "Tags",
        href: "/tags/"
      }
    ];
      const currentQuickLink = quickLinks.find(link => link.href.includes(page.type));
    %>
    <div class="page-header-content-switcher">
      <div>
        <a href="<%- currentQuickLink ? currentQuickLink.href : quickLinks[0].href %>">
          <%- currentQuickLink ? currentQuickLink.label : quickLinks[0].label %>
        </a>
        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L6 6L1 1" stroke="#8B8D9E"/></svg>
      </div>
      <ul>
        <% quickLinks.forEach(function(link) { %>
          <% if(!link.href.includes(page.type)) { %>
          <li><a href="<%- link.href %>"><%- link.label %></a></li>
        <% }}); %>
      </ul>
    </div>
  </div>

  <div class="AlgoliaSearch">
    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="AlgoliaSearchIcon">
      <path d="M8 16C9.77498 15.9996 11.4988 15.4054 12.897 14.312L17.293 18.708L18.707 17.294L14.311 12.898C15.405 11.4997 15.9996 9.77544 16 8C16 3.589 12.411 0 8 0C3.589 0 0 3.589 0 8C0 12.411 3.589 16 8 16ZM8 2C11.309 2 14 4.691 14 8C14 11.309 11.309 14 8 14C4.691 14 2 11.309 2 8C2 4.691 4.691 2 8 2Z" />
    </svg>
    <input id="docsearch-input" placeholder="Search docs" data-site-version="<%- tier %>" />
  </div>

  <button class="hamburger-button" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav>
    <% if(page.type !== "playground" && page.type !== "blog") { %>
      <%- partial("partials/toc", { type: page.type, tier: tier, component: "nav" }) %>
    <% } %>
    <ul class="page-header-main-nav">
      <% if(isEnterpriseTheme) { %>
        <li>
          <a href="https://heartex.com/product">Product</a>
        </li>
        <li>
          <a href="https://heartex.com/pricing">Pricing</a>
        </li>
        <li>
          <a href="/guide/">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/guide/quick_start.html">Quickstart</a>
            </li>
            <li>
              <a href="/guide/install_enterprise.html">Install</a>
            </li>
            <li>
              <a href="/guide/tasks.html">Import Data</a>
            </li>
            <li>
              <a href="https://app.heartex.com/docs/api">API Reference</a>
            </li>
            <li>
              <a href="https://labelstud.io/sdk">SDK Reference</a>
            </li>
            <li class="headerSeparator">
              <a href="/tags">Customizable Tags</a>
            </li>
            <li>
              <a href="/templates">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://heartex.com/blog">Blog</a>
        </li>
        <li>
          <a href="http://app.heartex.com/" target="_blank" rel="noopener noreferrer">Log In</a>
        </li>
        <li>
          <%- partial("component/button", { url: "https://app.heartex.com/user/trial", label: "Free Trial", }) %>
        </li>
      <% } else { %>
        <li>
          <a href="/playground/">Playground</a>
        </li>
        <li>
          <a href="/learn/">
            Learn
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/videos/">Videos</a>
            </li>
            <li class="headerSeparator">
              <a href="/community/">
                Community
              </a>
            </li>
            <li>
              <a href="/academic/">Academic Program</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/guide/">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/guide/quick_start.html">Quickstart</a>
            </li>
            <li>
              <a href="/guide/install.html">Install</a>
            </li>
            <li>
              <a href="/guide/tasks.html">Import Data</a>
            </li>
            <li>
              <a href="/api">API Reference</a>
            </li>
            <li>
              <a href="/sdk">SDK Reference</a>
            </li>
            <li class="headerSeparator">
              <a href="/tags">Customizable Tags</a>
            </li>
            <li>
              <a href="/templates">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/integrations">Integrations</a>
        </li>
        <li>
          <a href="https://humansignal.com/goenterprise" target="_blank" rel="noopener noreferrer">Enterprise</a>
        </li>
        <li>
          <a href="https://github.com/heartexlabs/label-studio/" class="github-stars" target="_blank" rel="noopener noreferrer">
            <svg class="github-icon" viewBox="0 0 24 24" width="24" height="24"><path fill="black" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"></path></svg>
            <%- partial("component/text", {text: "", size: "Eyebrow", tag: "span", customClass: "github-stars-count"}) %>
          </a>
        </li>
        <li>
          <%- partial("component/button", { url: "/guide/quick_start.html", label: "Quick start", }) %>
        </li>
        <% } %>
    </ul>
  </nav>
</header>
