<% const tier = theme.tier || "all" %>
<% const isEnterpriseTheme = tier === "enterprise" %>

<header class="page-header">
  <div class="page-header-logo">
    <a href="<% if(isEnterpriseTheme) { %>https://heartex.com/<% } else { %>https://labelstud.io/<% } %>" class="HeaderLogo" arial-label="Homepage">
      <% if(isEnterpriseTheme) { %>
        <svg width="296" height="31" viewBox="0 0 296 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_5)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.08766 10.0032H4.72486V20.9968H2.3623V10.0032H0V2.93593H7.08766V10.0032ZM20.4755 10.0032L18.1133 10.0032V2.93593H25.2009V10.0032L22.838 10.0032V20.9968H20.4755V10.0032ZM0 28.0641H7.08766V20.9968H0V28.0641ZM25.2009 28.0641H18.1133V20.9968H25.2009V28.0641ZM7.08771 5.29168H18.113V7.64745H7.08771V5.29168ZM18.113 23.3526H7.08771V25.7083H18.113V23.3526Z" fill="#FFC27B"/>
          </g>
          <path d="M31.2006 23.7452V7.25482H34.3102V20.9182H41.8486V23.7452H31.2006Z" fill="white"/>
          <path d="M47.6907 24.075C46.8584 24.075 46.1124 23.9336 45.4527 23.6509C44.7931 23.3525 44.267 22.9285 43.8744 22.3788C43.4975 21.8134 43.309 21.1303 43.309 20.3293C43.309 19.5283 43.4975 18.8609 43.8744 18.3269C44.267 17.7772 44.801 17.3689 45.4763 17.1019C46.1673 16.8192 46.9526 16.6779 47.8321 16.6779H51.0359V16.0183C51.0359 15.4686 50.8632 15.021 50.5176 14.6755C50.1721 14.3143 49.6225 14.1336 48.8686 14.1336C48.1305 14.1336 47.5808 14.3064 47.2196 14.6519C46.8584 14.9817 46.6228 15.4136 46.5128 15.9476L43.7802 15.0288C43.9686 14.432 44.267 13.8902 44.6753 13.4034C45.0994 12.9008 45.6569 12.5003 46.3479 12.2019C47.0547 11.8878 47.9106 11.7308 48.9157 11.7308C50.4548 11.7308 51.672 12.1155 52.5672 12.8851C53.4623 13.6546 53.9099 14.7697 53.9099 16.2303V20.5884C53.9099 21.0596 54.1298 21.2952 54.5696 21.2952H55.5119V23.7452H53.533C52.9519 23.7452 52.4729 23.6038 52.096 23.3211C51.7191 23.0384 51.5306 22.6615 51.5306 22.1904V22.1668H51.083C51.0202 22.3553 50.8789 22.6065 50.659 22.9206C50.4391 23.219 50.0936 23.486 49.6225 23.7216C49.1513 23.9572 48.5074 24.075 47.6907 24.075ZM48.209 21.6721C49.0414 21.6721 49.7167 21.4444 50.2349 20.9889C50.7689 20.5178 51.0359 19.8974 51.0359 19.1279V18.8923H48.0441C47.4944 18.8923 47.0625 19.0101 46.7484 19.2457C46.4343 19.4812 46.2773 19.811 46.2773 20.2351C46.2773 20.6591 46.4422 21.0046 46.772 21.2716C47.1018 21.5386 47.5808 21.6721 48.209 21.6721Z" fill="white"/>
          <path d="M64.7023 24.075C63.65 24.075 62.8412 23.8944 62.2758 23.5331C61.7105 23.1719 61.2943 22.7714 61.0273 22.3317H60.6033V23.7452H57.6821V7.25482H60.6504V13.4034H61.0744C61.2472 13.1207 61.4749 12.8537 61.7576 12.6024C62.056 12.3511 62.4408 12.147 62.9119 11.9899C63.3988 11.8171 63.9956 11.7308 64.7023 11.7308C65.6446 11.7308 66.5162 11.9663 67.3172 12.4375C68.1181 12.8929 68.7621 13.5683 69.2489 14.4635C69.7358 15.3586 69.9792 16.4423 69.9792 17.7144V18.0913C69.9792 19.3634 69.7358 20.4471 69.2489 21.3423C68.7621 22.2375 68.1181 22.9206 67.3172 23.3918C66.5162 23.8472 65.6446 24.075 64.7023 24.075ZM63.8071 21.4836C64.718 21.4836 65.4797 21.1931 66.0922 20.612C66.7047 20.0152 67.0109 19.1514 67.0109 18.0207V17.7851C67.0109 16.6543 66.7047 15.7984 66.0922 15.2173C65.4954 14.6205 64.7337 14.3221 63.8071 14.3221C62.8962 14.3221 62.1345 14.6205 61.522 15.2173C60.9095 15.7984 60.6033 16.6543 60.6033 17.7851V18.0207C60.6033 19.1514 60.9095 20.0152 61.522 20.612C62.1345 21.1931 62.8962 21.4836 63.8071 21.4836Z" fill="white"/>
          <path d="M78.0287 24.075C76.8666 24.075 75.8379 23.8315 74.9427 23.3447C74.0632 22.8421 73.3722 22.1432 72.8696 21.2481C72.3828 20.3372 72.1393 19.2692 72.1393 18.0442V17.7615C72.1393 16.5365 72.3828 15.4764 72.8696 14.5812C73.3565 13.6703 74.0396 12.9715 74.9191 12.4846C75.7986 11.982 76.8194 11.7308 77.9816 11.7308C79.1281 11.7308 80.1254 11.9899 80.9734 12.5082C81.8215 13.0107 82.4811 13.7175 82.9523 14.6284C83.4234 15.5235 83.659 16.5679 83.659 17.7615V18.7745H75.1547C75.1861 19.5755 75.4845 20.2272 76.0499 20.7298C76.6153 21.2323 77.3063 21.4836 78.123 21.4836C78.9553 21.4836 79.5678 21.303 79.9605 20.9418C80.3531 20.5806 80.6515 20.1801 80.8556 19.7404L83.2821 21.0125C83.0622 21.4208 82.7403 21.8684 82.3162 22.3553C81.9079 22.8264 81.3582 23.2347 80.6672 23.5803C79.9762 23.9101 79.0967 24.075 78.0287 24.075ZM75.1783 16.5601H80.6436C80.5808 15.8848 80.306 15.3429 79.8191 14.9346C79.348 14.5263 78.7276 14.3221 77.9581 14.3221C77.1571 14.3221 76.521 14.5263 76.0499 14.9346C75.5787 15.3429 75.2882 15.8848 75.1783 16.5601Z" fill="white"/>
          <path d="M86.301 23.7452V7.25482H89.2692V23.7452H86.301Z" fill="white"/>
          <path d="M104.17 24.075C102.898 24.075 101.775 23.8472 100.801 23.3918C99.8277 22.9364 99.066 22.2846 98.5163 21.4365C97.9667 20.5884 97.6918 19.5676 97.6918 18.374V17.7144H100.754V18.374C100.754 19.3634 101.061 20.1094 101.673 20.612C102.286 21.0989 103.118 21.3423 104.17 21.3423C105.238 21.3423 106.031 21.1303 106.549 20.7062C107.083 20.2822 107.35 19.7404 107.35 19.0808C107.35 18.6253 107.217 18.2562 106.95 17.9735C106.699 17.6908 106.322 17.4631 105.819 17.2904C105.332 17.1019 104.736 16.9292 104.029 16.7721L103.487 16.6543C102.356 16.403 101.383 16.0889 100.566 15.712C99.7649 15.3194 99.1445 14.809 98.7048 14.1808C98.2808 13.5526 98.0687 12.7359 98.0687 11.7308C98.0687 10.7256 98.3043 9.86971 98.7755 9.16299C99.2623 8.44055 99.9376 7.89087 100.801 7.51395C101.681 7.12132 102.71 6.92501 103.887 6.92501C105.065 6.92501 106.11 7.12918 107.021 7.53751C107.947 7.93014 108.67 8.52693 109.188 9.32789C109.722 10.1131 109.989 11.1026 109.989 12.2962V13.0029H106.926V12.2962C106.926 11.6679 106.801 11.1654 106.549 10.7885C106.314 10.3958 105.968 10.1131 105.513 9.94039C105.058 9.75193 104.516 9.65769 103.887 9.65769C102.945 9.65769 102.246 9.8383 101.791 10.1995C101.351 10.545 101.131 11.024 101.131 11.6365C101.131 12.0449 101.233 12.3904 101.437 12.6731C101.657 12.9558 101.979 13.1913 102.403 13.3798C102.827 13.5683 103.369 13.7332 104.029 13.8745L104.571 13.9923C105.749 14.2436 106.769 14.5655 107.633 14.9582C108.513 15.3508 109.196 15.8691 109.683 16.513C110.17 17.1569 110.413 17.9814 110.413 18.9865C110.413 19.9916 110.154 20.879 109.636 21.6485C109.133 22.4024 108.411 22.9992 107.468 23.4389C106.542 23.863 105.442 24.075 104.17 24.075Z" fill="white"/>
          <path d="M117.302 23.7452C116.533 23.7452 115.905 23.5096 115.418 23.0384C114.946 22.5516 114.711 21.9077 114.711 21.1067V14.5106H111.79V12.0606H114.711V8.4327H117.679V12.0606H120.883V14.5106H117.679V20.5884C117.679 21.0596 117.899 21.2952 118.339 21.2952H120.6V23.7452H117.302Z" fill="white"/>
          <path d="M128.022 23.9336C127.111 23.9336 126.31 23.7295 125.619 23.3211C124.944 22.8971 124.418 22.316 124.041 21.5779C123.664 20.8397 123.476 19.9916 123.476 19.0336V12.0606H126.444V18.7981C126.444 19.6775 126.656 20.3372 127.08 20.7769C127.52 21.2166 128.14 21.4365 128.941 21.4365C129.852 21.4365 130.559 21.1381 131.061 20.5413C131.564 19.9288 131.815 19.0808 131.815 17.9971V12.0606H134.783V23.7452H131.862V22.2139H131.438C131.25 22.6065 130.896 22.9913 130.378 23.3682C129.86 23.7452 129.075 23.9336 128.022 23.9336Z" fill="white"/>
          <path d="M142.204 24.075C141.277 24.075 140.406 23.8472 139.589 23.3918C138.788 22.9206 138.144 22.2375 137.657 21.3423C137.171 20.4471 136.927 19.3634 136.927 18.0913V17.7144C136.927 16.4423 137.171 15.3586 137.657 14.4635C138.144 13.5683 138.788 12.8929 139.589 12.4375C140.39 11.9663 141.262 11.7308 142.204 11.7308C142.911 11.7308 143.5 11.8171 143.971 11.9899C144.458 12.147 144.85 12.3511 145.149 12.6024C145.447 12.8537 145.675 13.1207 145.832 13.4034H146.256V7.25482H149.224V23.7452H146.303V22.3317H145.879C145.612 22.7714 145.196 23.1719 144.63 23.5331C144.081 23.8944 143.272 24.075 142.204 24.075ZM143.099 21.4836C144.01 21.4836 144.772 21.1931 145.384 20.612C145.997 20.0152 146.303 19.1514 146.303 18.0207V17.7851C146.303 16.6543 145.997 15.7984 145.384 15.2173C144.788 14.6205 144.026 14.3221 143.099 14.3221C142.188 14.3221 141.427 14.6205 140.814 15.2173C140.202 15.7984 139.895 16.6543 139.895 17.7851V18.0207C139.895 19.1514 140.202 20.0152 140.814 20.612C141.427 21.1931 142.188 21.4836 143.099 21.4836Z" fill="white"/>
          <path d="M152.515 23.7452V12.0606H155.483V23.7452H152.515ZM153.999 10.6942C153.465 10.6942 153.01 10.5215 152.633 10.176C152.272 9.83045 152.091 9.375 152.091 8.80962C152.091 8.24424 152.272 7.78879 152.633 7.44328C153.01 7.09777 153.465 6.92501 153.999 6.92501C154.549 6.92501 155.004 7.09777 155.366 7.44328C155.727 7.78879 155.907 8.24424 155.907 8.80962C155.907 9.375 155.727 9.83045 155.366 10.176C155.004 10.5215 154.549 10.6942 153.999 10.6942Z" fill="white"/>
          <path d="M163.63 24.075C162.468 24.075 161.423 23.8394 160.497 23.3683C159.57 22.8971 158.84 22.2139 158.306 21.3187C157.772 20.4236 157.505 19.3478 157.505 18.0914V17.7144C157.505 16.458 157.772 15.3822 158.306 14.487C158.84 13.5918 159.57 12.9087 160.497 12.4375C161.423 11.9664 162.468 11.7308 163.63 11.7308C164.792 11.7308 165.836 11.9664 166.763 12.4375C167.689 12.9087 168.42 13.5918 168.954 14.487C169.488 15.3822 169.755 16.458 169.755 17.7144V18.0914C169.755 19.3478 169.488 20.4236 168.954 21.3187C168.42 22.2139 167.689 22.8971 166.763 23.3683C165.836 23.8394 164.792 24.075 163.63 24.075ZM163.63 21.4365C164.541 21.4365 165.294 21.146 165.891 20.5649C166.488 19.9681 166.786 19.12 166.786 18.0207V17.7851C166.786 16.6857 166.488 15.8455 165.891 15.2644C165.31 14.6676 164.556 14.3692 163.63 14.3692C162.719 14.3692 161.965 14.6676 161.368 15.2644C160.771 15.8455 160.473 16.6857 160.473 17.7851V18.0207C160.473 19.12 160.771 19.9681 161.368 20.5649C161.965 21.146 162.719 21.4365 163.63 21.4365Z" fill="white"/>
          <path d="M177.411 24V7.2H188.115V9.816H180.315V14.232H187.443V16.848H180.315V21.384H188.235V24H177.411ZM190.843 24V12.144H193.555V13.8H193.963C194.171 13.352 194.547 12.928 195.091 12.528C195.635 12.128 196.459 11.928 197.563 11.928C198.475 11.928 199.283 12.136 199.987 12.552C200.691 12.968 201.235 13.544 201.619 14.28C202.019 15.016 202.219 15.888 202.219 16.896V24H199.459V17.112C199.459 16.152 199.219 15.44 198.739 14.976C198.275 14.496 197.611 14.256 196.747 14.256C195.771 14.256 195.003 14.584 194.443 15.24C193.883 15.88 193.603 16.8 193.603 18V24H190.843ZM209.792 24C209.024 24 208.408 23.776 207.944 23.328C207.496 22.864 207.272 22.24 207.272 21.456V14.424H204.176V12.144H207.272V8.328H210.032V12.144H213.44V14.424H210.032V21C210.032 21.48 210.256 21.72 210.704 21.72H213.08V24H209.792ZM221.251 24.336C220.067 24.336 219.019 24.088 218.107 23.592C217.211 23.08 216.507 22.368 215.995 21.456C215.499 20.528 215.251 19.448 215.251 18.216V17.928C215.251 16.68 215.499 15.6 215.995 14.688C216.491 13.776 217.187 13.072 218.083 12.576C218.979 12.064 220.011 11.808 221.179 11.808C222.331 11.808 223.339 12.064 224.203 12.576C225.067 13.072 225.739 13.776 226.219 14.688C226.699 15.6 226.939 16.664 226.939 17.88V18.864H218.035C218.067 19.792 218.395 20.536 219.019 21.096C219.643 21.656 220.411 21.936 221.323 21.936C222.219 21.936 222.883 21.744 223.315 21.36C223.747 20.96 224.075 20.512 224.299 20.016L226.579 21.192C226.355 21.624 226.027 22.088 225.595 22.584C225.179 23.064 224.619 23.48 223.915 23.832C223.211 24.168 222.323 24.336 221.251 24.336ZM218.059 16.776H224.131C224.067 15.992 223.763 15.368 223.219 14.904C222.691 14.44 222.003 14.208 221.155 14.208C220.275 14.208 219.571 14.44 219.043 14.904C218.515 15.368 218.187 15.992 218.059 16.776ZM229.772 24V12.144H232.484V13.512H232.892C233.068 13.016 233.364 12.656 233.78 12.432C234.196 12.208 234.692 12.096 235.268 12.096H236.708V14.544H235.22C234.42 14.544 233.772 14.76 233.276 15.192C232.78 15.608 232.532 16.256 232.532 17.136V24H229.772ZM239.147 28.8V12.144H241.859V13.704H242.267C242.539 13.208 242.971 12.768 243.563 12.384C244.171 12 245.035 11.808 246.155 11.808C247.115 11.808 248.003 12.048 248.819 12.528C249.651 12.992 250.315 13.68 250.811 14.592C251.307 15.504 251.555 16.6 251.555 17.88V18.264C251.555 19.544 251.307 20.64 250.811 21.552C250.315 22.464 249.659 23.16 248.843 23.64C248.027 24.104 247.131 24.336 246.155 24.336C245.403 24.336 244.771 24.248 244.259 24.072C243.763 23.896 243.355 23.664 243.035 23.376C242.731 23.088 242.491 22.8 242.315 22.512H241.907V28.8H239.147ZM245.339 21.936C246.347 21.936 247.171 21.616 247.811 20.976C248.467 20.32 248.795 19.392 248.795 18.192V17.952C248.795 16.736 248.467 15.808 247.811 15.168C247.155 14.528 246.331 14.208 245.339 14.208C244.347 14.208 243.515 14.528 242.843 15.168C242.187 15.808 241.859 16.736 241.859 17.952V18.192C241.859 19.392 242.187 20.32 242.843 20.976C243.515 21.616 244.347 21.936 245.339 21.936ZM254.476 24V12.144H257.188V13.512H257.596C257.772 13.016 258.068 12.656 258.484 12.432C258.9 12.208 259.396 12.096 259.972 12.096H261.412V14.544H259.924C259.124 14.544 258.476 14.76 257.98 15.192C257.484 15.608 257.236 16.256 257.236 17.136V24H254.476ZM263.851 24V12.144H266.611V24H263.851ZM265.219 10.632C264.723 10.632 264.291 10.472 263.923 10.152C263.571 9.816 263.395 9.376 263.395 8.832C263.395 8.288 263.571 7.856 263.923 7.536C264.291 7.2 264.723 7.032 265.219 7.032C265.747 7.032 266.179 7.2 266.515 7.536C266.867 7.856 267.043 8.288 267.043 8.832C267.043 9.376 266.867 9.816 266.515 10.152C266.179 10.472 265.747 10.632 265.219 10.632ZM275.004 24.336C273.468 24.336 272.204 24 271.212 23.328C270.22 22.656 269.62 21.672 269.412 20.376L271.956 19.728C272.068 20.336 272.268 20.816 272.556 21.168C272.844 21.52 273.196 21.768 273.612 21.912C274.044 22.056 274.508 22.128 275.004 22.128C275.756 22.128 276.316 21.992 276.684 21.72C277.068 21.448 277.26 21.104 277.26 20.688C277.26 20.256 277.076 19.936 276.708 19.728C276.356 19.52 275.812 19.344 275.076 19.2L274.332 19.08C273.516 18.92 272.772 18.704 272.1 18.432C271.428 18.144 270.884 17.76 270.468 17.28C270.068 16.784 269.868 16.16 269.868 15.408C269.868 14.256 270.292 13.368 271.14 12.744C272.004 12.12 273.132 11.808 274.524 11.808C275.852 11.808 276.948 12.104 277.812 12.696C278.676 13.288 279.236 14.08 279.492 15.072L276.948 15.84C276.82 15.168 276.54 14.696 276.108 14.424C275.676 14.136 275.148 13.992 274.524 13.992C273.884 13.992 273.388 14.104 273.036 14.328C272.7 14.552 272.532 14.872 272.532 15.288C272.532 15.704 272.708 16.016 273.06 16.224C273.412 16.432 273.884 16.584 274.476 16.68L275.22 16.824C276.1 16.984 276.892 17.192 277.596 17.448C278.316 17.704 278.884 18.072 279.3 18.552C279.716 19.032 279.924 19.68 279.924 20.496C279.924 21.728 279.476 22.68 278.58 23.352C277.7 24.008 276.508 24.336 275.004 24.336ZM288.142 24.336C286.958 24.336 285.91 24.088 284.998 23.592C284.102 23.08 283.398 22.368 282.886 21.456C282.39 20.528 282.142 19.448 282.142 18.216V17.928C282.142 16.68 282.39 15.6 282.886 14.688C283.382 13.776 284.078 13.072 284.974 12.576C285.87 12.064 286.902 11.808 288.07 11.808C289.222 11.808 290.23 12.064 291.094 12.576C291.958 13.072 292.63 13.776 293.11 14.688C293.59 15.6 293.83 16.664 293.83 17.88V18.864H284.926C284.958 19.792 285.286 20.536 285.91 21.096C286.534 21.656 287.302 21.936 288.214 21.936C289.11 21.936 289.774 21.744 290.206 21.36C290.638 20.96 290.966 20.512 291.19 20.016L293.47 21.192C293.246 21.624 292.918 22.088 292.486 22.584C292.07 23.064 291.51 23.48 290.806 23.832C290.102 24.168 289.214 24.336 288.142 24.336ZM284.95 16.776H291.022C290.958 15.992 290.654 15.368 290.11 14.904C289.582 14.44 288.894 14.208 288.046 14.208C287.166 14.208 286.462 14.44 285.934 14.904C285.406 15.368 285.078 15.992 284.95 16.776Z" fill="white"/>
          <defs>
          <clipPath id="clip0_1_5">
          <rect width="25.2006" height="25.1281" fill="white" transform="translate(0 2.93593)"/>
          </clipPath>
          </defs>
        </svg>
      <% } else { %>
        <svg width="173" height="26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="#FFDAD1" d="M3.5 4.5h19v18h-19z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7 7.503h-7.087V5.147H7.588V2.792h11.025V.436H25.7v7.067Zm-18.112 0H5.225v10.994H2.863V7.503H.5V.436h7.088v7.067Zm0 18.061v-7.067H.5v7.067h7.088ZM25.7 18.497v7.067h-7.088v-2.356H7.588v-2.355h11.025v-2.356H25.7Zm-2.363 0V7.503h-2.363v10.994h2.363Z" fill="#FF8267" class="astro-7IFFX3A3"></path>
          <path d="M33.946 21.245V4.755h3.11v13.663h7.538v2.827H33.946ZM50.436 21.575c-.833 0-1.578-.141-2.238-.424a3.839 3.839 0 0 1-1.578-1.272c-.377-.566-.566-1.249-.566-2.05 0-.8.189-1.468.566-2.002.392-.55.926-.958 1.602-1.225.69-.283 1.476-.424 2.355-.424h3.204v-.66c0-.55-.173-.997-.518-1.343-.346-.36-.895-.541-1.65-.541-.737 0-1.287.172-1.648.518-.362.33-.597.762-.707 1.296l-2.733-.92a4.72 4.72 0 0 1 .895-1.625c.425-.502.982-.903 1.673-1.201.707-.314 1.563-.471 2.568-.471 1.539 0 2.756.385 3.651 1.154.896.77 1.343 1.885 1.343 3.345v4.358c0 .472.22.707.66.707h.942v2.45h-1.979c-.58 0-1.06-.141-1.437-.424a1.343 1.343 0 0 1-.565-1.13v-.024h-.448c-.063.188-.204.44-.424.754-.22.298-.565.565-1.036.8-.471.236-1.115.354-1.932.354Zm.518-2.403c.832 0 1.508-.228 2.026-.683.534-.471.801-1.091.801-1.861v-.236H50.79c-.55 0-.981.118-1.295.354-.315.235-.472.565-.472.99 0 .423.165.769.495 1.036.33.267.809.4 1.437.4ZM67.448 21.575c-1.053 0-1.862-.18-2.427-.542-.565-.361-.981-.762-1.248-1.201h-.425v1.413h-2.92V4.755h2.968v6.148h.424c.172-.282.4-.55.683-.8.298-.252.683-.456 1.154-.613.487-.173 1.084-.26 1.79-.26.943 0 1.814.236 2.615.708.801.455 1.445 1.13 1.932 2.025.487.896.73 1.98.73 3.251v.377c0 1.272-.243 2.356-.73 3.251-.487.896-1.13 1.579-1.932 2.05a5.2 5.2 0 0 1-2.614.683Zm-.896-2.591c.911 0 1.673-.29 2.285-.872.613-.597.92-1.46.92-2.591v-.236c0-1.13-.307-1.987-.92-2.568-.596-.597-1.358-.895-2.285-.895-.91 0-1.672.299-2.285.895-.612.581-.919 1.437-.919 2.568v.236c0 1.13.307 1.994.92 2.591.612.581 1.373.872 2.284.872ZM80.774 21.575c-1.162 0-2.191-.243-3.086-.73a5.428 5.428 0 0 1-2.073-2.097c-.487-.91-.73-1.979-.73-3.204v-.282c0-1.225.243-2.286.73-3.18a5.072 5.072 0 0 1 2.05-2.097c.879-.503 1.9-.754 3.062-.754 1.146 0 2.144.259 2.992.777a5.163 5.163 0 0 1 1.979 2.12c.47.896.706 1.94.706 3.134v1.012H77.9c.031.802.33 1.453.895 1.956.566.502 1.257.754 2.073.754.833 0 1.445-.18 1.838-.542.392-.361.69-.762.895-1.202l2.426 1.273c-.22.408-.542.855-.966 1.342-.408.471-.958.88-1.649 1.225-.69.33-1.57.495-2.638.495Zm-2.85-7.515h5.465c-.063-.675-.338-1.217-.825-1.625-.47-.409-1.091-.613-1.86-.613-.802 0-1.438.204-1.909.613-.471.408-.762.95-.872 1.625ZM89.046 21.245V4.755h2.968v16.49h-2.968ZM106.915 21.575c-1.272 0-2.395-.228-3.368-.683-.974-.456-1.736-1.107-2.285-1.955-.55-.849-.825-1.87-.825-3.063v-.66h3.062v.66c0 .99.307 1.736.919 2.238.613.487 1.445.73 2.497.73 1.068 0 1.861-.212 2.38-.636.534-.424.801-.966.801-1.625 0-.456-.134-.825-.401-1.107-.251-.283-.628-.51-1.131-.684a12.566 12.566 0 0 0-1.79-.518l-.542-.118c-1.131-.25-2.104-.565-2.921-.942-.801-.393-1.421-.903-1.861-1.531-.424-.628-.636-1.445-.636-2.45 0-1.005.235-1.861.707-2.568.486-.722 1.162-1.272 2.026-1.649.879-.393 1.908-.589 3.086-.589s2.222.204 3.133.613c.926.392 1.649.989 2.167 1.79.534.785.801 1.775.801 2.968v.707h-3.062v-.707c0-.628-.126-1.13-.377-1.507a1.99 1.99 0 0 0-1.037-.849c-.455-.188-.997-.282-1.625-.282-.943 0-1.642.18-2.097.542-.44.345-.66.824-.66 1.437 0 .408.102.753.307 1.036.22.283.541.518.966.707.424.188.965.353 1.625.495l.542.117c1.178.252 2.199.574 3.062.966.88.393 1.563.911 2.05 1.555.487.644.73 1.468.73 2.474 0 1.005-.259 1.892-.777 2.662-.503.753-1.225 1.35-2.168 1.79-.926.424-2.026.636-3.298.636ZM120.047 21.245c-.769 0-1.397-.235-1.884-.707-.471-.486-.707-1.13-.707-1.931V12.01h-2.921V9.56h2.921V5.933h2.968V9.56h3.204v2.45h-3.204v6.078c0 .47.22.706.66.706h2.262v2.45h-3.299ZM130.767 21.434c-.91 0-1.711-.204-2.402-.613a4.345 4.345 0 0 1-1.579-1.743c-.377-.738-.565-1.586-.565-2.544V9.56h2.968v6.737c0 .88.212 1.54.636 1.979.44.44 1.06.66 1.861.66.911 0 1.618-.299 2.12-.896.503-.612.754-1.46.754-2.544V9.561h2.968v11.684h-2.921v-1.531h-.424c-.188.393-.542.777-1.06 1.154-.518.377-1.303.566-2.356.566ZM144.949 21.575a5.288 5.288 0 0 1-2.615-.683c-.801-.471-1.445-1.154-1.931-2.05-.487-.895-.731-1.979-.731-3.25v-.378c0-1.272.244-2.355.731-3.25.486-.896 1.13-1.571 1.931-2.026a5.067 5.067 0 0 1 2.615-.707c.707 0 1.296.086 1.767.259.487.157.88.361 1.178.612.298.252.526.519.683.801h.424V4.755h2.968v16.49h-2.921v-1.413h-.424c-.267.44-.683.84-1.248 1.201-.55.361-1.359.542-2.427.542Zm.895-2.591c.911 0 1.673-.29 2.285-.872.613-.597.919-1.46.919-2.591v-.236c0-1.13-.306-1.987-.919-2.568-.596-.597-1.358-.895-2.285-.895-.91 0-1.672.299-2.285.895-.612.581-.918 1.437-.918 2.568v.236c0 1.13.306 1.994.918 2.591.613.581 1.375.872 2.285.872ZM155.26 21.245V9.561h2.969v11.684h-2.969Zm1.484-13.05a1.95 1.95 0 0 1-1.366-.519c-.361-.346-.542-.801-.542-1.366 0-.566.181-1.021.542-1.367a1.95 1.95 0 0 1 1.366-.518c.55 0 1.006.173 1.367.518.361.346.542.801.542 1.367 0 .565-.181 1.02-.542 1.366-.361.346-.817.518-1.367.518ZM166.375 21.575c-1.162 0-2.207-.235-3.133-.707a5.298 5.298 0 0 1-2.191-2.05c-.534-.894-.801-1.97-.801-3.227v-.377c0-1.256.267-2.332.801-3.227a5.298 5.298 0 0 1 2.191-2.05c.926-.47 1.971-.706 3.133-.706s2.206.235 3.133.707a5.298 5.298 0 0 1 2.191 2.05c.534.894.801 1.97.801 3.226v.377c0 1.257-.267 2.333-.801 3.228a5.298 5.298 0 0 1-2.191 2.05c-.927.47-1.971.706-3.133.706Zm0-2.638c.911 0 1.665-.291 2.261-.872.597-.597.896-1.445.896-2.544v-.236c0-1.1-.299-1.94-.896-2.52-.581-.597-1.335-.896-2.261-.896-.911 0-1.665.299-2.262.896-.596.58-.895 1.42-.895 2.52v.236c0 1.1.299 1.947.895 2.544.597.581 1.351.872 2.262.872Z" fill="#131522"></path>
        </svg>
      <% } %>
    </a>
    <% const quickLinks = [
      {
        label: "Docs",
        href: "/guide/"
      },
      {
        label: "Playground",
        href: "/playground/"
      },
      {
        label: "Templates",
        href: "/templates/"
      },
      {
        label: "Tags",
        href: "/tags/"
      }
    ];
      const currentQuickLink = quickLinks.find(link => link.href.includes(page.type));
    %>
    <div class="page-header-content-switcher">
      <div>
        <a href="<%- currentQuickLink ? currentQuickLink.href : quickLinks[0].href %>">
          <%- currentQuickLink ? currentQuickLink.label : quickLinks[0].label %>
        </a>
        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L6 6L1 1" stroke="#8B8D9E"/></svg>
      </div>
      <ul>
        <% quickLinks.forEach(function(link) { %>
          <% if(!link.href.includes(page.type)) { %>
          <li><a href="<%- link.href %>"><%- link.label %></a></li>
        <% }}); %>
      </ul>
    </div>
  </div>

  <div class="AlgoliaSearch">
    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="AlgoliaSearchIcon">
      <path d="M8 16C9.77498 15.9996 11.4988 15.4054 12.897 14.312L17.293 18.708L18.707 17.294L14.311 12.898C15.405 11.4997 15.9996 9.77544 16 8C16 3.589 12.411 0 8 0C3.589 0 0 3.589 0 8C0 12.411 3.589 16 8 16ZM8 2C11.309 2 14 4.691 14 8C14 11.309 11.309 14 8 14C4.691 14 2 11.309 2 8C2 4.691 4.691 2 8 2Z" />
    </svg>
    <input id="docsearch-input" placeholder="Search docs" data-site-version="<%- tier %>" />
  </div>

  <button class="hamburger-button" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav>
    <% if(page.type !== "playground" && page.type !== "blog") { %>
      <%- partial("partials/toc", { type: page.type, tier: tier, component: "nav" }) %>
    <% } %>
    <ul class="page-header-main-nav">
      <% if(isEnterpriseTheme) { %>
        <li>
          <a href="https://heartex.com/product">Product</a>
        </li>
        <li>
          <a href="https://heartex.com/pricing">Pricing</a>
        </li>
        <li>
          <a href="/guide/">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/guide/get_started.html#Quick-start">Quickstart</a>
            </li>
            <li>
              <a href="/guide/install_enterprise.html">Install</a>
            </li>
            <li>
              <a href="/guide/tasks.html">Import Data</a>
            </li>
            <li>
              <a href="https://app.heartex.com/docs/api">API Reference</a>
            </li>
            <li>
              <a href="https://labelstud.io/sdk">SDK Reference</a>
            </li>
            <li class="headerSeparator">
              <a href="/tags">Customizable Tags</a>
            </li>
            <li>
              <a href="/templates">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://heartex.com/blog">Blog</a>
        </li>
        <li>
          <a href="http://app.heartex.com/" target="_blank" rel="noopener noreferrer">Log In</a>
        </li>
        <li>
          <%- partial("component/button", { url: "https://app.heartex.com/user/trial", label: "Free Trial", }) %>
        </li>
      <% } else { %>
        <li>
          <a href="/playground/">Playground</a>
        </li>
        <li>
          <a href="/learn/">
            Learn
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/videos/">Videos</a>
            </li>
            <li class="headerSeparator">
              <a href="/community/">
                Community
              </a>
            </li>
            <li>
              <a href="/academic/">Academic Program</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/guide/">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/guide/get_started.html#Quick-start">Quickstart</a>
            </li>
            <li>
              <a href="/guide/install.html">Install</a>
            </li>
            <li>
              <a href="/guide/tasks.html">Import Data</a>
            </li>
            <li>
              <a href="/api">API Reference</a>
            </li>
            <li>
              <a href="/sdk">SDK Reference</a>
            </li>
            <li class="headerSeparator">
              <a href="/tags">Customizable Tags</a>
            </li>
            <li>
              <a href="/templates">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/integrations">Integrations</a>
        </li>
        <li>
          <a href="https://heartex.com/free-trial" target="_blank" rel="noopener noreferrer">Try Cloud</a>
        </li>
        <li>
          <a href="https://github.com/heartexlabs/label-studio/" class="github-stars" target="_blank" rel="noopener noreferrer">
            <svg class="github-icon" viewBox="0 0 24 24" width="24" height="24"><path fill="black" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"></path></svg>
            <%- partial("component/text", {text: "", size: "Eyebrow", tag: "span", customClass: "github-stars-count"}) %>
          </a>
        </li>
        <li>
          <%- partial("component/button", { url: "/guide/get_started.html#Quick-start", label: "Quick start", }) %>
        </li>
        <% } %>
    </ul>
  </nav>
</header>
