<% const tier = theme.tier || "all" %>
<% const isEnterpriseTheme = tier === "enterprise" %>

<header class="page-header">
  <div class="page-header-logo">
    <a href="<% if(isEnterpriseTheme) { %>https://humansignal.com/<% } else { %>https://labelstud.io/<% } %>" class="HeaderLogo" arial-label="Homepage">
      <% if(isEnterpriseTheme) { %>
        <svg width="223" height="34" viewBox="0 0 223 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_422_3112)">
          <rect x="2.40674" y="3.6626" width="15.2442" height="14.4419" fill="#FFD6CD"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.68663 6.08191H0V0.411621H5.68663V6.08191ZM20.2193 6.08192H14.5327V0.411638H20.2193V6.08192ZM0 20.5728H5.68663V14.9025H0V20.5728ZM20.2193 20.5728H14.5327V14.9025H20.2193V20.5728ZM1.89518 6.08201H3.79073V14.9025H1.89518V6.08201ZM18.3236 6.08201H16.4281V14.9025H18.3236V6.08201ZM5.68677 2.30188H14.5326V4.19197H5.68677V2.30188ZM14.5326 16.7923H5.68677V18.6824H14.5326V16.7923Z" fill="#FF7557"/>
          </g>
          <path d="M27.637 3.79955V14.9514H33.9905V17.0756H25.418V3.79955H27.637Z" fill="#FDFDFC"/>
          <path d="M44.3161 17.0756H42.192V15.7859C41.9644 16.2158 41.5724 16.5698 41.0161 16.848C40.4598 17.1261 39.8655 17.2652 39.2333 17.2652C38.4115 17.2652 37.6592 17.0503 36.9764 16.6204C36.2936 16.1905 35.7563 15.6089 35.3643 14.8755C34.9724 14.1422 34.7764 13.3267 34.7764 12.429C34.7764 11.5439 34.9724 10.7347 35.3643 10.0013C35.7563 9.268 36.2936 8.68639 36.9764 8.25649C37.6592 7.8266 38.4115 7.61166 39.2333 7.61166C39.8655 7.61166 40.4598 7.75074 41.0161 8.02891C41.5724 8.30707 41.9644 8.6611 42.192 9.09099V7.80132H44.3161V17.0756ZM36.8436 12.429C36.8436 12.96 36.9638 13.4405 37.204 13.8704C37.4569 14.3002 37.7983 14.6416 38.2281 14.8945C38.6707 15.1347 39.1511 15.2549 39.6695 15.2549C40.1879 15.2549 40.681 15.1221 41.1489 14.8566C41.6167 14.5911 41.9644 14.2497 42.192 13.8324V11.0634C41.977 10.6462 41.6357 10.3048 41.1678 10.0393C40.7 9.76111 40.2006 9.62203 39.6695 9.62203C39.1385 9.62203 38.658 9.74847 38.2281 10.0013C37.7983 10.2416 37.4569 10.5766 37.204 11.0065C36.9638 11.4238 36.8436 11.8979 36.8436 12.429Z" fill="#FDFDFC"/>
          <path d="M48.6352 9.09099C48.8627 8.6611 49.2547 8.30707 49.811 8.02891C50.38 7.75074 50.9743 7.61166 51.5938 7.61166C52.4157 7.61166 53.168 7.8266 53.8507 8.25649C54.5335 8.68639 55.0709 9.268 55.4628 10.0013C55.8548 10.7347 56.0508 11.5439 56.0508 12.429C56.0508 13.3267 55.8548 14.1422 55.4628 14.8755C55.0709 15.6089 54.5335 16.1905 53.8507 16.6204C53.168 17.0503 52.4157 17.2652 51.5938 17.2652C50.9743 17.2652 50.38 17.1261 49.811 16.848C49.2547 16.5698 48.8627 16.2158 48.6352 15.7859V17.0756H46.53V3.79955H48.6352V9.09099ZM48.6352 13.8324C48.8627 14.2497 49.2104 14.5911 49.6783 14.8566C50.1461 15.1221 50.6392 15.2549 51.1576 15.2549C51.676 15.2549 52.1501 15.1347 52.58 14.8945C53.0226 14.6416 53.3639 14.3002 53.6042 13.8704C53.8571 13.4405 53.9835 12.96 53.9835 12.429C53.9835 11.8979 53.8571 11.4238 53.6042 11.0065C53.3639 10.5766 53.0289 10.2416 52.599 10.0013C52.1691 9.74847 51.6886 9.62203 51.1576 9.62203C50.6266 9.62203 50.1271 9.76111 49.6593 10.0393C49.1915 10.3048 48.8501 10.6462 48.6352 11.0634V13.8324Z" fill="#FDFDFC"/>
          <path d="M61.9669 17.2652C61.0945 17.2652 60.2916 17.0566 59.5582 16.6394C58.8249 16.2095 58.2433 15.6215 57.8134 14.8755C57.3835 14.1296 57.1686 13.3014 57.1686 12.391C57.1686 11.506 57.3772 10.7031 57.7944 9.98238C58.2243 9.24904 58.8059 8.67374 59.5393 8.25649C60.2726 7.8266 61.0755 7.61166 61.9479 7.61166C62.7698 7.61166 63.5221 7.80764 64.2048 8.1996C64.8876 8.59156 65.425 9.1226 65.8169 9.79272C66.2089 10.4628 66.4049 11.2088 66.4049 12.0307C66.4049 12.2583 66.3796 12.5617 66.329 12.941H59.2169C59.3306 13.7123 59.6341 14.3192 60.1272 14.7617C60.633 15.2043 61.2715 15.4255 62.0428 15.4255C62.5611 15.4255 63.0416 15.3181 63.4841 15.1031C63.9393 14.8755 64.2681 14.5847 64.4704 14.2307L66.1394 15.2549C65.798 15.887 65.2543 16.3802 64.5083 16.7342C63.775 17.0882 62.9278 17.2652 61.9669 17.2652ZM64.2617 11.4238C64.1859 10.8295 63.9204 10.3427 63.4652 9.96341C63.01 9.5841 62.4726 9.39444 61.8531 9.39444C61.183 9.39444 60.6203 9.57778 60.1651 9.94445C59.7226 10.2985 59.4255 10.7916 59.2738 11.4238H64.2617Z" fill="#FDFDFC"/>
          <path d="M70.268 17.0756H68.1628V3.79955H70.268V17.0756Z" fill="#FDFDFC"/>
          <path d="M81.083 3.60989C81.9302 3.60989 82.7773 3.79322 83.6244 4.15989C84.4842 4.51392 85.1417 4.96278 85.5969 5.50646L84.3072 7.23234C83.8647 6.77717 83.3336 6.41682 82.7141 6.1513C82.1072 5.88578 81.5066 5.75302 80.9123 5.75302C80.3054 5.75302 79.806 5.8921 79.414 6.17026C79.0347 6.44843 78.8451 6.80878 78.8451 7.25131C78.8451 7.63063 78.9652 7.94672 79.2054 8.1996C79.4583 8.45248 79.7681 8.65478 80.1347 8.8065C80.514 8.94558 81.0324 9.10995 81.6899 9.29961C82.5876 9.55249 83.3147 9.81169 83.871 10.0772C84.44 10.3301 84.9204 10.7157 85.3124 11.2341C85.717 11.7399 85.9193 12.41 85.9193 13.2445C85.9193 13.9652 85.7233 14.6353 85.3313 15.2549C84.952 15.8618 84.402 16.3485 83.6813 16.7152C82.9606 17.0819 82.1261 17.2652 81.1779 17.2652C80.1916 17.2652 79.2181 17.0503 78.2571 16.6204C77.2962 16.1905 76.5186 15.6468 75.9243 14.9893L77.3468 13.3583C77.9284 13.9146 78.5226 14.3508 79.1295 14.6669C79.7365 14.9704 80.4192 15.1221 81.1779 15.1221C81.9112 15.1221 82.5055 14.9514 82.9606 14.61C83.4158 14.2686 83.6434 13.8198 83.6434 13.2635C83.6434 12.8968 83.5233 12.5997 83.2831 12.3721C83.0428 12.1318 82.7394 11.9422 82.3727 11.8031C82.006 11.664 81.5003 11.506 80.8554 11.3289C79.9577 11.0887 79.2244 10.8485 78.6554 10.6082C78.0991 10.3554 77.6186 9.97606 77.214 9.4703C76.8094 8.95191 76.6071 8.26914 76.6071 7.422C76.6071 6.71395 76.7968 6.06911 77.1761 5.4875C77.568 4.90588 78.0991 4.4507 78.7692 4.12196C79.452 3.78058 80.2232 3.60989 81.083 3.60989Z" fill="#FDFDFC"/>
          <path d="M91.5647 17.2083C90.5153 17.2083 89.6681 16.8922 89.0233 16.26C88.3911 15.6152 88.075 14.7301 88.075 13.6048V9.81169H86.2922V7.80132H88.075V5.31681H90.1802V7.80132H92.6078V9.81169H90.1802V13.51C90.1802 14.041 90.3383 14.4646 90.6544 14.7807C90.9831 15.0842 91.3877 15.2359 91.8682 15.2359C92.0957 15.2359 92.336 15.198 92.5889 15.1221L92.7027 16.9807C92.3992 17.1325 92.0199 17.2083 91.5647 17.2083Z" fill="#FDFDFC"/>
          <path d="M100.804 15.8428C100.526 16.2727 100.134 16.6204 99.6278 16.8859C99.1221 17.1388 98.5784 17.2652 97.9968 17.2652C96.8335 17.2652 95.9105 16.8922 95.2278 16.1462C94.545 15.3876 94.2036 14.3698 94.2036 13.0928V7.80132H96.3088V12.7514C96.3088 13.4974 96.5048 14.0853 96.8968 14.5152C97.3014 14.9451 97.8387 15.16 98.5088 15.16C98.9767 15.16 99.4129 15.0462 99.8175 14.8186C100.235 14.5911 100.563 14.2813 100.804 13.8893L100.823 7.80132H102.947V17.0756H100.804V15.8428Z" fill="#FDFDFC"/>
          <path d="M112.11 11.0634C111.895 10.6462 111.553 10.3048 111.085 10.0393C110.618 9.76111 110.118 9.62203 109.587 9.62203C109.056 9.62203 108.576 9.74847 108.146 10.0013C107.716 10.2416 107.375 10.5766 107.122 11.0065C106.881 11.4238 106.761 11.8979 106.761 12.429C106.761 12.96 106.881 13.4405 107.122 13.8704C107.375 14.3002 107.716 14.6416 108.146 14.8945C108.588 15.1347 109.069 15.2549 109.587 15.2549C110.106 15.2549 110.599 15.1221 111.067 14.8566C111.534 14.5911 111.882 14.2497 112.11 13.8324V11.0634ZM104.694 12.429C104.694 11.5439 104.89 10.7347 105.282 10.0013C105.674 9.268 106.211 8.68639 106.894 8.25649C107.577 7.8266 108.329 7.61166 109.151 7.61166C109.783 7.61166 110.377 7.75074 110.934 8.02891C111.49 8.30707 111.882 8.6611 112.11 9.09099V3.79955H114.215V17.0756H112.11V15.7859C111.882 16.2158 111.49 16.5698 110.934 16.848C110.377 17.1261 109.783 17.2652 109.151 17.2652C108.329 17.2652 107.577 17.0503 106.894 16.6204C106.211 16.1905 105.674 15.6089 105.282 14.8755C104.89 14.1422 104.694 13.3267 104.694 12.429Z" fill="#FDFDFC"/>
          <path d="M118.553 7.80132V17.0756H116.448V7.80132H118.553ZM117.51 3.49609C117.876 3.49609 118.192 3.62885 118.458 3.89437C118.736 4.15989 118.875 4.47599 118.875 4.84266C118.875 5.22198 118.736 5.54439 118.458 5.80991C118.192 6.07543 117.876 6.2082 117.51 6.2082C117.143 6.2082 116.827 6.07543 116.561 5.80991C116.296 5.54439 116.163 5.22198 116.163 4.84266C116.163 4.47599 116.296 4.15989 116.561 3.89437C116.827 3.62885 117.143 3.49609 117.51 3.49609Z" fill="#FDFDFC"/>
          <path d="M125.125 7.61166C126.01 7.61166 126.819 7.8266 127.552 8.25649C128.286 8.67374 128.867 9.25536 129.297 10.0013C129.727 10.7347 129.942 11.5502 129.942 12.4479C129.942 13.3456 129.727 14.1612 129.297 14.8945C128.867 15.6278 128.286 16.2095 127.552 16.6394C126.819 17.0566 126.01 17.2652 125.125 17.2652C124.227 17.2652 123.412 17.0566 122.678 16.6394C121.945 16.2095 121.363 15.6278 120.933 14.8945C120.516 14.1612 120.307 13.3456 120.307 12.4479C120.307 11.5502 120.516 10.7347 120.933 10.0013C121.363 9.25536 121.945 8.67374 122.678 8.25649C123.424 7.8266 124.24 7.61166 125.125 7.61166ZM122.375 12.4479C122.375 12.9663 122.495 13.4405 122.735 13.8704C122.975 14.2876 123.304 14.6227 123.721 14.8755C124.151 15.1158 124.619 15.2359 125.125 15.2359C125.63 15.2359 126.092 15.1158 126.509 14.8755C126.926 14.6227 127.255 14.2876 127.495 13.8704C127.736 13.4405 127.856 12.9663 127.856 12.4479C127.856 11.9295 127.736 11.4554 127.495 11.0255C127.255 10.5956 126.926 10.2605 126.509 10.0203C126.092 9.76743 125.63 9.64099 125.125 9.64099C124.619 9.64099 124.151 9.76743 123.721 10.0203C123.304 10.2605 122.975 10.5956 122.735 11.0255C122.495 11.4554 122.375 11.9295 122.375 12.4479Z" fill="#FDFDFC"/>
          <path d="M143.804 3.79955V5.92371H138.19V9.05306H143.197V11.1772H138.19V14.9514H143.804V17.0756H135.971V3.79955H143.804Z" fill="#FDFDFC"/>
          <path d="M147.909 9.03409C148.2 8.59156 148.592 8.24385 149.085 7.99097C149.591 7.7381 150.135 7.61166 150.716 7.61166C151.88 7.61166 152.803 7.99097 153.485 8.7496C154.168 9.49559 154.509 10.5071 154.509 11.7841V17.0756H152.404V12.1255C152.404 11.3795 152.202 10.7916 151.797 10.3617C151.405 9.9318 150.874 9.71686 150.204 9.71686C149.736 9.71686 149.3 9.83065 148.896 10.0582C148.491 10.2858 148.162 10.5956 147.909 10.9876V17.0756H145.785V7.80132H147.909V9.03409Z" fill="#FDFDFC"/>
          <path d="M160.704 17.2083C159.655 17.2083 158.808 16.8922 158.163 16.26C157.531 15.6152 157.215 14.7301 157.215 13.6048V9.81169H155.432V7.80132H157.215V5.31681H159.32V7.80132H161.748V9.81169H159.32V13.51C159.32 14.041 159.478 14.4646 159.794 14.7807C160.123 15.0842 160.527 15.2359 161.008 15.2359C161.236 15.2359 161.476 15.198 161.729 15.1221L161.842 16.9807C161.539 17.1325 161.16 17.2083 160.704 17.2083Z" fill="#FDFDFC"/>
          <path d="M167.353 17.2652C166.48 17.2652 165.677 17.0566 164.944 16.6394C164.211 16.2095 163.629 15.6215 163.199 14.8755C162.769 14.1296 162.554 13.3014 162.554 12.391C162.554 11.506 162.763 10.7031 163.18 9.98238C163.61 9.24904 164.192 8.67374 164.925 8.25649C165.658 7.8266 166.461 7.61166 167.334 7.61166C168.156 7.61166 168.908 7.80764 169.591 8.1996C170.273 8.59156 170.811 9.1226 171.203 9.79272C171.595 10.4628 171.791 11.2088 171.791 12.0307C171.791 12.2583 171.765 12.5617 171.715 12.941H164.603C164.716 13.7123 165.02 14.3192 165.513 14.7617C166.019 15.2043 166.657 15.4255 167.429 15.4255C167.947 15.4255 168.427 15.3181 168.87 15.1031C169.325 14.8755 169.654 14.5847 169.856 14.2307L171.525 15.2549C171.184 15.887 170.64 16.3802 169.894 16.7342C169.161 17.0882 168.314 17.2652 167.353 17.2652ZM169.648 11.4238C169.572 10.8295 169.306 10.3427 168.851 9.96341C168.396 9.5841 167.858 9.39444 167.239 9.39444C166.569 9.39444 166.006 9.57778 165.551 9.94445C165.108 10.2985 164.811 10.7916 164.66 11.4238H169.648Z" fill="#FDFDFC"/>
          <path d="M173.549 7.80132H175.654V9.07202C175.881 8.64213 176.223 8.29443 176.678 8.02891C177.133 7.75074 177.582 7.61166 178.025 7.61166C178.454 7.61166 178.808 7.66224 179.087 7.76339L178.954 9.75479C178.6 9.62835 178.233 9.56513 177.854 9.56513C177.474 9.56513 177.07 9.71054 176.64 10.0013C176.21 10.2922 175.881 10.6778 175.654 11.1583V17.0756H173.549V7.80132Z" fill="#FDFDFC"/>
          <path d="M180.605 7.80132H182.71V9.09099C182.938 8.6611 183.33 8.30707 183.886 8.02891C184.455 7.75074 185.049 7.61166 185.669 7.61166C186.491 7.61166 187.243 7.8266 187.926 8.25649C188.609 8.68639 189.146 9.268 189.538 10.0013C189.93 10.7347 190.126 11.5502 190.126 12.4479C190.126 13.333 189.93 14.1422 189.538 14.8755C189.146 15.6089 188.609 16.1905 187.926 16.6204C187.243 17.0503 186.491 17.2652 185.669 17.2652C185.049 17.2652 184.455 17.1261 183.886 16.848C183.33 16.5698 182.938 16.2158 182.71 15.7859V20.3377H180.605V7.80132ZM182.71 13.8135C182.925 14.2307 183.267 14.5784 183.735 14.8566C184.202 15.1221 184.702 15.2549 185.233 15.2549C185.764 15.2549 186.244 15.1347 186.674 14.8945C187.104 14.6416 187.439 14.3066 187.679 13.8893C187.932 13.4594 188.059 12.979 188.059 12.4479C188.059 11.9169 187.932 11.4364 187.679 11.0065C187.439 10.5766 187.098 10.2416 186.655 10.0013C186.225 9.74847 185.751 9.62203 185.233 9.62203C184.714 9.62203 184.221 9.75479 183.753 10.0203C183.286 10.2858 182.938 10.6272 182.71 11.0445V13.8135Z" fill="#FDFDFC"/>
          <path d="M191.885 7.80132H193.99V9.07202C194.217 8.64213 194.559 8.29443 195.014 8.02891C195.469 7.75074 195.918 7.61166 196.361 7.61166C196.79 7.61166 197.144 7.66224 197.423 7.76339L197.29 9.75479C196.936 9.62835 196.569 9.56513 196.19 9.56513C195.811 9.56513 195.406 9.71054 194.976 10.0013C194.546 10.2922 194.217 10.6778 193.99 11.1583V17.0756H191.885V7.80132Z" fill="#FDFDFC"/>
          <path d="M201.046 7.80132V17.0756H198.941V7.80132H201.046ZM200.003 3.49609C200.37 3.49609 200.686 3.62885 200.952 3.89437C201.23 4.15989 201.369 4.47599 201.369 4.84266C201.369 5.22198 201.23 5.54439 200.952 5.80991C200.686 6.07543 200.37 6.2082 200.003 6.2082C199.637 6.2082 199.321 6.07543 199.055 5.80991C198.789 5.54439 198.657 5.22198 198.657 4.84266C198.657 4.47599 198.789 4.15989 199.055 3.89437C199.321 3.62885 199.637 3.49609 200.003 3.49609Z" fill="#FDFDFC"/>
          <path d="M206.708 17.2842C205.962 17.2842 205.216 17.1641 204.47 16.9238C203.737 16.671 203.142 16.3422 202.687 15.9376L203.522 14.3445C203.876 14.6859 204.35 14.964 204.944 15.179C205.551 15.3939 206.12 15.5014 206.651 15.5014C207.106 15.5014 207.473 15.4066 207.751 15.2169C208.042 15.0273 208.187 14.7807 208.187 14.4773C208.187 14.1612 208.036 13.9336 207.732 13.7945C207.429 13.6428 206.942 13.4847 206.272 13.3203C205.589 13.156 205.033 12.9916 204.603 12.8272C204.173 12.6502 203.8 12.3784 203.484 12.0117C203.18 11.645 203.029 11.1519 203.029 10.5324C203.029 9.96341 203.18 9.45766 203.484 9.01512C203.787 8.57259 204.211 8.23121 204.754 7.99097C205.311 7.7381 205.937 7.61166 206.632 7.61166C207.302 7.61166 207.947 7.70649 208.567 7.89615C209.186 8.0858 209.698 8.36397 210.103 8.73064L209.268 10.3617C208.927 10.0582 208.472 9.81801 207.903 9.64099C207.346 9.46398 206.853 9.37547 206.423 9.37547C206.032 9.37547 205.715 9.46398 205.475 9.64099C205.248 9.81801 205.134 10.0582 205.134 10.3617C205.134 10.6525 205.279 10.8674 205.57 11.0065C205.861 11.1456 206.335 11.3037 206.992 11.4807C207.688 11.6703 208.257 11.86 208.699 12.0496C209.142 12.2267 209.521 12.5048 209.837 12.8841C210.166 13.2635 210.33 13.7692 210.33 14.4014C210.33 14.9577 210.172 15.4572 209.856 15.8997C209.553 16.3296 209.123 16.671 208.567 16.9238C208.023 17.1641 207.403 17.2842 206.708 17.2842Z" fill="#FDFDFC"/>
          <path d="M216.304 17.2652C215.432 17.2652 214.629 17.0566 213.896 16.6394C213.162 16.2095 212.581 15.6215 212.151 14.8755C211.721 14.1296 211.506 13.3014 211.506 12.391C211.506 11.506 211.715 10.7031 212.132 9.98238C212.562 9.24904 213.143 8.67374 213.877 8.25649C214.61 7.8266 215.413 7.61166 216.285 7.61166C217.107 7.61166 217.86 7.80764 218.542 8.1996C219.225 8.59156 219.762 9.1226 220.154 9.79272C220.546 10.4628 220.742 11.2088 220.742 12.0307C220.742 12.2583 220.717 12.5617 220.666 12.941H213.554C213.668 13.7123 213.972 14.3192 214.465 14.7617C214.97 15.2043 215.609 15.4255 216.38 15.4255C216.899 15.4255 217.379 15.3181 217.822 15.1031C218.277 14.8755 218.605 14.5847 218.808 14.2307L220.477 15.2549C220.135 15.887 219.592 16.3802 218.846 16.7342C218.112 17.0882 217.265 17.2652 216.304 17.2652ZM218.599 11.4238C218.523 10.8295 218.258 10.3427 217.803 9.96341C217.347 9.5841 216.81 9.39444 216.191 9.39444C215.52 9.39444 214.958 9.57778 214.503 9.94445C214.06 10.2985 213.763 10.7916 213.611 11.4238H218.599Z" fill="#FDFDFC"/>
          <path d="M26.1929 24.4585V27.1519C26.3203 26.929 26.5304 26.7475 26.8233 26.6075C27.1162 26.461 27.4218 26.3878 27.7402 26.3878C28.1604 26.3878 28.5456 26.496 28.8958 26.7125C29.2461 26.9226 29.5198 27.2155 29.7172 27.5912C29.921 27.9605 30.0229 28.368 30.0229 28.8137C30.0229 29.2594 29.921 29.6701 29.7172 30.0458C29.5198 30.4151 29.2461 30.708 28.8958 30.9245C28.5456 31.1346 28.1604 31.2397 27.7402 31.2397C27.4218 31.2397 27.1162 31.1665 26.8233 31.02C26.5304 30.8736 26.3203 30.6921 26.1929 30.4756V31.1442H25.3047V24.4585H26.1929ZM26.1929 29.6542C26.3203 29.8771 26.5113 30.0585 26.766 30.1986C27.027 30.3387 27.2977 30.4087 27.5778 30.4087C27.8707 30.4087 28.1381 30.3387 28.3801 30.1986C28.6221 30.0585 28.8099 29.8675 28.9436 29.6256C29.0837 29.3836 29.1537 29.113 29.1537 28.8137C29.1537 28.5145 29.0837 28.2439 28.9436 28.0019C28.8099 27.7536 28.6221 27.5626 28.3801 27.4288C28.1381 27.2888 27.8707 27.2187 27.5778 27.2187C27.2913 27.2187 27.0207 27.2888 26.766 27.4288C26.5113 27.5689 26.3203 27.7536 26.1929 27.9828V29.6542Z" fill="#FDFDFC"/>
          <path d="M32.1559 30.9818L30.2744 26.4833H31.2199L32.6048 29.9598L33.9993 26.4833H34.9448L32.2801 32.8442H31.3346L32.1559 30.9818Z" fill="#FDFDFC"/>
          <path d="M73.5663 24.3573C72.1845 24.3573 71.1842 25.1506 71.1842 26.2115C71.1842 27.5723 72.3996 27.8836 73.4785 28.1598C74.3393 28.3803 75.1132 28.5785 75.1132 29.2699C75.1132 29.9102 74.4944 30.3499 73.6179 30.3499C72.7207 30.3499 72.0401 29.9771 71.4833 29.4897L70.8542 30.1778C71.4833 30.78 72.5248 31.2387 73.6179 31.2387C75.1647 31.2387 76.1341 30.3212 76.1341 29.2603C76.1341 27.9297 74.9382 27.6092 73.8625 27.3208C72.9834 27.0851 72.1845 26.871 72.1845 26.1446C72.1845 25.6189 72.7311 25.2462 73.4942 25.2462C74.1851 25.2462 74.8863 25.5233 75.3401 25.9821L75.9279 25.2653C75.4638 24.7396 74.4738 24.3573 73.5663 24.3573Z" fill="#FDFDFC"/>
          <path d="M42.6706 24.4529V27.2341H38.8963V24.4529H37.896V31.1432H38.8963V28.1134H42.6706V31.1432H43.6708V24.4529H42.6706Z" fill="#FDFDFC"/>
          <path d="M48.5159 26.4791V29.6235C48.2375 30.0823 47.6703 30.369 47.0825 30.369C46.2885 30.369 45.7625 29.8433 45.7625 29.0214V26.4791H44.8035V29.1552C44.8035 30.4168 45.6182 31.2387 46.866 31.2387C47.5569 31.2387 48.2065 30.9329 48.5159 30.4646V31.1432H49.4646V26.4791H48.5159Z" fill="#FDFDFC"/>
          <path d="M54.7132 27.215C55.0535 26.7945 55.6619 26.3835 56.425 26.3835C57.6522 26.3835 58.4771 27.1385 58.4771 28.3237V31.1432H57.5284V28.4766C57.5284 27.6929 57.0437 27.2054 56.2703 27.2054C55.7444 27.2054 55.2185 27.54 54.9607 27.9414C54.9813 28.0274 54.9916 28.1229 55.0019 28.2185L55.0019 28.2185V31.1432H54.0532V28.4766C54.0532 27.6929 53.5582 27.2054 52.8157 27.2054C52.2485 27.2054 51.7742 27.5017 51.537 27.9318V31.1432H50.578V26.4791H51.537V27.1385C51.7845 26.804 52.2898 26.3835 53.1148 26.3835C53.8573 26.3835 54.3935 26.6607 54.7132 27.215Z" fill="#FDFDFC"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M63.3651 26.4791V27.1577C63.097 26.718 62.3958 26.3835 61.6843 26.3835C60.2921 26.3835 59.2299 27.4444 59.2299 28.8111C59.2299 30.1778 60.2921 31.2387 61.6843 31.2387C62.3855 31.2387 63.0867 30.9042 63.3651 30.4646V31.1432H64.3242V26.4791H63.3651ZM61.8699 30.4072C60.9005 30.4072 60.158 29.7191 60.158 28.8111C60.158 27.8936 60.9005 27.215 61.8699 27.215C62.4886 27.215 63.097 27.54 63.3651 27.9987V29.6331C63.097 30.0823 62.4886 30.4072 61.8699 30.4072Z" fill="#FDFDFC"/>
          <path d="M66.3826 27.1577C66.692 26.6893 67.3416 26.3835 68.0223 26.3835C69.2803 26.3835 70.0847 27.2054 70.0847 28.4766V31.1432H69.136V28.6008C69.136 27.7789 68.61 27.2532 67.8057 27.2532C67.2282 27.2532 66.661 27.54 66.3826 27.9987V31.1432H65.4236V26.4791H66.3826V27.1577Z" fill="#FDFDFC"/>
          <path d="M78.0268 31.1432H77.0678V26.4791H78.0268V31.1432Z" fill="#FDFDFC"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M83.0803 26.4791V27.1481C82.8122 26.7085 82.1109 26.3835 81.3994 26.3835C80.0072 26.3835 78.9451 27.4253 78.9451 28.7633C78.9451 30.1109 80.0072 31.1527 81.3994 31.1527C82.1006 31.1527 82.8018 30.8278 83.0803 30.3977V30.9711C83.0803 31.7548 82.4306 32.3092 81.5644 32.3092C80.8528 32.3092 80.2032 32.0894 79.8216 31.707L79.3369 32.3092C79.7701 32.8062 80.6982 33.1025 81.585 33.1025C83.0081 33.1025 84.0393 32.2614 84.0393 30.9807V26.4791H83.0803ZM81.585 30.3308C80.6157 30.3308 79.8732 29.6617 79.8732 28.7633C79.8732 27.8649 80.6157 27.2054 81.585 27.2054C82.2037 27.2054 82.8122 27.5208 83.0803 27.9701V29.5757C82.8122 30.0154 82.2037 30.3308 81.585 30.3308Z" fill="#FDFDFC"/>
          <path d="M86.0542 27.1577C86.3636 26.6893 87.0133 26.3835 87.6939 26.3835C88.952 26.3835 89.7563 27.2054 89.7563 28.4766V31.1432H88.8076V28.6008C88.8076 27.7789 88.2817 27.2532 87.4773 27.2532C86.8998 27.2532 86.3327 27.54 86.0542 27.9987V31.1432H85.0952V26.4791H86.0542V27.1577Z" fill="#FDFDFC"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M94.6497 26.4791V27.1577C94.3816 26.718 93.6804 26.3835 92.9688 26.3835C91.5767 26.3835 90.5145 27.4444 90.5145 28.8111C90.5145 30.1778 91.5767 31.2387 92.9688 31.2387C93.6701 31.2387 94.3713 30.9042 94.6497 30.4646V31.1432H95.6088V26.4791H94.6497ZM93.1545 30.4072C92.1851 30.4072 91.4426 29.7191 91.4426 28.8111C91.4426 27.8936 92.1851 27.215 93.1545 27.215C93.7732 27.215 94.3816 27.54 94.6497 27.9987V29.6331C94.3816 30.0823 93.7732 30.4072 93.1545 30.4072Z" fill="#FDFDFC"/>
          <path d="M96.7082 24.4529H97.6672V31.1432H96.7082V24.4529Z" fill="#FDFDFC"/>
          <path d="M77.5469 24.7014C77.2487 24.7014 77.0032 24.9382 77.0032 25.2075C77.0032 25.4851 77.2487 25.7136 77.5469 25.7136C77.8364 25.7136 78.0907 25.4851 78.0907 25.2075C78.0907 24.9382 77.8364 24.7014 77.5469 24.7014Z" fill="#FDFDFC"/>
          <defs>
          <clipPath id="clip0_422_3112">
          <rect width="20.2191" height="20.161" fill="white" transform="translate(0 0.411621)"/>
          </clipPath>
          </defs>
          </svg>
          
      <% } else { %>
        <svg width="194" height="33" viewBox="0 0 194 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_432_4624)">
          <rect x="3.59039" y="6.30933" width="22.7398" height="21.543" fill="#FFD6CD"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.48273 9.90379H0V1.44543H8.48273V9.90379ZM30.1613 9.90379H21.6785V1.44544H30.1613V9.90379ZM0 31.5198H8.48273V23.0614H0V31.5198ZM30.1613 23.0614V31.5198H21.6785V23.0614H30.1613ZM2.82716 9.9038H5.65474V23.0612H2.82716V9.9038ZM27.3334 23.0612V9.9038H24.5059V23.0612H27.3334ZM8.48294 4.26495H21.6783V7.0844H8.48294V4.26495ZM21.6783 25.8804H8.48294V28.6998H21.6783V25.8804Z" fill="#FF7557"/>
          </g>
          <path d="M41.2261 6.76418V23.3994H50.7036V26.568H37.916V6.76418H41.2261Z" fill="#12110D"/>
          <path d="M66.1064 26.568H62.9378V24.6442C62.5983 25.2855 62.0136 25.8136 61.1837 26.2285C60.3539 26.6434 59.4674 26.8509 58.5244 26.8509C57.2984 26.8509 56.1762 26.5303 55.1577 25.889C54.1392 25.2477 53.3377 24.3802 52.753 23.2862C52.1683 22.1923 51.8759 20.9758 51.8759 19.6367C51.8759 18.3164 52.1683 17.1093 52.753 16.0154C53.3377 14.9215 54.1392 14.0539 55.1577 13.4126C56.1762 12.7713 57.2984 12.4507 58.5244 12.4507C59.4674 12.4507 60.3539 12.6582 61.1837 13.0731C62.0136 13.4881 62.5983 14.0162 62.9378 14.6574V12.7336H66.1064V26.568ZM54.9597 19.6367C54.9597 20.4288 55.1389 21.1455 55.4972 21.7868C55.8744 22.4281 56.3837 22.9373 57.0249 23.3145C57.6851 23.6729 58.4018 23.8521 59.1751 23.8521C59.9484 23.8521 60.6839 23.654 61.3818 23.2579C62.0796 22.8619 62.5983 22.3526 62.9378 21.7302V17.5997C62.6172 16.9773 62.1079 16.4681 61.4101 16.072C60.7122 15.657 59.9672 15.4496 59.1751 15.4496C58.3829 15.4496 57.6662 15.6382 57.0249 16.0154C56.3837 16.3738 55.8744 16.8736 55.4972 17.5148C55.1389 18.1372 54.9597 18.8445 54.9597 19.6367Z" fill="#12110D"/>
          <path d="M72.5491 14.6574C72.8885 14.0162 73.4732 13.4881 74.3031 13.0731C75.1518 12.6582 76.0383 12.4507 76.9625 12.4507C78.1884 12.4507 79.3106 12.7713 80.3291 13.4126C81.3476 14.0539 82.1492 14.9215 82.7339 16.0154C83.3186 17.1093 83.6109 18.3164 83.6109 19.6367C83.6109 20.9758 83.3186 22.1923 82.7339 23.2862C82.1492 24.3802 81.3476 25.2477 80.3291 25.889C79.3106 26.5303 78.1884 26.8509 76.9625 26.8509C76.0383 26.8509 75.1518 26.6434 74.3031 26.2285C73.4732 25.8136 72.8885 25.2855 72.5491 24.6442V26.568H69.4087V6.76418H72.5491V14.6574ZM72.5491 21.7302C72.8885 22.3526 73.4072 22.8619 74.1051 23.2579C74.8029 23.654 75.5385 23.8521 76.3118 23.8521C77.0851 23.8521 77.7923 23.6729 78.4336 23.3145C79.0937 22.9373 79.603 22.4281 79.9613 21.7868C80.3386 21.1455 80.5272 20.4288 80.5272 19.6367C80.5272 18.8445 80.3386 18.1372 79.9613 17.5148C79.603 16.8736 79.1032 16.3738 78.4619 16.0154C77.8206 15.6382 77.1039 15.4496 76.3118 15.4496C75.5196 15.4496 74.7746 15.657 74.0768 16.072C73.3789 16.4681 72.8697 16.9773 72.5491 17.5997V21.7302Z" fill="#12110D"/>
          <path d="M92.436 26.8509C91.1346 26.8509 89.9369 26.5397 88.843 25.9173C87.7491 25.276 86.8815 24.399 86.2402 23.2862C85.5989 22.1734 85.2783 20.9381 85.2783 19.5801C85.2783 18.2598 85.5895 17.0622 86.2119 15.9871C86.8532 14.8932 87.7208 14.035 88.8147 13.4126C89.9086 12.7713 91.1063 12.4507 92.4077 12.4507C93.6336 12.4507 94.7559 12.7431 95.7743 13.3277C96.7928 13.9124 97.5944 14.7046 98.1791 15.7042C98.7638 16.7038 99.0561 17.8166 99.0561 19.0426C99.0561 19.382 99.0184 19.8347 98.9429 20.4005H88.3338C88.5035 21.551 88.9562 22.4564 89.6917 23.1165C90.4462 23.7766 91.3986 24.1067 92.5491 24.1067C93.3224 24.1067 94.0391 23.9464 94.6993 23.6257C95.3783 23.2862 95.8686 22.8524 96.1704 22.3243L98.66 23.8521C98.1508 24.7951 97.3398 25.5307 96.227 26.0588C95.1331 26.5869 93.8694 26.8509 92.436 26.8509ZM95.8592 18.1372C95.746 17.2508 95.35 16.5246 94.671 15.9588C93.992 15.393 93.1904 15.1101 92.2662 15.1101C91.2666 15.1101 90.4273 15.3836 89.7483 15.9305C89.0882 16.4586 88.645 17.1942 88.4186 18.1372H95.8592Z" fill="#12110D"/>
          <path d="M104.819 26.568H101.678V6.76418H104.819V26.568Z" fill="#12110D"/>
          <path d="M120.951 6.48127C122.215 6.48127 123.479 6.75475 124.742 7.30171C126.025 7.82982 127.006 8.49937 127.685 9.31039L125.761 11.8849C125.101 11.2059 124.309 10.6684 123.385 10.2723C122.479 9.87621 121.583 9.67817 120.697 9.67817C119.792 9.67817 119.047 9.88564 118.462 10.3006C117.896 10.7155 117.613 11.253 117.613 11.9132C117.613 12.479 117.792 12.9505 118.151 13.3277C118.528 13.7049 118.99 14.0067 119.537 14.2331C120.103 14.4405 120.876 14.6857 121.857 14.9686C123.196 15.3458 124.28 15.7325 125.11 16.1286C125.959 16.5058 126.676 17.081 127.26 17.8543C127.864 18.6088 128.166 19.6084 128.166 20.8532C128.166 21.9282 127.873 22.9279 127.289 23.8521C126.723 24.7574 125.902 25.4835 124.827 26.0305C123.752 26.5774 122.507 26.8509 121.093 26.8509C119.622 26.8509 118.17 26.5303 116.736 25.889C115.303 25.2477 114.143 24.4367 113.256 23.456L115.378 21.0229C116.246 21.8528 117.132 22.5035 118.037 22.975C118.943 23.4277 119.961 23.654 121.093 23.654C122.187 23.654 123.073 23.3994 123.752 22.8901C124.431 22.3809 124.771 21.7114 124.771 20.8815C124.771 20.3345 124.592 19.8913 124.233 19.5518C123.875 19.1934 123.422 18.9105 122.875 18.7031C122.328 18.4956 121.574 18.2598 120.612 17.9958C119.273 17.6374 118.179 17.2791 117.33 16.9207C116.5 16.5435 115.784 15.9777 115.18 15.2232C114.577 14.4499 114.275 13.4315 114.275 12.1678C114.275 11.1116 114.558 10.1497 115.123 9.2821C115.708 8.4145 116.5 7.73551 117.5 7.24513C118.518 6.73589 119.669 6.48127 120.951 6.48127Z" fill="#12110D"/>
          <path d="M136.587 26.766C135.022 26.766 133.758 26.2945 132.796 25.3515C131.853 24.3896 131.381 23.0693 131.381 21.3907V15.7325H128.722V12.7336H131.381V9.02748H134.522V12.7336H138.143V15.7325H134.522V21.2493C134.522 22.0414 134.757 22.6732 135.229 23.1448C135.719 23.5974 136.323 23.8238 137.04 23.8238C137.379 23.8238 137.738 23.7672 138.115 23.654L138.284 26.4265C137.832 26.6529 137.266 26.766 136.587 26.766Z" fill="#12110D"/>
          <path d="M150.369 24.7291C149.954 25.3703 149.369 25.889 148.615 26.2851C147.86 26.6623 147.049 26.8509 146.182 26.8509C144.446 26.8509 143.07 26.2945 142.051 25.1817C141.033 24.0501 140.523 22.5318 140.523 20.6269V12.7336H143.664V20.1176C143.664 21.2304 143.956 22.1074 144.541 22.7487C145.144 23.39 145.946 23.7106 146.946 23.7106C147.643 23.7106 148.294 23.5408 148.898 23.2014C149.52 22.8619 150.01 22.3998 150.369 21.8151L150.397 12.7336H153.566V26.568H150.369V24.7291Z" fill="#12110D"/>
          <path d="M167.234 17.5997C166.913 16.9773 166.404 16.4681 165.706 16.072C165.008 15.657 164.263 15.4496 163.471 15.4496C162.679 15.4496 161.962 15.6382 161.321 16.0154C160.68 16.3738 160.17 16.8736 159.793 17.5148C159.435 18.1372 159.256 18.8445 159.256 19.6367C159.256 20.4288 159.435 21.1455 159.793 21.7868C160.17 22.4281 160.68 22.9373 161.321 23.3145C161.981 23.6729 162.698 23.8521 163.471 23.8521C164.244 23.8521 164.98 23.654 165.678 23.2579C166.376 22.8619 166.894 22.3526 167.234 21.7302V17.5997ZM156.172 19.6367C156.172 18.3164 156.464 17.1093 157.049 16.0154C157.634 14.9215 158.435 14.0539 159.454 13.4126C160.472 12.7713 161.594 12.4507 162.82 12.4507C163.763 12.4507 164.65 12.6582 165.48 13.0731C166.31 13.4881 166.894 14.0162 167.234 14.6574V6.76418H170.374V26.568H167.234V24.6442C166.894 25.2855 166.31 25.8136 165.48 26.2285C164.65 26.6434 163.763 26.8509 162.82 26.8509C161.594 26.8509 160.472 26.5303 159.454 25.889C158.435 25.2477 157.634 24.3802 157.049 23.2862C156.464 22.1923 156.172 20.9758 156.172 19.6367Z" fill="#12110D"/>
          <path d="M176.845 12.7336V26.568H173.705V12.7336H176.845ZM175.289 6.31152C175.836 6.31152 176.308 6.50956 176.704 6.90564C177.119 7.30171 177.326 7.77323 177.326 8.3202C177.326 8.88602 177.119 9.36697 176.704 9.76305C176.308 10.1591 175.836 10.3572 175.289 10.3572C174.742 10.3572 174.271 10.1591 173.875 9.76305C173.478 9.36697 173.28 8.88602 173.28 8.3202C173.28 7.77323 173.478 7.30171 173.875 6.90564C174.271 6.50956 174.742 6.31152 175.289 6.31152Z" fill="#12110D"/>
          <path d="M186.648 12.4507C187.969 12.4507 189.176 12.7713 190.27 13.4126C191.364 14.035 192.231 14.9026 192.872 16.0154C193.514 17.1093 193.834 18.3258 193.834 19.665C193.834 21.0041 193.514 22.2206 192.872 23.3145C192.231 24.4084 191.364 25.276 190.27 25.9173C189.176 26.5397 187.969 26.8509 186.648 26.8509C185.309 26.8509 184.093 26.5397 182.999 25.9173C181.905 25.276 181.037 24.4084 180.396 23.3145C179.774 22.2206 179.462 21.0041 179.462 19.665C179.462 18.3258 179.774 17.1093 180.396 16.0154C181.037 14.9026 181.905 14.035 182.999 13.4126C184.112 12.7713 185.328 12.4507 186.648 12.4507ZM182.546 19.665C182.546 20.4382 182.725 21.1455 183.084 21.7868C183.442 22.4092 183.932 22.909 184.555 23.2862C185.196 23.6446 185.894 23.8238 186.648 23.8238C187.403 23.8238 188.091 23.6446 188.714 23.2862C189.336 22.909 189.826 22.4092 190.185 21.7868C190.543 21.1455 190.722 20.4382 190.722 19.665C190.722 18.8917 190.543 18.1844 190.185 17.5431C189.826 16.9019 189.336 16.402 188.714 16.0437C188.091 15.6665 187.403 15.4779 186.648 15.4779C185.894 15.4779 185.196 15.6665 184.555 16.0437C183.932 16.402 183.442 16.9019 183.084 17.5431C182.725 18.1844 182.546 18.8917 182.546 19.665Z" fill="#12110D"/>
          <defs>
          <clipPath id="clip0_432_4624">
          <rect width="30.1608" height="30.0742" fill="white" transform="translate(0 1.44543)"/>
          </clipPath>
          </defs>
          </svg>
          
          
      <% } %>
    </a>
    <% const quickLinks = [
      {
        label: "Docs",
        href: "/guide/"
      },
      {
        label: "Playground",
        href: "/playground/"
      },
      {
        label: "Templates",
        href: "/templates/"
      },
      {
        label: "Tags",
        href: "/tags/"
      }
    ];
      const currentQuickLink = quickLinks.find(link => link.href.includes(page.type));
    %>
    <div class="page-header-content-switcher">
      <div>
        <a href="<%- currentQuickLink ? currentQuickLink.href : quickLinks[0].href %>">
          <%- currentQuickLink ? currentQuickLink.label : quickLinks[0].label %>
        </a>
        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L6 6L1 1" stroke="#8B8D9E"/></svg>
      </div>
      <ul>
        <% quickLinks.forEach(function(link) { %>
          <% if(!link.href.includes(page.type)) { %>
          <li><a href="<%- link.href %>"><%- link.label %></a></li>
        <% }}); %>
      </ul>
    </div>
  </div>

  <div class="AlgoliaSearch">
    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="AlgoliaSearchIcon">
      <path d="M8 16C9.77498 15.9996 11.4988 15.4054 12.897 14.312L17.293 18.708L18.707 17.294L14.311 12.898C15.405 11.4997 15.9996 9.77544 16 8C16 3.589 12.411 0 8 0C3.589 0 0 3.589 0 8C0 12.411 3.589 16 8 16ZM8 2C11.309 2 14 4.691 14 8C14 11.309 11.309 14 8 14C4.691 14 2 11.309 2 8C2 4.691 4.691 2 8 2Z" />
    </svg>
    <input id="docsearch-input" placeholder="Search docs" data-site-version="<%- tier %>" />
  </div>

  <button class="hamburger-button" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav>
    <% if(page.type !== "playground" && page.type !== "blog") { %>
      <%- partial("partials/toc", { type: page.type, tier: tier, component: "nav" }) %>
    <% } %>
    <ul class="page-header-main-nav">
      <% if(isEnterpriseTheme) { %>
        <li>
          <a href="https://heartex.com/product">Product</a>
        </li>
        <li>
          <a href="https://heartex.com/pricing">Pricing</a>
        </li>
        <li>
          <a href="/guide/">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/guide/quick_start.html">Quickstart</a>
            </li>
            <li>
              <a href="/guide/install_enterprise.html">Install</a>
            </li>
            <li>
              <a href="/guide/tasks.html">Import Data</a>
            </li>
            <li>
              <a href="https://app.heartex.com/docs/api">API Reference</a>
            </li>
            <li>
              <a href="https://labelstud.io/sdk">SDK Reference</a>
            </li>
            <li class="headerSeparator">
              <a href="/tags">Customizable Tags</a>
            </li>
            <li>
              <a href="/templates">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://heartex.com/blog">Blog</a>
        </li>
        <li>
          <a href="http://app.heartex.com/" target="_blank" rel="noopener noreferrer">Log In</a>
        </li>
        <li>
          <%- partial("component/button", { url: "https://app.heartex.com/user/trial", label: "Free Trial", }) %>
        </li>
      <% } else { %>
        <li>
          <a href="/playground/">Playground</a>
        </li>
        <li>
          <a href="/learn/">
            Learn
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/videos/">Videos</a>
            </li>
            <li class="headerSeparator">
              <a href="/community/">
                Community
              </a>
            </li>
            <li>
              <a href="/academic/">Academic Program</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/guide/">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="page-header-chevron-icon"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522"></path></svg>
          </a>
          <button>
            <svg width="13" height="8" viewBox="0 0 13 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292969 0.805007L1.00008 0.0979004L6.64652 5.74435L12.293 0.0979004L13.0001 0.805007L6.64652 7.15856L0.292969 0.805007Z" />
            </svg>
          </button>
          <ul>
            <li>
              <a href="/guide/quick_start.html">Quickstart</a>
            </li>
            <li>
              <a href="/guide/install.html">Install</a>
            </li>
            <li>
              <a href="/guide/tasks.html">Import Data</a>
            </li>
            <li>
              <a href="/api">API Reference</a>
            </li>
            <li>
              <a href="/sdk">SDK Reference</a>
            </li>
            <li class="headerSeparator">
              <a href="/tags">Customizable Tags</a>
            </li>
            <li>
              <a href="/templates">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/integrations">Integrations</a>
        </li>
        <li>
          <a href="https://humansignal.com/goenterprise" target="_blank" rel="noopener noreferrer">Enterprise</a>
        </li>
        <li>
          <a href="https://github.com/heartexlabs/label-studio/" class="github-stars" target="_blank" rel="noopener noreferrer">
            <svg class="github-icon" viewBox="0 0 24 24" width="24" height="24"><path fill="black" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"></path></svg>
            <%- partial("component/text", {text: "", size: "Eyebrow", tag: "span", customClass: "github-stars-count"}) %>
          </a>
        </li>
        <li>
          <%- partial("component/button", { url: "/guide/quick_start.html", label: "Quick start", }) %>
        </li>
        <% } %>
    </ul>
  </nav>
</header>
