<% const isEnterpriseTheme = theme.tier === "enterprise" %>

<% const pages = isEnterpriseTheme ? site.pages.filter(page => page.type === type && (page.tier === "enterprise" || page.tier === "all")) : site.pages.filter(page => page.type === type && (page.tier === "opensource" || page.tier === "all")) %>

<%- partial("component/heading", {text: "Docs", size: "XXSmall", tag: "h2"}) %>

  <ul class="page-sidebar-list">
    <% pages.sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>

    <% if (type === 'guide') { %>
      <% if (fileName === 'install') { %>
        </ul><%- partial("component/text", {text: "Install and Upgrade", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'install_enterprise') { %>
        </ul><%- partial("component/text", {text: "Deploy and Install Enterprise", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'security') { %>
        </ul><%- partial("component/text", {text: "Security and Privacy", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'signup') { %>
        </ul><%- partial("component/text", {text: "Manage Users", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'tasks') { %>
        </ul><%- partial("component/text", {text: "Import Data", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
       <% if (fileName === 'setup_project') { %>
        </ul><%- partial("component/text", {text: "Labeling and Projects", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'quality') { %>
        </ul><%- partial("component/text", {text: "Manage Annotations", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'ml') { %>
        </ul><%- partial("component/text", {text: "Machine Learning Setup", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'webhooks') { %>
        </ul><%- partial("component/text", {text: "Integrations", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>
      <% if (fileName === 'frontend') { %>
        </ul><%- partial("component/text", {text: "Advanced Development", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %> %>

    <% } %>

      <% if (type === 'tags') { %>


      <% if (fileName === 'audio') { %>
        </ul><%- partial("component/text", {text: "Object Tags", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>

      <% if (fileName === 'brush') { %>
        </ul><%- partial("component/text", {text: "Control Tags", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>

      <% if (fileName === 'collapse') { %>
      </ul><%- partial("component/text", {text: "Visual & Experience Tags", size: "Eyebrow", tag: "h3"}) %><ul>
      <% } %>

      <% } %>

      <% if (type==="templates") { %>

        <% if (fileName === 'image_polygons') { %>
          </ul><%- partial("component/text", {text: "Computer Vision", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'question_answering') { %>
          </ul><%- partial("component/text", {text: "Natural Language Processing", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'transcribe_audio') { %>
          </ul><%- partial("component/text", {text: "Audio/Speech Processing", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'response_generation') { %>
          </ul><%- partial("component/text", {text: "Conversational AI", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'freeform_metadata') { %>
          </ul><%- partial("component/text", {text: "Structured Data Parsing", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'pairwise_regression') { %>
          </ul><%- partial("component/text", {text: "Ranking and Scoring", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'time_series_forecasting') { %>
          </ul><%- partial("component/text", {text: "Time Series Analysis", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'video_classification') { %>
          </ul><%- partial("component/text", {text: "Videos", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

        <% if (fileName === 'gallery_cv') { %>
          </ul><%- partial("component/text", {text: "Template Galleries", size: "Eyebrow", tag: "h3"}) %><ul>
        <% } %>

      <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="<%- p.is_new ? ' new' : '' %>" <%- page.title === p.title ? 'aria-current="page"' : '' %>>
        <%- p.short ? p.short: p.title %></a>
    </li>
    <% }) %>
</ul>
