<% const isEnterpriseTheme = theme.tier === "enterprise" %>

<%- partial("component/heading", {text: "Docs", size: "XXSmall", tag: "h2"}) %>

  <ul class="page-sidebar-list">
    <% site.pages.filter(page => page.type === type && (page.tier === theme.tier || page.tier === "all" || page.type === "tags" || page.type === "playground" || page.type === "templates")).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <%
      const headers = [
        {
          type: "guide",
          headers: {
            'install': 'Install and Upgrade',
            'install_enterprise': 'Deploy and Install Enterprise',
            'security': 'Security and Privacy',
            'signup': 'Manage Users',
            'tasks': 'Import Data',
            'setup_project': 'Labeling and Projects',
            'quality': 'Manage Annotations',
            'ml': 'Machine Learning Setup',
            'webhooks': 'Integrations',
            'frontend': 'Advanced Development'
          }
        },
        {
          type: "tags",
          headers: {
            "audio": "Object Tags",
            "brush": "Control Tags",
            "collapse": "Visual & Experience Tags"
          }
        },
        {
          type: "templates",
          headers: {
            "image_polygons": "Computer Vision",
            "question_answering": "Natural Language Processing",
            "transcribe_audio": "Audio/Speech Processing",
            "response_generation": "Conversational AI",
            "freeform_metadata": "Structured Data Parsing",
            "pairwise_regression": "Ranking and Scoring",
            "time_series_forecasting": "Time Series Analysis",
            "video_classification": "Videos",
            "gallery_cv": "Template Galleries"
          }
        }
    ]
    %>

    <% const tocHeader = headers.find(headerType => headerType.type === type).headers[fileName] %>
    <% if(tocHeader) { %>
      </ul>
        <% if(locals.component === "nav") { %>
          <button><%- tocHeader %> <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 0.628174L7 6.62817L13 0.628174" stroke="#131522"/></svg></button>
        <% } else { %>
          <%- partial("component/text", {text: tocHeader, size: "Eyebrow", tag: "h3"}) %>
        <% } %>
      <ul>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="<%- p.is_new ? ' new' : '' %>" <%- page.title === p.title ? 'aria-current="page"' : '' %>>
        <%- p.short ? p.short: p.title %></a>
    </li>
    
    <% }) %>
</ul>
