---
meta_description: Get started with Label Studio by creating projects to label and annotate data for machine learning and data science models.
---
<div class="home-page-index">
<div class="home-page-title-grid">
  <div>
    <%- partial("component/heading", {text: "Label Studio Docs", size: "XLarge", tag: "h1", customClass: "home-page-title"}) %>
    <div class="opensource-only">

      <p class="Text Large">Welcome to the Label Studio Open Source documentation site! Here, you will find useful resources to help you take full advantage of the most flexible data annotation tool. Discover our Quick Start installation guide, instructions on building custom UIs, pre-built labeling templates to get you labeling more quickly, and much more.</p>

    </div>
    
    <div class="enterprise-only">
      <p class="Text Large">Welcome to the Label Studio Enterprise documentation site! Here, you will find useful resources to help you take full advantage of the most flexible, secure, and efficient data labeling platform. Discover how to build custom UIs or take advantage of pre-built labeling templates, manage team member permissions and workflows, and much more.</p>
    </div>

  </div>
  <svg width="222" height="175" viewBox="0 0 222 175" fill="none" xmlns="http://www.w3.org/2000/svg" class="heidi">
    <path d="M30.5306 149.907C22.7354 149.907 15.2455 147.878 7.60347 147.878C5.4288 147.878 5.50798 147.371 3.24879 147.371C1.60902 147.371 0.676208 149.668 1.90891 150.414C3.19313 151.192 4.53897 151.601 5.74251 152.33C7.08504 153.143 9.44725 152.748 10.8043 153.57C13.0725 154.944 18.4253 155.486 21.3374 155.486C24.9634 155.486 29.1233 157.515 32.7266 157.515C42.5557 157.515 51.0519 160.927 59.5617 163.855C64.5911 165.586 68.9166 167.791 74.0773 169.294C77.6242 170.327 82.5148 170.831 85.4664 172.619C87.8135 174.041 93.4699 173.871 96.3717 174.253C98.9368 174.591 101.131 174.761 103.741 174.761H116.135C121.062 174.761 126.598 173.957 131.209 174.732C133.675 175.147 136.13 174.253 138.578 174.253C141.554 174.253 144.373 173.746 147.288 173.746C152.406 173.746 157.19 171.717 162.362 171.717C167.257 171.717 172.144 169.828 176.952 169.688C184.902 169.457 193.067 168.167 200.884 168.167C207.041 168.167 219.166 169.429 221.28 163.827C222.461 160.697 222.437 157.995 219.307 155.486C216.518 153.25 207.714 152.95 203.899 152.95C185.776 152.95 168.048 152.443 149.968 152.443C144.197 152.443 138.293 152.744 132.735 151.541C129.095 150.754 125.092 151.51 121.532 150.668C119.638 150.22 116.432 149.907 114.46 149.907C109.564 149.907 105.196 148.892 100.205 148.892H84.1265H50.1452C43.6178 148.892 37.0611 149.907 30.5306 149.907Z" fill="#F5F7FE"/>
    <path d="M184.871 139.221C184.289 138.889 183.74 138.502 183.23 138.067C182.065 137.25 181.17 137.684 181.042 139.136C181.018 139.51 181.018 139.885 181.042 140.258C181.062 140.412 181.034 140.569 180.963 140.707C180.891 140.845 180.78 140.958 180.642 141.03C180.288 141.198 180.108 140.855 179.909 140.647C178.499 139.188 178.139 136.16 178.905 134.267C180.134 131.239 182.348 128.963 184.363 126.532C184.833 125.968 190.928 121.993 191.952 120.094C191.54 122.143 192.209 124.25 191.701 126.156C190.767 129.664 192.615 133.042 191.874 136.53C191.797 136.893 192.434 137.477 191.913 137.827C191.392 138.177 191.038 137.665 190.626 137.353C188.914 135.998 188.457 136.057 187.852 138.047C187.317 139.895 186.23 139.824 184.871 139.221Z" fill="#8B8D9E"/>
    <path d="M85.4686 111.85C85.5742 114.924 85.8423 117.99 86.2715 121.036C86.3936 121.952 83.1753 126.347 80.2268 120.561C79.3468 118.312 77.9143 116.322 77.4132 113.878C76.4818 109.327 77.2783 104.991 78.5952 100.687C78.7197 100.409 78.9321 100.18 79.199 100.037C80.7985 99.0557 82.3081 97.9441 83.8241 96.8454C84.8326 96.1108 85.4429 94.7651 87.2158 94.5765C86.4844 97.859 85.98 101.189 85.7062 104.543C85.5071 106.98 85.4108 109.405 85.4686 111.85Z" fill="url(#paint0_linear_703_2026)"/>
    <path d="M185.105 122.137C184.859 122.187 184.635 122.311 184.461 122.492C182.53 124.812 180.598 127.12 178.719 129.486C175.918 133.04 175.5 137.487 174.309 141.656C174.122 142.302 173.903 142.949 173.356 143.11C172.642 143.362 172.333 142.639 172.069 142.109C171.599 141.242 170.826 140.965 170.388 141.85C169.365 143.912 168.457 142.781 167.659 141.85C166.642 140.654 165.818 140.926 165.451 142.186C164.962 143.854 164.286 142.884 163.693 142.445C163.326 142.167 163.166 141.637 162.844 141.275C162.091 140.428 161.357 140.234 160.719 141.436C160.571 141.714 160.558 142.244 159.908 141.992C159.496 138.327 159.226 134.617 159.007 130.882C158.729 127.771 158.753 124.641 159.078 121.536C159.194 120.708 159.046 119.958 158.157 119.597C156.606 121.4 156.812 123.591 156.87 125.711C156.909 125.913 156.908 126.12 156.867 126.321C156.826 126.523 156.746 126.714 156.631 126.884C156.516 127.054 156.369 127.199 156.198 127.312C156.026 127.425 155.835 127.502 155.634 127.54C154.886 127.767 154.122 127.933 153.348 128.038C152.061 128.257 151.037 127.391 149.846 127.391C146.383 127.501 142.887 127.896 139.469 127.191C137.538 126.797 135.703 127.32 133.881 127.133C130.169 126.729 126.424 126.729 122.712 127.133C120.276 127.461 117.803 127.398 115.386 126.945C113.629 126.583 113.938 125.898 114.788 125.006C115.901 123.875 117.228 122.938 118.309 121.775C122.481 117.308 124.534 111.763 126.034 105.972C126.2 105.118 126.2 104.24 126.034 103.386C126.002 103.107 125.871 102.849 125.666 102.658C125.46 102.467 125.194 102.356 124.914 102.346C124.45 102.346 124.225 102.805 124.27 103.289C124.399 106.443 122.983 109.203 121.972 112.041C120.722 115.546 118.585 118.664 115.773 121.09C114.065 122.594 112.58 124.335 111.363 126.26C108.009 131.509 106.213 137.429 104.166 143.343C103.566 143.102 103.064 142.665 102.743 142.102C102.099 141.139 101.275 140.034 100.541 142.102C100.342 142.671 100.065 142.529 99.7432 142.264C99.4214 141.999 99.0995 141.52 98.6746 142.031C97.812 143.097 97.0137 143.162 96.1511 142.031C96.0361 141.879 95.8661 141.779 95.6781 141.753C95.4901 141.726 95.2992 141.775 95.1469 141.889C94.3357 142.47 93.8593 141.772 93.692 141.326C92.9838 139.517 91.9152 137.785 92.3594 135.671C92.5152 135.068 92.4442 134.428 92.1598 133.874C90.7953 131.303 89.7943 128.553 89.1857 125.704C88.1943 121.303 87.2158 116.908 87.2158 112.364C87.2158 109.901 87.4283 107.439 87.4926 104.989C87.6343 101.697 88.1242 98.4302 88.954 95.2424C90.087 90.5823 91.0526 85.7735 93.9237 81.7598C96.0996 78.709 97.6961 75.1929 101.005 73.0083C103.625 71.2567 106.651 70.145 109.142 68.3288C113.423 65.2134 118.258 64.3667 123.221 63.617C126.517 63.1193 129.8 62.4988 133.115 62.2144C135.941 61.9688 138.812 62.2144 141.651 62.0787C143.847 61.9947 145.726 63.1387 147.838 63.4231C149.488 63.751 150.964 64.6698 151.99 66.0084C153.76 68.0703 155.209 70.3971 157.372 72.1357C157.932 72.5882 158.447 73.4284 159.181 72.5817C159.915 71.735 159.361 70.94 158.576 70.4294C157.844 70.0419 157.189 69.5227 156.644 68.8976C154.874 66.6276 152.983 64.4549 150.979 62.3889C146.795 58.0197 142.121 54.1804 137.679 50.1085C137.454 49.9016 137.152 49.6819 137.3 49.3458C137.448 49.0097 137.789 49.0679 138.169 49.042C140.57 48.8804 142.894 49.5203 145.134 50.0438C148.488 50.8259 151.932 51.0715 155.247 52.0346C155.64 52.1535 156.064 52.1115 156.426 51.9177C156.788 51.7239 157.058 51.3941 157.179 51.0004C157.449 50.0891 156.567 50.0826 155.968 49.7659C153.78 48.6219 151.462 47.6847 149.383 46.4179C145.244 43.8842 141.014 41.5962 136.688 39.3534C133.308 37.5953 129.864 35.8825 127.264 32.9481C126.987 32.6379 126.324 32.2695 126.575 31.9592C127.45 30.9057 128.364 29.3739 129.497 29.1541C131.617 28.698 133.808 28.6804 135.935 29.1024C143.119 30.589 150.419 30.3951 157.661 30.9316C161.376 31.2095 165.116 31.5779 168.805 31.7524C170.897 31.8558 172.757 34.829 175.004 32.3988C175.004 32.3988 175.114 32.4311 175.178 32.4375C176.884 32.6638 178.59 32.8641 180.283 33.1291C181.976 33.3941 183.276 33.8595 182.819 36.0118C182.703 36.5353 183.025 36.9102 183.366 37.3885C184.351 38.7523 185.555 39.1078 187.12 39.1013C188.111 39.1013 189.302 38.5713 190.087 39.5473C191.842 41.5634 193.322 43.8042 194.49 46.211C196.229 50.1925 197.786 54.2515 199.351 58.3041C201.849 64.7675 201.816 71.5476 202.73 78.2049C203.013 80.9075 202.93 83.636 202.486 86.3165C201.926 90.4724 201.668 94.7189 200.168 98.6422C197.677 105.106 195.276 111.685 190.622 117.121C188.961 119.021 187.866 121.413 185.105 122.137ZM92.1212 93.4003C90.8337 93.5942 90.647 94.7835 90.19 95.6561C90.2222 96.3024 90.5247 96.7484 91.0783 96.6773C92.2886 96.5286 92.8873 95.6302 93.119 94.5379C93.1727 94.3927 93.1863 94.2357 93.1584 94.0835C93.1305 93.9312 93.0622 93.7893 92.9607 93.6728C92.8591 93.5563 92.7281 93.4694 92.5815 93.4215C92.4349 93.3735 92.2781 93.3662 92.1277 93.4003H92.1212ZM95.7648 93.549C95.4172 93.9562 95.076 94.3569 95.2885 94.9516C95.443 95.3911 95.3207 96.0891 95.9 96.1667C96.1332 96.1736 96.3623 96.1042 96.5527 95.969C96.7432 95.8337 96.8847 95.64 96.9558 95.4169C97.5674 93.9239 99.3763 93.1612 99.4986 91.4161C99.3763 91.0089 99.6467 90.5435 99.1059 90.4207C98.928 90.3613 98.7349 90.3678 98.5613 90.4389C98.3878 90.51 98.2453 90.6411 98.1596 90.8085C97.6317 91.9655 96.5567 92.6247 95.7713 93.549H95.7648ZM102.286 78.9417C102.178 78.754 102.009 78.6095 101.807 78.5329C101.605 78.4563 101.383 78.4523 101.179 78.5216C99.4407 78.8965 96.8592 82.0959 96.8721 83.9185C96.8123 84.1517 96.8387 84.3987 96.9464 84.6138C97.0542 84.8289 97.2359 84.9975 97.4579 85.0884C97.9536 85.2629 98.3012 84.7911 98.4686 84.4421C99.3445 82.7393 100.582 81.25 102.093 80.0793C102.268 79.9533 102.386 79.7633 102.422 79.5503C102.458 79.3374 102.409 79.1187 102.286 78.9417ZM107.108 83.5372C108.2 82.5254 109.186 81.4035 110.05 80.1891C110.545 79.4782 110.005 78.9417 109.277 78.8577C108.189 78.9223 105.646 82.0441 105.762 83.033C105.878 84.0219 106.792 83.828 107.121 83.5372H107.108ZM111.614 70.3195C111.55 69.8089 111.08 69.9253 110.738 69.9188C109.734 69.9188 105.717 72.6011 105.421 73.5125C105.384 73.667 105.364 73.8253 105.363 73.9843C105.363 74.8892 105.788 75.1994 106.483 74.734C108.099 73.6676 109.605 72.4395 111.414 71.6769C111.942 71.4765 111.704 70.7849 111.646 70.3519L111.614 70.3195ZM113.545 80.5382C113.841 81.4818 114.691 81.2233 115.071 80.7256C115.998 79.5105 117.144 78.5087 118.084 77.3259C118.521 76.7765 118.727 75.8845 117.073 75.8457C116.127 75.807 113.178 79.252 113.584 80.5382H113.545ZM123.53 67.0167C123.279 66.0925 122.448 66.8745 122.094 66.5449C120.453 66.6289 119.255 67.4562 118.052 68.2448C117.822 68.4091 117.664 68.6555 117.61 68.9333C117.556 69.2111 117.611 69.499 117.762 69.7378C118.039 70.3389 118.528 70.2808 119.152 70.1192C120.562 69.7637 121.393 68.2642 123.015 68.2577C123.227 68.2642 123.646 67.5144 123.53 67.0167ZM129.774 67.2494C129.272 67.0297 128.957 66.9133 128.487 67.3528C127.753 68.0703 126.942 68.7037 126.15 69.3629C125.961 69.5255 125.829 69.7439 125.773 69.9867C125.716 70.2295 125.738 70.4841 125.834 70.7138C125.963 71.1339 126.433 71.1921 126.749 71.2567C128.313 70.7526 129.652 70.0804 130.173 68.4839C130.289 68.0897 130.424 67.5403 129.748 67.243L129.774 67.2494ZM133.926 72.4201C133.984 71.9354 133.643 71.8449 133.231 71.7738C132.446 71.6962 128.538 73.3961 128.197 74.0425C128.055 74.3382 127.986 74.6635 127.993 74.9916C128.001 75.3196 128.086 75.6412 128.242 75.9298C129.908 74.975 131.671 74.2035 133.502 73.6288C134.19 73.3703 133.83 72.8144 133.901 72.3878L133.926 72.4201ZM141.008 65.9567C139.143 65.9532 137.288 66.2276 135.504 66.7711C135.33 66.8469 135.192 66.9854 135.115 67.159C135.039 67.3326 135.031 67.5287 135.092 67.7083C135.227 68.2771 135.639 68.4258 136.186 68.4775C137.119 68.568 137.911 67.7212 138.484 68.0186C139.418 68.1026 140.061 67.9798 140.493 68.2383C141.4 68.7812 141.709 68.2383 141.973 67.592C142.065 67.4188 142.111 67.2248 142.106 67.0288C142.102 66.8327 142.047 66.6411 141.947 66.4724C141.848 66.3037 141.707 66.1635 141.538 66.0652C141.369 65.967 141.177 65.9141 140.982 65.9115L141.008 65.9567ZM142.199 75.5226C140.926 75.4419 139.669 75.8381 138.671 76.6343C138.59 76.6772 138.519 76.7369 138.463 76.8095C138.407 76.882 138.367 76.9657 138.346 77.055C138.324 77.1443 138.322 77.2371 138.34 77.3272C138.357 77.4174 138.393 77.5029 138.446 77.5779C138.735 78.192 139.334 78.1273 140.338 78.0885C141.124 77.8592 141.935 77.7268 142.752 77.6943C142.862 77.6977 142.971 77.6767 143.071 77.6328C143.171 77.5888 143.261 77.5231 143.333 77.4402C143.405 77.3574 143.458 77.2595 143.488 77.1537C143.518 77.0478 143.524 76.9367 143.505 76.8282C143.485 76.4874 143.341 76.1659 143.1 75.9251C142.859 75.6843 142.538 75.541 142.199 75.5226ZM150.432 67.7665C149.145 67.3981 147.761 67.2106 146.57 68.1608C145.733 68.8394 146.267 69.1109 146.962 69.5633C148.301 70.4423 149.866 68.7554 151.192 70.4747C151.333 69.1497 151.675 68.122 150.451 67.7665H150.432ZM156.046 73.5254C154.971 72.7627 153.677 72.7821 152.408 72.9243C152.119 72.9243 152.067 73.2151 152.074 73.4801C152.084 73.7281 152.17 73.967 152.319 74.1646C152.469 74.3622 152.675 74.509 152.911 74.5854C153.825 74.8439 154.797 74.8504 155.634 75.4256C155.891 75.6001 156.194 75.277 156.361 75.0184C156.503 74.778 156.55 74.4933 156.494 74.2198C156.438 73.9462 156.283 73.7033 156.059 73.5383L156.046 73.5254ZM168.277 35.3913C167.807 34.3378 166.642 35.1716 165.985 34.913C164.266 34.913 162.766 34.913 161.53 36.2057C161.08 36.6775 160.887 37.0459 161.022 37.5824C161.096 37.8197 161.259 38.0191 161.476 38.1394C161.693 38.2597 161.947 38.2917 162.187 38.2287C163.395 38.1287 164.61 38.276 165.76 38.6618C166.919 38.9979 167.421 38.2481 168.032 37.6212C168.282 37.315 168.438 36.9421 168.481 36.5484C168.523 36.1546 168.45 35.757 168.271 35.4042L168.277 35.3913Z" fill="#ACAEBF"/>
    <path d="M185.316 38.0952C183.754 45.3955 183.897 50.4882 180.656 57.4593C178.018 63.133 173.955 70.6205 167.597 72.9506C159.949 75.752 156.754 68.7938 152.366 64.0238C147.978 59.2537 142.839 55.3744 138.322 50.9013C137.025 49.6104 135.924 48.8875 135.69 47.2028C138.283 46.964 140.752 48.6035 143.403 48.8617C146.643 49.1779 149.793 48.4356 152.742 49.7524C147.862 47.5126 143.176 44.4015 138.548 41.6388C135.373 39.7412 125.664 35.8296 125.23 31.6663C124.582 25.3665 138.782 28.3034 142.534 28.6326C149.294 29.2264 156.268 28.8714 163.274 29.4911C169.321 30.0268 183.398 28.5035 184.875 35.9458L185.316 38.0952Z" fill="white"/>
    <path d="M123.379 129.737C124.35 129.843 125.197 129.386 126.102 129.279C128.163 129.053 130.243 128.132 132.304 128.897C133.407 129.29 134.591 129.431 135.762 129.31C136.65 129.209 137.55 129.315 138.387 129.618C138.839 129.799 139.561 129.994 139.345 130.527C138.367 132.896 138.393 135.379 138.164 137.849C138.124 138.275 138.164 139.235 137.383 139.285C136.851 139.322 136.589 138.658 136.3 138.175C136.17 137.9 135.955 137.669 135.684 137.513C135.413 137.358 135.099 137.285 134.784 137.304C133.819 137.373 134.331 138.131 134.075 138.514C133.819 138.896 133.708 139.768 132.914 139.429C131.811 138.852 131.66 139.429 131.457 140.181C131.365 140.507 131.188 141.404 130.702 140.946C129.515 139.836 128.347 138.915 126.595 138.871C126.391 138.871 126.207 138.307 126.017 138.012C124.58 135.805 124.18 133.147 122.572 130.997C122.211 130.489 122.264 129.611 123.379 129.737Z" fill="#8B8D9E"/>
    <path d="M37.7361 121.54C38.1245 122.016 37.6979 123.143 36.9721 123.495C34.1899 122.896 31.2421 122.374 28.3963 121.54C25.3148 120.673 22.8064 117.186 23.1756 114.044C23.2329 113.561 23.252 113.131 23.8569 113.242C27.1675 113.894 30.3699 112.401 33.6869 112.786C34.9157 112.929 35.425 113.131 35.2849 114.461C35.0175 117.212 36.068 119.506 37.7361 121.54Z" fill="url(#paint1_linear_703_2026)"/>
    <path d="M21.5014 119.936C19.6301 119.5 10.773 114.437 7.8289 112.242C9.38202 111.947 19.5677 112.43 20.9774 113.195C21.3766 113.41 21.7197 113.33 21.4577 114.048C20.834 115.8 21.7321 117.405 22.1688 118.99C22.2498 119.292 22.8362 119.413 22.4307 119.896C22.1126 120.265 21.8506 120.017 21.5014 119.936Z" fill="url(#paint2_linear_703_2026)"/>
    <path d="M81.5449 123.819C78.1138 124.735 74.5777 125.198 71.0266 125.197C63.0623 125.042 55.0981 125.042 47.1466 124.398C44.6441 124.199 42.3282 124.302 40.3146 121.938C38.4557 119.896 37.3917 117.253 37.3167 114.491C37.2781 113.3 37.8314 112.153 39.3303 112.16C42.8171 112.16 46.0273 110.646 49.4948 110.395C50.9551 110.292 51.2639 110.768 50.9229 111.767C50.3375 113.48 50.9229 115.026 51.399 116.514C52.2607 119.124 54.0669 121.316 56.4619 122.659C56.6537 122.813 56.8884 122.904 57.1338 122.919C57.3791 122.934 57.6231 122.872 57.8322 122.743C58.2246 122.414 57.7807 122.099 57.5041 121.886C56.1487 120.968 55.0135 119.761 54.1803 118.35C53.3471 116.94 52.8366 115.363 52.6856 113.731C52.454 111.728 53.0716 109.647 54.3904 109.222C57.0123 108.387 59.6972 107.764 62.419 107.361C63.0624 107.258 63.7636 107.264 63.487 108.269C62.7085 111.148 63.4483 113.783 64.8765 116.25C66.1632 118.504 67.0895 121.081 69.3797 122.608C69.9073 122.955 70.6664 123.825 71.2132 122.962C71.6764 122.247 69.7529 121.558 69.6242 121.364C67.8165 118.652 66.086 115.876 65.121 112.733C64.2718 109.95 65.6678 106.394 67.765 105.57C70.1131 104.649 72.4806 103.747 74.8415 102.807C75.1889 102.665 75.5363 102.381 75.8644 102.588C76.4434 102.948 75.3819 105.705 75.3562 106.768C75.234 113.132 76.8358 118.859 81.5449 123.819Z" fill="url(#paint3_linear_703_2026)"/>
    <path d="M182.523 150.059C180.99 147.408 178.401 145.427 177.589 142.339C177.48 141.914 177.486 141.477 176.945 141.425C176.22 144.485 175.693 147.588 175.367 150.715C175.129 152.6 175.915 155.032 178.162 155.341C178.503 155.38 178.817 155.544 179.044 155.8C179.271 156.057 179.395 156.388 179.393 156.73C179.438 157.438 179.393 158.017 178.53 158.332C178.111 158.421 177.739 158.659 177.482 159C177.225 159.342 177.101 159.765 177.132 160.191C177.132 161.78 175.998 162.359 174.601 161.916C173.525 161.575 173.164 161.755 173.081 162.855C172.984 164.141 171.967 164.695 171.052 164.058C167.522 161.6 163.742 159.49 162.203 154.871C161.327 152.246 160.695 149.551 159.781 146.952C158.1 142.191 157.675 137.25 157.546 132.264C157.482 129.691 153.45 130.244 152.748 130.084C149.695 129.389 146.616 129.91 143.557 129.749C142.913 129.717 142.269 129.652 142.011 130.392C141.232 132.805 140.008 134.973 140.388 137.816C141.142 143.394 141.676 148.856 147.325 151.97C147.73 152.195 148.471 152.613 148.149 153.256C148.018 153.603 147.793 153.907 147.5 154.134C147.207 154.361 146.856 154.503 146.487 154.543C145.998 154.543 145.502 154.543 145.006 154.543C144.645 154.543 144.233 154.543 144.207 155.051C144.104 157.219 142.855 156.846 141.412 156.434C140.768 156.248 139.873 155.65 139.409 156.962C138.868 158.499 137.554 158.77 136.388 157.657C131.767 153.169 128.102 147.795 125.613 141.856C124.241 138.711 123.243 135.378 121.272 132.509C120.538 131.435 119.984 130.244 118.554 129.826C116.768 129.407 114.931 129.245 113.099 129.344C112.855 129.317 112.608 129.373 112.4 129.504C112.192 129.635 112.034 129.832 111.953 130.064C111.077 132.252 109.699 134.175 108.913 136.427C107.766 139.708 107.534 143.169 106.659 146.482C106.124 148.509 106.839 149.776 108.314 150.831C109.441 151.642 110.703 152.259 111.843 153.057C112.661 153.629 113.08 154.344 112.152 155.276C110.864 156.563 108.668 157.161 109.138 159.677C109.111 159.813 109.052 159.94 108.968 160.05C108.883 160.16 108.775 160.25 108.651 160.312C108.527 160.374 108.39 160.407 108.251 160.408C108.113 160.41 107.975 160.379 107.85 160.32C107.373 160.101 106.742 160.236 106.246 160.037C105.19 159.612 104.443 159.452 104.057 160.925C103.876 161.62 103.123 161.928 102.124 161.742C99.5481 161.24 98.4146 159.619 97.6159 157.239C96.2569 153.198 95.4648 148.978 93.7065 145.047C92.7082 142.809 91.2397 140.744 90.9112 138.209C90.6923 136.536 87.9099 128.237 87.4462 125.542C87.253 124.422 86.7184 124.454 85.9133 124.898C84.9037 125.542 83.7869 125.999 82.6157 126.249C78.5324 126.712 74.5263 127.877 70.3785 127.697C65.387 127.478 60.3891 127.356 55.3976 127.111C51.076 126.899 46.7414 127.008 42.4584 126.095C41.2991 125.85 38.9225 124.808 39.5794 127.941C39.6374 128.224 39.3089 128.585 39.1222 128.913C38.6456 129.749 37.9113 129.164 37.3188 129.157C36.7262 129.151 36.43 128.668 36.3076 128.076C36.1595 127.349 36.6618 127.156 37.1449 126.867C37.6279 126.577 38.3428 126.61 38.5038 125.786C35.4252 125.233 32.3724 124.84 29.3968 124.113C26.1765 123.335 22.9562 122.569 19.9613 121.225C15.7427 119.295 11.5885 117.301 7.41495 115.216C5.16074 114.077 3.38957 112.476 1.46382 110.989C1.13005 110.72 0.861435 110.38 0.67807 109.992C0.420441 109.484 0.310944 109.156 0.781113 108.706C0.929794 108.512 1.14526 108.38 1.38568 108.336C1.62611 108.292 1.87431 108.339 2.08211 108.468C6.89326 110.301 11.9878 110.777 17.0437 111.08C20.9789 111.311 24.9592 111.266 28.9266 111.247C34.4849 111.247 39.8757 110.102 45.2215 109.085C48.7638 108.442 52.3061 107.747 55.8098 106.776C59.9061 105.63 64.1504 105.026 68.1179 103.385C72.3042 101.697 76.3126 99.5976 80.0845 97.1192C81.8593 95.8926 83.5211 94.5104 85.0503 92.9891C86.9825 91.1041 90.557 83.8988 91.2526 82.7665C92.077 81.4284 92.8305 80.0388 93.7515 78.765C95.6837 76.1273 97.2746 73.2452 100.076 71.3281C102.343 69.7841 114.323 63.2028 118.451 62.5659C122.316 61.9612 126.18 61.0863 130.096 60.6874C135.036 60.1856 139.931 59.6838 144.909 60.4108C145.27 60.4622 145.843 59.568 145.457 59.2463C143.306 57.4579 141.077 55.7595 139.016 53.8745C137.195 52.3633 135.578 50.6225 134.205 48.6957C133.349 47.3704 133.722 46.7014 135.287 46.7078C137.476 46.7406 139.657 46.984 141.799 47.4348L149.212 48.9016C148.941 48.4448 148.877 48.1682 148.703 48.0652C146.011 46.444 143.409 44.6363 140.581 43.311C137.863 42.0244 135.352 40.3774 132.569 39.2259C128.196 37.4181 125.414 33.6289 122.032 30.5924C121.638 30.2399 121.364 29.7732 121.249 29.2576C121.133 28.742 121.182 28.2033 121.388 27.7167C121.736 26.8417 129.664 27.4272 132.376 27.3435C136.043 27.3429 139.705 27.6355 143.325 28.2185C145.779 28.5401 148.233 28.3664 150.667 28.598C155.543 29.0548 160.431 29.2414 165.32 29.2928C166.176 29.2928 166.762 29.2928 166.312 28.0834C165.924 27.1285 165.775 26.0941 165.876 25.0688C165.977 24.0436 166.325 23.0581 166.891 22.1969C168.141 20.2347 171.561 18.4334 173.641 20.981C174.587 22.0782 175.277 23.3718 175.662 24.7681C176.046 26.1645 176.115 27.6286 175.863 29.0548C175.676 30.2514 175.953 30.8175 177.228 30.7854C178.929 30.7403 183.991 31.3129 184.249 30.4444C184.816 28.5144 186.026 27.009 187.179 25.4714C189.698 22.1004 192.332 22.1776 194.676 25.5165C197.355 29.3379 196.054 34.0342 193.594 36.4917C191.662 38.4217 191.694 38.4217 193.742 40.4932C193.89 40.6912 194.011 40.9074 194.103 41.1366C195.612 43.6622 196.94 46.2914 198.077 49.0045C199.764 53.3277 201.548 57.6058 202.83 62.0706C204.266 67.0564 204.492 72.2416 204.968 77.3497C205.612 84.1239 204.575 90.8596 203.036 97.4795C202.25 100.934 200.666 104.022 199.249 107.2C198.148 109.664 197.285 112.231 196.177 114.689C192.987 121.557 192.448 129.36 194.663 136.6C196.666 143.362 198.83 150.11 203.629 155.592C203.885 155.865 204.023 156.229 204.012 156.604C204.001 156.979 203.842 157.334 203.571 157.592C203.004 158.139 202.386 157.888 201.767 157.425C200.942 156.684 199.907 156.216 198.805 156.087C198.805 156.479 198.805 156.846 198.721 157.2C198.418 158.924 197.729 159.316 196.145 158.602C195.114 158.133 195.133 158.744 194.972 159.49C194.605 161.169 193.233 161.678 192.081 160.571C188.648 157.284 184.951 154.26 182.523 150.059ZM122.844 131.023C124.422 133.223 124.815 135.957 126.225 138.222C126.412 138.53 126.592 139.097 126.792 139.103C128.512 139.154 129.664 140.094 130.824 141.232C131.3 141.702 131.468 140.782 131.564 140.448C131.758 139.708 131.912 139.09 132.994 139.676C133.774 140.023 133.851 139.2 134.134 138.736C134.418 138.273 133.883 137.565 134.83 137.495C135.139 137.475 135.448 137.55 135.713 137.71C135.979 137.87 136.19 138.107 136.318 138.389C136.601 138.884 136.865 139.56 137.38 139.528C138.134 139.476 138.108 138.492 138.147 138.054C138.372 135.526 138.346 132.972 139.306 130.54C139.519 130 138.81 129.8 138.366 129.607C137.545 129.297 136.661 129.188 135.79 129.292C134.64 129.416 133.478 129.271 132.395 128.868C130.373 128.083 128.331 129.028 126.309 129.26C125.414 129.363 124.583 129.839 123.636 129.73C122.522 129.601 122.47 130.502 122.844 131.023ZM22.4603 118.935C22.0094 117.384 21.082 115.885 21.726 114.2C21.9901 113.518 21.6359 113.595 21.2301 113.383C19.7745 112.649 9.25697 112.186 7.65324 112.469C10.6932 114.566 19.8454 119.424 21.7711 119.842C22.1318 119.919 22.4152 120.163 22.7308 119.803C23.1494 119.34 22.544 119.224 22.4603 118.935ZM33.6412 112.971C30.2856 112.591 27.0395 114.045 23.6969 113.421C23.085 113.305 23.0528 113.73 23.0077 114.213C22.6341 117.313 25.1653 120.755 28.289 121.611C31.1937 122.409 34.1436 122.898 36.9645 123.541C37.6988 123.206 38.1303 122.093 37.7374 121.611C36.05 119.597 34.9873 117.339 35.2707 114.644C35.4124 113.331 34.9293 113.125 33.6412 112.971ZM75.7371 102.729C75.4086 102.523 75.093 102.806 74.7131 102.948C72.3687 103.894 70.005 104.788 67.6284 105.708C65.5223 106.531 64.1311 110.089 64.9813 112.862C65.9409 116.001 67.667 118.774 69.4897 121.482C69.6185 121.669 71.5443 122.357 71.0806 123.078C70.5138 123.94 69.7924 123.078 69.245 122.724C66.9328 121.199 66.0247 118.626 64.7365 116.374C63.3067 113.91 62.566 111.285 63.3454 108.403C63.6223 107.4 62.8881 107.387 62.2762 107.496C59.555 107.906 56.8713 108.534 54.2512 109.375C52.9631 109.825 52.319 111.903 52.5444 113.878C52.6956 115.507 53.2066 117.083 54.0408 118.491C54.875 119.9 56.0115 121.106 57.3685 122.023C57.6454 122.216 58.0898 122.557 57.6969 122.878C57.4876 123.007 57.2433 123.069 56.9977 123.054C56.7521 123.039 56.5171 122.948 56.3251 122.795C53.9273 121.453 52.119 119.264 51.2563 116.657C50.7539 115.171 50.1936 113.621 50.7797 111.916C51.121 110.912 50.8119 110.443 49.3499 110.546C45.8848 110.796 42.6709 112.328 39.1737 112.308C37.6794 112.308 37.1191 113.447 37.1578 114.637C37.2328 117.395 38.298 120.035 40.1591 122.074C42.1814 124.435 44.4936 124.326 46.999 124.532C54.9597 125.175 62.9331 125.175 70.9066 125.329C74.4618 125.33 78.0019 124.868 81.4371 123.953C76.7225 118.999 75.1188 113.28 75.2476 106.911C75.267 105.862 76.3297 103.109 75.75 102.748L75.7371 102.729ZM83.9167 96.9391C82.3903 98.0263 80.8767 99.1264 79.2794 100.098C79.0118 100.239 78.7989 100.466 78.6741 100.741C77.3859 105.006 76.5551 109.297 77.489 113.794C77.9913 116.213 79.4212 118.182 80.31 120.408C83.2662 126.133 86.4865 121.785 86.3706 120.877C85.9402 117.864 85.6714 114.829 85.5655 111.787C85.5076 109.368 85.6042 106.969 85.7845 104.55C86.068 101.235 86.5824 97.9438 87.3238 94.7003C85.5526 94.8869 84.9408 96.2443 83.9296 96.952L83.9167 96.9391ZM200.492 98.6118C201.999 94.7196 202.25 90.4865 202.811 86.3434C203.246 83.6785 203.319 80.9671 203.03 78.2825C202.115 71.6562 202.147 64.9141 199.648 58.4743C198.083 54.4406 196.525 50.4005 194.786 46.4376C193.617 44.042 192.136 41.8116 190.38 39.8049C189.594 38.827 188.403 39.3545 187.411 39.361C185.852 39.361 184.642 39.0136 183.656 37.6561C183.308 37.1801 183.012 36.8005 183.109 36.2858C183.573 34.1435 182.181 33.6675 180.571 33.4166C178.961 33.1657 177.171 32.9534 175.464 32.7282C175.406 32.7282 175.316 32.6639 175.29 32.6896C173.049 35.1021 171.187 32.1428 169.088 32.0463C165.397 31.8661 161.655 31.5059 157.939 31.2293C150.687 30.6889 143.389 30.8883 136.202 29.4086C134.074 28.9886 131.882 29.0061 129.761 29.4601C128.628 29.7046 127.713 31.2035 126.837 32.2521C126.579 32.5545 127.249 32.8955 127.526 33.2364C130.102 36.1507 133.574 37.862 136.955 39.6119C141.258 41.8378 145.515 44.1152 149.656 46.6435C151.736 47.9301 154.055 48.8372 156.245 49.9759C156.844 50.2847 157.726 50.2976 157.456 51.2047C157.335 51.5965 157.064 51.9248 156.702 52.1177C156.34 52.3106 155.916 52.3524 155.524 52.234C152.207 51.2754 148.761 51.031 145.405 50.2526C143.164 49.7315 140.839 49.101 138.437 49.2554C138.05 49.2554 137.728 49.1911 137.567 49.5578C137.406 49.9245 137.722 50.1046 137.947 50.3169C142.391 54.3956 147.067 58.217 151.253 62.5402C153.258 64.5966 155.15 66.7591 156.921 69.0185C157.466 69.6407 158.121 70.1575 158.853 70.5432C159.633 71.0515 160.199 71.8299 159.459 72.6855C158.718 73.5411 158.209 72.6855 157.649 72.2416C155.511 70.5111 154.036 68.1951 152.265 66.1428C151.238 64.8104 149.762 63.8959 148.11 63.5695C145.998 63.2864 144.111 62.1413 141.921 62.2314C139.074 62.3408 136.208 62.122 133.381 62.3665C130.064 62.6495 126.779 63.2736 123.481 63.7625C118.522 64.5088 113.685 65.3515 109.396 68.4524C106.903 70.2602 103.876 71.3667 101.255 73.1101C97.9766 75.2846 96.3793 78.7907 94.1702 81.8208C91.2977 85.8159 90.3058 90.6023 89.198 95.2407C88.3679 98.4136 87.8778 101.666 87.736 104.942C87.6652 107.38 87.4591 109.831 87.4591 112.283C87.4591 116.786 88.4445 121.18 89.4299 125.561C90.0388 128.396 91.0403 131.133 92.4055 133.693C92.6899 134.244 92.761 134.881 92.6051 135.481C92.1543 137.585 93.2492 139.341 93.9383 141.11C94.1122 141.554 94.5824 142.249 95.3939 141.67C95.5463 141.557 95.7373 141.508 95.9254 141.534C96.1135 141.561 96.2836 141.66 96.3987 141.811C97.2617 142.924 98.0539 142.854 98.9234 141.811C99.3356 141.303 99.6705 141.779 99.9925 142.043C100.315 142.307 100.591 142.448 100.791 141.882C101.525 139.843 102.324 140.943 102.994 141.882C103.328 142.465 103.857 142.911 104.488 143.143C106.556 137.257 108.352 131.364 111.689 126.14C112.907 124.224 114.392 122.491 116.101 120.993C118.915 118.579 121.052 115.475 122.303 111.987C123.314 109.162 124.731 106.415 124.602 103.276C124.602 102.793 124.802 102.343 125.246 102.337C125.526 102.347 125.793 102.457 125.999 102.647C126.204 102.837 126.335 103.095 126.367 103.372C126.533 104.222 126.533 105.096 126.367 105.946C124.86 111.736 122.799 117.223 118.638 121.675C117.556 122.833 116.229 123.76 115.115 124.892C114.265 125.754 113.956 126.436 115.714 126.822C118.132 127.272 120.606 127.335 123.044 127.008C126.757 126.606 130.504 126.606 134.218 127.008C136.041 127.189 137.896 126.674 139.808 127.066C143.235 127.768 146.726 127.375 150.191 127.266C151.382 127.227 152.406 128.121 153.694 127.909C154.469 127.805 155.233 127.639 155.981 127.414C156.182 127.376 156.374 127.299 156.545 127.187C156.716 127.074 156.864 126.93 156.978 126.76C157.093 126.591 157.174 126.401 157.215 126.201C157.256 126 157.257 125.794 157.217 125.593C157.14 123.483 156.928 121.308 158.506 119.507C159.394 119.861 159.543 120.607 159.427 121.437C159.102 124.528 159.078 127.644 159.356 130.74C159.568 134.452 159.845 138.151 160.257 141.799C160.902 142.049 160.902 141.522 161.069 141.245C161.713 140.055 162.441 140.248 163.194 141.084C163.516 141.445 163.677 141.972 164.045 142.249C164.631 142.693 165.333 143.658 165.803 141.992C166.17 140.737 166.988 140.467 168.012 141.657C168.811 142.596 169.719 143.729 170.743 141.657C171.181 140.776 171.954 141.052 172.424 141.914C172.707 142.442 173.016 143.162 173.712 142.912C174.253 142.725 174.478 142.12 174.665 141.464C175.831 137.321 176.275 132.888 179.077 129.35C180.945 126.989 182.896 124.699 184.822 122.389C184.996 122.209 185.221 122.086 185.466 122.035C188.223 121.341 189.33 118.935 190.986 116.998C195.597 111.607 198 105.084 200.492 98.6246V98.6118ZM187.727 137.99C188.339 135.989 188.796 135.957 190.503 137.302C190.896 137.61 191.295 138.093 191.791 137.771C192.287 137.45 191.668 136.845 191.752 136.485C192.493 133.049 190.651 129.704 191.578 126.191C192.081 124.3 191.411 122.209 191.829 120.176C190.805 122.035 184.706 126.005 184.236 126.564C182.22 128.983 180.004 131.242 178.774 134.239C178.008 136.118 178.375 139.122 179.779 140.57C179.979 140.776 180.159 141.11 180.513 140.949C180.65 140.878 180.762 140.766 180.834 140.629C180.905 140.493 180.933 140.337 180.913 140.184C180.889 139.813 180.889 139.441 180.913 139.071C181.048 137.63 181.937 137.199 183.102 138.009C183.603 138.447 184.145 138.837 184.719 139.174C186.065 139.804 187.153 139.875 187.727 137.996V137.99Z" fill="#131522"/>
    <path d="M128.671 22.5604C128.161 21.8452 127.529 21.4843 127.174 20.6642C126.065 18.1118 125.021 15.4807 122.867 13.5779C122.377 13.1449 122.164 12.6725 122.641 12.1344C123.118 11.5964 123.582 11.7342 124.073 12.1935C126.62 14.6015 127.903 17.8362 129.573 20.8151C130.134 21.7533 129.18 21.8977 128.671 22.5604Z" fill="#131522"/>
    <path d="M124.925 21.6687C124.269 22.4259 123.579 21.6687 123.145 21.314C121.702 20.1069 120.149 19.0492 118.508 18.1559C118.192 17.9853 117.752 17.9308 117.851 17.1122C118.337 16.0345 119.316 16.1982 120.202 16.7848C121.595 17.7283 122.941 18.7437 124.236 19.827C124.794 20.2568 125.661 20.7888 124.925 21.6687Z" fill="#131522"/>
    <path d="M48.1919 128.038C49.2847 128.232 50.8623 128.285 50.9238 130.035C50.9716 131.448 49.8652 131.53 48.9159 131.381C47.6934 131.463 46.4094 131.47 46.3889 129.825C46.3928 129.576 46.4434 129.33 46.5376 129.102C46.6319 128.875 46.7677 128.671 46.9367 128.504C47.1057 128.336 47.3043 128.208 47.5202 128.128C47.7361 128.048 47.9647 128.017 48.1919 128.038Z" fill="#131522"/>
    <path d="M119.406 21.2064C119.104 21.6098 118.778 21.3629 118.483 21.2064C117.367 20.6293 116.214 20.1226 115.029 19.6893C114.552 19.5448 113.629 19.3702 113.924 18.6358C114.087 18.2264 114.853 17.9675 115.519 18.0337C116.944 18.4157 118.218 19.1952 119.18 20.2733C119.431 20.5803 119.707 20.8151 119.406 21.2064Z" fill="#131522"/>
    <path d="M37.875 103.647C37.4358 103.044 36.9067 102.533 36.3116 102.136C35.9662 101.965 35.4875 101.684 35.645 100.98C35.8026 100.275 36.3177 100.22 36.857 100.255C37.4283 100.254 37.9862 100.45 38.4561 100.816C38.9261 101.183 39.2857 101.703 39.4868 102.307C39.5962 102.609 39.6133 102.944 39.5354 103.258C39.4575 103.573 39.289 103.849 39.0566 104.044C38.6506 104.482 38.2264 103.989 37.875 103.647Z" fill="#131522"/>
    <path d="M28.3857 107.598C27.2054 107.598 26.5415 107.1 26.5415 105.866C26.5415 105.038 26.9472 104.751 27.6726 104.786C28.7483 104.828 29.8364 105.123 29.9409 106.42C30.0024 107.248 29.0926 107.724 28.3857 107.598Z" fill="#131522"/>
    <path d="M23.7171 127.188C23.9451 126.12 25.2543 126.106 26.2326 125.764C26.4164 126.704 27.7918 125.379 27.6668 126.383C27.5417 127.388 27.0195 128.641 25.4603 128.598C24.4894 128.577 23.5921 127.644 23.7171 127.188Z" fill="#131522"/>
    <path d="M49.7026 103.649C49.2934 103.652 48.8987 103.464 48.599 103.124C48.2994 102.784 48.1173 102.317 48.09 101.819C48.2745 101.499 48.2804 100.54 48.816 100.889C49.5182 101.347 50.732 100.707 50.9225 102.051C50.9339 102.255 50.9108 102.46 50.8547 102.653C50.7986 102.846 50.7106 103.023 50.5963 103.173C50.4819 103.323 50.3436 103.442 50.1899 103.524C50.0362 103.606 49.8703 103.649 49.7026 103.649Z" fill="#131522"/>
    <path d="M57.6575 100.222C57.4991 100.348 56.9936 99.9831 57.2189 99.4987C57.6331 98.6163 57.3042 97.3158 58.2118 96.8447C59.3203 96.9376 59.43 97.5082 59.43 98.311C59.4482 99.6248 58.3336 99.7044 57.6575 100.222Z" fill="#131522"/>
    <path d="M13.5782 126.213C14.0298 125.111 15.0659 125.147 16.3345 125.238C15.7168 126.219 15.9692 127.557 14.4416 127.46C14.2826 127.454 14.1276 127.413 13.9899 127.341C13.8521 127.268 13.7358 127.166 13.6509 127.043C13.566 126.92 13.515 126.781 13.5023 126.636C13.4897 126.492 13.5157 126.346 13.5782 126.213Z" fill="#131522"/>
    <path d="M17.9276 106.484C16.9629 106.484 16.2344 106.432 16.346 105.692C16.4313 105.113 16.9432 104.777 17.7963 104.783C18.6495 104.789 19.2073 105.177 19.168 105.726C19.1155 106.369 18.2886 106.473 17.9276 106.484Z" fill="#131522"/>
    <path d="M57.9934 132.568C57.3063 132.537 57.3003 131.786 57.1616 131.327C57.1616 130.751 57.1978 130.199 57.8186 130.316C58.2947 130.403 58.8974 130.608 58.8612 131.29C58.8251 131.873 58.6865 132.599 57.9934 132.568Z" fill="#131522"/>
    <path d="M165.977 38.9118C164.765 38.5203 163.484 38.3708 162.211 38.4724C161.958 38.5362 161.69 38.5038 161.461 38.3817C161.233 38.2596 161.061 38.0573 160.983 37.8165C160.827 37.2721 161.044 36.8983 161.519 36.4195C162.822 35.1078 164.403 35.1078 166.214 35.1078C166.893 35.3701 168.135 34.524 168.63 35.5931C168.826 35.9569 168.905 36.3689 168.858 36.7766C168.811 37.1842 168.64 37.569 168.365 37.8821C167.728 38.5117 167.198 39.2725 165.977 38.9118Z" fill="#131522"/>
    <path d="M98.505 84.2973C98.3355 84.6125 97.9898 85.0611 97.4811 84.9035C97.2561 84.8182 97.072 84.6601 96.9629 84.4583C96.8538 84.2566 96.827 84.0249 96.8876 83.8063C96.8876 82.0968 99.4964 79.0902 101.251 78.7446C101.458 78.6797 101.683 78.6834 101.888 78.7552C102.092 78.8271 102.264 78.9626 102.373 79.1386C102.436 79.2216 102.482 79.3155 102.506 79.4148C102.53 79.5142 102.533 79.617 102.514 79.7174C102.495 79.8178 102.455 79.9137 102.396 79.9995C102.337 80.0854 102.261 80.1595 102.171 80.2177C100.643 81.3128 99.3922 82.7053 98.505 84.2973Z" fill="#131522"/>
    <path d="M111.837 71.416C109.894 72.1883 108.289 73.4318 106.56 74.5118C105.809 74.983 105.375 74.6689 105.361 73.7526C105.363 73.5916 105.383 73.4312 105.423 73.2748C105.74 72.3519 110.039 69.6095 111.114 69.6357C111.479 69.6357 111.982 69.5244 112.051 70.0415C112.119 70.5585 112.361 71.2131 111.837 71.416Z" fill="#131522"/>
    <path d="M140.682 68.2154C140.27 67.9326 139.641 68.0631 138.737 67.9689C138.177 67.6354 137.416 68.5851 136.513 68.4836C135.983 68.4256 135.584 68.2589 135.454 67.6209C135.395 67.4194 135.403 67.1994 135.477 67.0047C135.551 66.8099 135.685 66.6546 135.852 66.5696C137.58 65.9599 139.375 65.652 141.18 65.656C141.361 65.6683 141.537 65.7323 141.692 65.8425C141.847 65.9527 141.976 66.1057 142.068 66.2879C142.159 66.47 142.211 66.6757 142.218 66.8868C142.226 67.0978 142.188 67.3076 142.109 67.4976C141.859 68.2299 141.56 68.8244 140.682 68.2154Z" fill="#131522"/>
    <path d="M122.987 68.3726C121.465 68.3726 120.671 69.7578 119.32 70.0921C118.709 70.2414 118.263 70.2951 118 69.7398C117.856 69.5193 117.805 69.2533 117.856 68.9967C117.907 68.7401 118.057 68.5124 118.275 68.3607C119.418 67.6323 120.555 66.868 122.113 66.7904C122.455 67.0949 123.237 66.3725 123.476 67.2263C123.622 67.68 123.225 68.3726 122.987 68.3726Z" fill="#131522"/>
    <path d="M118.115 77.2765C117.242 78.411 116.185 79.3719 115.319 80.5373C114.966 81.0146 114.178 81.2626 113.903 80.3575C113.526 79.1177 116.263 75.8197 117.177 75.8631C118.718 75.8941 118.521 76.7496 118.115 77.2765Z" fill="#131522"/>
    <path d="M133.8 73.6671C131.887 74.2156 130.044 74.9519 128.304 75.8632C128.141 75.5877 128.052 75.2809 128.044 74.9677C128.036 74.6546 128.109 74.3441 128.257 74.0619C128.607 73.445 132.69 71.8165 133.518 71.8967C133.948 71.9398 134.305 72.02 134.245 72.5135C134.184 73.007 134.547 73.4265 133.8 73.6671Z" fill="#131522"/>
    <path d="M98.4479 90.5007C98.5274 90.3203 98.6597 90.179 98.8208 90.1023C98.9819 90.0257 99.1613 90.0187 99.3264 90.0827C99.8284 90.2151 99.5833 90.7167 99.6909 91.1556C99.5774 93.0367 97.8981 93.8588 97.3304 95.4682C97.2643 95.7086 97.133 95.9175 96.9562 96.0633C96.7794 96.2091 96.5667 96.2839 96.3503 96.2764C95.8184 96.1928 95.9319 95.4403 95.7825 94.9666C95.5853 94.3256 95.902 93.8937 96.2248 93.4547C96.9539 92.4585 97.9519 91.7478 98.4479 90.5007Z" fill="#131522"/>
    <path d="M126.781 71.3268C126.466 71.2571 125.996 71.1944 125.868 70.7411C125.771 70.4934 125.749 70.2187 125.806 69.9568C125.863 69.6949 125.995 69.4592 126.183 69.2839C126.974 68.5867 127.79 67.8894 128.517 67.1155C128.967 66.6414 129.275 66.7599 129.803 67.0039C130.445 67.3247 130.343 67.9103 130.22 68.3287C129.674 70.0578 128.33 70.783 126.781 71.3268Z" fill="#131522"/>
    <path d="M109.483 78.6985C110.217 78.7853 110.783 79.3665 110.263 80.0745C109.391 81.3295 108.395 82.489 107.292 83.5347C106.986 83.8353 106.056 84.1092 105.933 83.0137C105.809 81.9182 108.384 78.7653 109.483 78.6985Z" fill="#131522"/>
    <path d="M143.203 77.6747C142.393 77.7104 141.589 77.8556 140.81 78.1071C139.815 78.1496 139.222 78.2134 138.934 77.5471C138.882 77.4648 138.846 77.3711 138.829 77.2722C138.812 77.1733 138.814 77.0715 138.835 76.9736C138.857 76.8757 138.896 76.7839 138.952 76.7043C139.007 76.6248 139.078 76.5593 139.158 76.5122C140.144 75.6491 141.382 75.2201 142.635 75.3072C142.966 75.3321 143.278 75.4894 143.513 75.7501C143.747 76.0108 143.889 76.3571 143.911 76.7249C143.929 76.8403 143.924 76.9585 143.896 77.0715C143.869 77.1845 143.82 77.2896 143.753 77.3797C143.686 77.4698 143.602 77.5428 143.507 77.5937C143.412 77.6446 143.308 77.6722 143.203 77.6747Z" fill="#131522"/>
    <path d="M147.078 69.3328C146.324 68.9058 145.745 68.6495 146.652 68.009C147.916 67.1182 149.396 67.2952 150.841 67.6368C152.286 67.9785 151.804 68.9363 151.693 70.193C150.247 68.5702 148.53 70.1625 147.078 69.3328Z" fill="#131522"/>
    <path d="M156.061 75.2515C155.207 74.7549 154.214 74.7493 153.281 74.5262C153.04 74.4602 152.83 74.3335 152.677 74.1629C152.524 73.9923 152.437 73.7862 152.426 73.5721C152.426 73.3433 152.472 73.1202 152.768 73.0923C154.083 72.9751 155.397 72.9528 156.482 73.6111C156.715 73.7521 156.878 73.962 156.937 74.1996C156.997 74.4372 156.949 74.6851 156.804 74.8944C156.633 75.1231 156.331 75.4077 156.061 75.2515Z" fill="#131522"/>
    <path d="M91.4575 96.8361C90.9345 96.9091 90.6488 96.4576 90.6184 95.787C91.0318 94.8972 91.2264 93.6688 92.4425 93.4696C92.5855 93.4293 92.736 93.4324 92.8775 93.4788C93.019 93.5252 93.1462 93.6131 93.2452 93.7328C93.3442 93.8526 93.4113 93.9997 93.4391 94.1581C93.467 94.3166 93.4545 94.4804 93.4032 94.6316C93.166 95.7604 92.6006 96.69 91.4575 96.8361Z" fill="#131522"/>
    <defs>
    <linearGradient id="paint0_linear_703_2026" x1="86.9463" y1="94.5765" x2="73.8915" y2="96.357" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF702C"/>
    <stop offset="1" stop-color="#FFC1E6"/>
    </linearGradient>
    <linearGradient id="paint1_linear_703_2026" x1="37.4935" y1="112.721" x2="22.4831" y2="120.659" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF702C"/>
    <stop offset="1" stop-color="#FFC1E6"/>
    </linearGradient>
    <linearGradient id="paint2_linear_703_2026" x1="22.1829" y1="112.154" x2="9.50474" y2="121.253" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF702C"/>
    <stop offset="1" stop-color="#FFC1E6"/>
    </linearGradient>
    <linearGradient id="paint3_linear_703_2026" x1="80.3769" y1="102.515" x2="43.623" y2="130.21" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF702C"/>
    <stop offset="1" stop-color="#FFC1E6"/>
    </linearGradient>
    </defs>
  </svg>
</div>
<div class="opensource-only">
  <div class="columns">
    <div class="card card-light">
      <!-- All the Open Source cards are listed here -->
    <%- partial("component/heading", {text: "Getting Started", tag: "h2", customClass: "card-title" }) %>
    <%- partial("component/link", { url: "https://labelstud.io/guide/install.html", label: "Learn how to install", customClass: "card-cta" }) %>
    </div>
    <div class="card card-light">
    <%- partial("component/heading", {text: "Labeling Templates", tag: "h2", customClass: "card-title" }) %>
    <%- partial("component/link", { url: "/templates", label: "Explore Templates", customClass: "card-cta" }) %>
    </div>
  </div>

  <div class="columns">  
    <div class="card">
    <!-- All the Open Source cards are listed here -->
    <%- partial("component/heading", {text: "Overview", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li>
        <%- partial("component/link", { url: "/guide/get_started.html", label: "About Label Studio", size: "Full" }) %>
      </li>
    </ul>
    </div>

    <div class="card">
    <%- partial("component/heading", {text: "Install", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li>
        <%- partial("component/link", { url: "/guide/install.html", label: "Install and Upgrade", size: "Full" }) %>
      </li>
      <li class="enterprise-only">
        <%- partial("component/link", { url: "/guide/install_enterprise.html", label: "Install and Deploy", size: "Full" }) %>
      </li>
    </ul>
    </div>
  
    <div class="card">
    <%- partial("component/heading", {text: "Configuration", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <!-- <li class="opensource-only">
        <%- partial("component/link", { url: "/guide/signup.html", label: "User Signup", size: "Full" }) %>
      </li> -->
      <li>
        <%- partial("component/link", { url: "/guide/setup.html", label: "Project Configuration", size: "Full" }) %>
      </li>
    </ul>
    </div>

    <div class="card">
    <%- partial("component/heading", {text: "Import and Export", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li>
        <%- partial("component/link", { url: "/guide/tasks.html", label: "Import Data", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/export.html", label: "Export Tasks with Annotations and Data", size: "Full" }) %>
      </li>
    </ul>
    </div>

    <div class="card">
    <%- partial("component/heading", {text: "Labeling", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li>
        <%- partial("component/link", { url: "/guide/manage_data.html", label: "Data Manager", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/labeling.html", label: "For Annotators", size: "Full" }) %>
      </li>
    </ul>
    </div>

    <div class="card">
    <%- partial("component/heading", {text: "Machine Learning", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li>
        <%- partial("component/link", { url: "/guide/active_learning.html", label: "Active Learning", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/predictions.html", label: "Generate and Store Predictions", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/ml.html", label: "Run ML models with Label Studio", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/ml_create.html", label: "Write your own ML Model", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/ml_tutorials.html", label: "ML Examples and Tutorials", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/ml.html#Train-a-model", label: "Set up ML with Label Studio", size: "Full" }) %>
      </li>
    </ul>
    </div>

    <div class="card">
    <%- partial("component/heading", {text: "Integration and Development", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li>
        <%- partial("component/link", { url: "/guide/webhooks.html", label: "Webhooks", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/frontend.html", label: "Advanced Development", size: "Full" }) %>
      </li>
    </ul>
    </div>

    <div class="card">
    <%- partial("component/heading", {text: "Reference", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
    <ul class="card-links-list">
      <li class="enterprise-only">
        <%- partial("component/link", { url: "https://app.heartex.com/docs/api", label: "API and SDKs", size: "Full" }) %>
      </li>
      <li class="opensource-only">
        <%- partial("component/link", { url: "/api", label: "API and SDKs", size: "Full" }) %>
      </li>
      <li class="opensource-only">
        <%- partial("component/link", { url: "https://github.com/heartexlabs/label-studio/releases", label: "Release Notes", size: "Full" }) %>
      </li>
      <li>
        <%- partial("component/link", { url: "/guide/get_started.html#Terminology", label: "Glossary", size: "Full" }) %>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="enterprise-only">
  <div class="columns">
    <div class="card card-light">
      <!-- All the Enterprise cards are listed here -->
      <%- partial("component/heading", {text: "Overview", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
       <%- partial("component/link", { url: "/guide/get_started.html", label: "About Label Studio", size: "Full" }) %>
      </div>
      <div class="card card-light">
      <%- partial("component/heading", {text: "Labeling Templates", tag: "h2", customClass: "card-title" }) %>
      <%- partial("component/link", { url: "/templates", label: "Explore Templates", customClass: "card-cta" }) %>
    </div>
  </div>

  <div class="columns">  
    <div class="card">
    <!-- All the Enterprise cards are listed here -->
      <%- partial("component/heading", {text: "Configuration", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
      <ul class="card-links-list">
        <li class="enterprise-only">
          <%- partial("component/link", { url: "/guide/manage_users.html", label: "User Management", size: "Full" }) %>
        </li>
        <li>
          <%- partial("component/link", { url: "/guide/setup.html", label: "Project Configuration", size: "Full" }) %>
        </li>
      </ul>
    </div>
  
    <div class="card">
      <%- partial("component/heading", {text: "Import and Export", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
      <ul class="card-links-list">
        <li>
          <%- partial("component/link", { url: "/guide/tasks.html", label: "Import Data", size: "Full" }) %>
        </li>
        <li>
          <%- partial("component/link", { url: "/guide/export.html", label: "Export Tasks with Annotations and Data", size: "Full" }) %>
        </li>
      </ul>
    </div>
  
    <div class="card">
      <%- partial("component/heading", {text: "Labeling", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
      <ul class="card-links-list">
        <li>
          <%- partial("component/link", { url: "/guide/manage_data.html", label: "Data Manager", size: "Full" }) %>
        </li>
        <li>
          <%- partial("component/link", { url: "/guide/labeling.html", label: "For Annotators", size: "Full" }) %>
        </li>
      </ul>
    </div>

    <div class="card enterprise-only">
      <%- partial("component/heading", {text: "Quality Control", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
      <ul class="card-links-list">
        <li>
          <%- partial("component/link", { url: "/guide/quality.html", label: "Reviewers", size: "Full" }) %>
        </li>
        <li>
          <%- partial("component/link", { url: "/guide/stats.html", label: "Dashboard Management", size: "Full" }) %>
        </li>
      </ul>
    </div>

    <div class="card">
        <%- partial("component/heading", {text: "Machine Learning", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
        <ul class="card-links-list">
          <li>
            <%- partial("component/link", { url: "/guide/active_learning.html", label: "Active Learning", size: "Full" }) %>
          </li>
          <li>
            <%- partial("component/link", { url: "/guide/predictions.html", label: "Generate and Store Predictions", size: "Full" }) %>
          </li>
          <li>
            <%- partial("component/link", { url: "/guide/ml.html", label: "Run ML models with Label Studio", size: "Full" }) %>
          </li>
          <li>
            <%- partial("component/link", { url: "/guide/ml_create.html", label: "Write your own ML Model", size: "Full" }) %>
          </li>
          <li>
            <%- partial("component/link", { url: "/guide/ml_tutorials.html", label: "ML Examples and Tutorials", size: "Full" }) %>
          </li>
          <li>
            <%- partial("component/link", { url: "/guide/ml.html#Train-a-model", label: "Set up ML with Label Studio", size: "Full" }) %>
          </li>
        </ul>
    </div>
    
    <div class="card">
        <%- partial("component/heading", {text: "Integration and Development", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
        <ul class="card-links-list">
          <li>
            <%- partial("component/link", { url: "/guide/webhooks.html", label: "Webhooks", size: "Full" }) %>
          </li>
          <li>
            <%- partial("component/link", { url: "/guide/frontend.html", label: "Advanced Development", size: "Full" }) %>
          </li>
        </ul>
    </div>

    <div class="card">
          <%- partial("component/heading", {text: "Security and Privacy", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
          <ul class="card-links-list">
            <li>
              <%- partial("component/link", { url: "/guide/security.html", label: "Secure Label Studio", size: "Full" }) %>
            </li>
          </ul>
    </div>
        
    <div class="card enterprise-only">
          <%- partial("component/heading", {text: "Billing and Usage", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
          <ul class="card-links-list">
            <li>
              <%- partial("component/link", { url: "/guide/billing.html", label: "Manage Billing", size: "Full" }) %>
            </li>
          </ul>
    </div>

    <div class="card">
          <%- partial("component/heading", {text: "Install", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
          <ul class="card-links-list">
            <li class="opensource-only">
              <%- partial("component/link", { url: "/guide/install.html", label: "Install and Upgrade", size: "Full" }) %>
            </li>
            <li class="enterprise-only">
              <%- partial("component/link", { url: "/guide/install_enterprise.html", label: "Install and Deploy", size: "Full" }) %>
            </li>
          </ul>
    </div>

    <div class="card">
          <%- partial("component/heading", {text: "Reference", tag: "h2", size: "XSmall", customClass: "card-title"}) %>
          <ul class="card-links-list">
            <li class="enterprise-only">
              <%- partial("component/link", { url: "https://app.heartex.com/docs/api", label: "API and SDKs", size: "Full" }) %>
            </li>
            <li class="opensource-only">
              <%- partial("component/link", { url:  "https://labelstud.io/api", label: "API and SDKs", size: "Full" }) %>
            </li>
            <li class="enterprise-only">
              <%- partial("component/link", { url: "/guide/release_notes.html", label: "Release Notes", size: "Full" }) %>
            </li>
            <li>
              <%- partial("component/link", { url: "/guide/get_started.html#Terminology", label: "Glossary", size: "Full" }) %>
            </li>
          </ul>
    </div>
  </div>
</div>
</div>
      
