<% const pageContainsHeadings = page.content.includes("<h2") %>
<% const tocPageTypes = page.type === "guide" || page.type === "blog" || page.type === "templates" || page.type === "tags" %>

<% const showToc = pageContainsHeadings && tocPageTypes %>

<% const formattedContent = removeContent(page.content) %>
<% const tocContent = replaceContent(formattedContent) %>

<div class="content-grid">
  <div class="content-markdown">
    <% if(page.type && page.parent !== undefined) { %>
      <%- breadcrumb({pageType: page.type, parentPage: page.parent, currentPage: page.title, parentPageExtension: page.parent_page_extension }) %>
    <% } %>
    <% if (!page.hide_frontmatter_title && page.title.trim()) { %>
      <%- partial("component/heading", {text: page.title, size: "XLarge", tag: "h1", customClass: "home-page-title"}) %>
    <% } %>
    <%- formattedContent %>
  </div>
  <div class="page-rightsidebar">
    <% if (showToc) { %>
      <div class="toc">
        <%- partial("component/text", {text: "In this article", tag: "h3", size: "Eyebrow"}) %>
        <%- toc(tocContent, {max_depth: 3, list_number: false, class: "toc-list"}) %>
      </div>
    <% } %>
    <div class="toc-enterprise-cta">
      <span class="toc-enterprise-cta-copy">Unlock more with Enterprise</span>
      <%- partial("component/button", { url: "https://humansignal.com/contact-sales", label: "Get a Demo", theme: "Tertiary" }) %>
    </div>
  </div>
</div>
