<% var isIndex = page.path === 'index.html' %>
<% var isBlog = page.type === 'blog' %>

<!DOCTYPE html>
<html lang="en">
  <head>
      <title><%- page.title ? page.title + ' — ' : '' %>Label Studio</title>
      <meta charset="utf-8">
      <meta name="description" content="<%- theme.site_description %>">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:type" content="article">
      <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>Label Studio">
      <meta property="og:description" content="<%- theme.site_description %>">
      <meta property="og:image" content="https://repository-images.githubusercontent.com/192640529/6b34d180-dd95-11e9-8016-fddd7751cb2c">
      <meta name="thumbnail" content="https://<%- theme.root_domain %>/images/opossum/heartex_icon_opossum_green@2x.png"/>


      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>Label Studio">
      <meta name="twitter:description" content="<%- theme.site_description %>">
      <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/opossum/heartex_icon_opossum_green@2x.png">

      <meta name="msapplication-TileColor" content="#4fc08d">
      <meta name="theme-color" content="#4fc08d">

      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
      <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Dosis:500&text=LabelStudio' rel='stylesheet' type='text/css'>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

      <!-- Place this tag in your head or just before your close body tag. -->
      <script src="<%- url_for("js/redirects.js") %>"></script>
      <script src="<%- url_for("js/jquery.min.js") %>"></script>
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <script src="<%- url_for("js/search.js") %>"></script>

      <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>
    <%- css('css/search') %>

      <style>
      </style>
      
    <% if (page.type === "playground") { %>
      <%- css('css/codemirror') %>
      <script src="<%- url_for("/js/jquery.min.js") %>"></script>
      <script src="<%- url_for("/js/jquery-ui.min.js") %>"></script>
      <script src="<%- url_for("/js/codemirror.js") %>"></script>
      <script src="<%- url_for("/js/xml.js") %>"></script>
    <% } %>

    <!-- this needs to be loaded before guide's inline scripts -->

  </head>
  <body >
    <div id="mobile-bar" <%- isBlog ? 'style="display: none"' : '' %>>
        <a class="menu-button"></a>
    </div>
    <% if (!isIndex) { %> <%- partial('partials/header') %> <% } %>

    <% if (!isIndex) { %>
        <div id="main" <%- !isBlog ? 'class="fix-sidebar"': '' %>>
            <%- body %>
        </div>
    <% } else { %>
        <%- partial('partials/index') %>
    <% } %>

    <script src="<%- url_for("/js/css.escape.js") %>"></script>
    <script src="<%- url_for("/js/common.js") %>"></script>
    <%- partial('partials/google_analytics') %>
    <script>
     window.onscroll = function() {myFunction()};

     // Get the header
     var header = document.getElementById("header");

     // Get the offset position of the navbar
     var sticky = header.offsetTop;

     // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
     function myFunction() {
         if (window.pageYOffset > sticky) {
             header.classList.add("sticky");
         } else {
             header.classList.remove("sticky");
         }
     }
    </script>
  </body>
</html>
