<% var isIndex = page.path === 'index.html' %>
<% var isBlog = page.type === 'blog' %>
<% var isGuide = page.type === 'guide' %>

<!DOCTYPE html>
<html lang="en">
  <head>
      <% var titlePrefix;
          if (isBlog) {
            titlePrefix = 'Label Studio Blog';
          } else if (isGuide) {
            titlePrefix = 'Label Studio Documentation';
          } else {
            titlePrefix = 'Label Studio';
          }
      %>
      <% if (page.meta_title) { %>
      <title><%- titlePrefix + ' — ' + page.meta_title %></title>
      <% } else { %>
      <title><%- page.title ? page.title + ' — ' : titlePrefix %>Label Studio — Data Labeling</title>
      <% } %>
      <meta charset="utf-8">
      <meta name="description" content="<%- page.meta_description ? page.meta_description : theme.site_description %>">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:type" content="article">
      <% if (page.meta_title) { %>
      <meta property="og:title" content="<%- titlePrefix + ' — ' + page.meta_title %>">
      <% } else { %>
      <meta property="og:title" content="<%- page.title ? page.title + ' — ' : titlePrefix %>">
      <% } %>
      <meta property="og:description" content="<%- page.meta_description ? page.meta_description : theme.site_description %>">

      <meta name="twitter:card" content="summary">
      <% if (page.meta_title) { %>
      <meta property="twitter:title" content="<%- titlePrefix + ' — ' + page.meta_title %>">
      <% } else { %>
      <meta property="twitter:title" content="<%- page.title ? page.title + ' — ' : titlePrefix %>">
      <% } %>
      <meta name="twitter:description" content="<%- page.meta_description ? page.meta_description : theme.site_description %>">

      <% if (page.image) { %>
        <meta property="og:image" content="https://<%- theme.root_domain %><%- page.image %>" />
        <meta name="thumbnail" content="https://<%- theme.root_domain %><%- page.image %>"/>
        <meta name="twitter:image" content="https://<%- theme.root_domain %><%- page.image %>"/>
      <% } else { %>
        <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/opossum/heartex_icon_opossum_green@2x.png"/>
        <meta name="thumbnail" content="https://<%- theme.root_domain %>/images/opossum/heartex_icon_opossum_green@2x.png"/>
        <meta property="og:image" content="https://repository-images.githubusercontent.com/192640529/6b34d180-dd95-11e9-8016-fddd7751cb2c" />
      <% } %>      
      
      <meta name="msapplication-TileColor" content="#4fc08d">
      <meta name="theme-color" content="#4fc08d">

      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

      <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <% if (!isIndex) { %>
      <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Dosis:500&text=LabelStudio' rel='stylesheet' type='text/css'>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <% } %>

      <!-- Place this tag in your head or just before your close body tag. -->
      <script src="<%- url_for("js/redirects.js") %>"></script>
      <script src="<%- url_for("js/jquery.min.js") %>"></script>
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <script src="<%- url_for("js/search.js") %>"></script>

      <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>

      <%- css('css/new-styles') %>
      <%- css('css/search') %>

    <!-- main page styles -->
    <% if (!isIndex) { %>
      <%- css('css/page') %>
    <% } %>

    <% if (page.type === "playground") { %>
      <%- css('css/codemirror') %>
      <script src="<%- url_for("/js/jquery.min.js") %>"></script>
      <script src="<%- url_for("/js/jquery-ui.min.js") %>"></script>
      <script src="<%- url_for("/js/codemirror.js") %>"></script>
      <script src="<%- url_for("/js/xml.js") %>"></script>
    <% } %>

    <!-- this needs to be loaded before guide's inline scripts -->

    <%- partial('partials/google_analytics') %>

  </head>
  <body >
    <div id="mobile-bar" <%- isBlog ? 'style="display: none"' : '' %>>
        <a class="menu-button"></a>
    </div>

    <%- partial('partials/heartex_header') %>

    <% if (!isIndex) { %>
      <%- partial('partials/header') %>

      <div id="main" <%- !isBlog ? 'class="fix-sidebar"': '' %>>
          <%- body %>
      </div>

      <script src="<%- url_for("/js/css.escape.js") %>"></script>
      <script src="<%- url_for("/js/common.js") %>"></script>
    <% } else { %>
        <%- partial('partials/index') %>
    <% } %>
  </body>
</html>
