<%
 removeLabelStudioMention = function(text) {
  return text
    .replace(/into Label Studio$/g, '')
    .replace(/in Label Studio$/g, '')
    .replace(/with Label Studio$/g, '')
    .replace(/by Label Studio$/g, '')
    .replace(/for Label Studio$/g, '')
    .replace(/from Label Studio$/g, '')
    .replace(/Label Studio$/g, '')
  }
%>

<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type: '' %> <%- page.type && page.type !== 'blog' ? 'with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">

  <div id="local-search-result-wrapper"></div>
  <script>
      var search_path = "<%= config.search.path %>";
      if (search_path.length === 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'local-search-input', 'local-search-result-wrapper');
  </script>

  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>
    <% } %>
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>
  <%- page.content %>
  <% if (page.type === 'guide') { %>
    <div class="guide-links">
      <% const lastPage = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
      <% if (lastPage) { %>
        <span>← <a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
      <% } %>
      <% const nextPage = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
      <% if (nextPage) { %>
        <span style="float: right;"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
      <% } %>
    </div>
    <% } %>

  <div class="footer-slack">
    <a href="https://join.slack.com/t/label-studio/shared_invite/zt-cr8b7ygm-6L45z7biEBw4HXa5A2b5pw">
      Couldn't find what you were looking for or found an error? Please let us know on
      Slack&nbsp;<img style="height: 18px; position: absolute" src="/images/slack.png" />
    </a>
  </div>
</div>

<div class="sub-toc"></div>
