
<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type: '' %> <%- page.type && page.type !== 'blog' ? 'with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">

  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>
    <% } %>
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.badge %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>

  <!--Add previous and next page constructors to guide pages-->
  <%- page.content %>
  <% if (page.type === 'guide') { %>
    <div class="guide-links">
      <% const lastPage = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
      <% if (lastPage) { %>
        <span>← <a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
      <% } %>
      <% const nextPage = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
      <% if (nextPage) { %>
        <span style="float: right;"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
      <% } %>
    </div>
    <% } %>

<!--content for all the website pages-->
<% if (!page.header_only) { %>
  <div class="footer-slack">
      Couldn't find what you were looking for? Please <a href="https://slack.labelstudio.heartex.com/?source=docs-footer">let us know on
      Slack&nbsp;<img style="height: 18px; position: absolute" src="/images/slack.png" />
    </a>
    <br/>If you found an error, you can <a href="https://github.com/heartexlabs/label-studio/issues">file an issue on GitHub</a>!
  </div>
<% } %>
</div>

<div class="sub-toc"></div>
