<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>    
    <% } %>
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>  
  <%- page.content %>
  <% if (page.type === 'guide') { %>
    <div class="guide-links">
      <% const lastPage = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
      <% if (lastPage) { %>
        <span>← <a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
      <% } %>
      <% const nextPage = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
      <% if (nextPage) { %>
        <span style="float: right;"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
      <% } %>
    </div>
  <% } %>
  <div class="footer">    
      <!-- Caught a mistake or want to contribute to the documentation?
	   <a href="https://github.com/heartexlabs/label-studio/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
	   Edit this page on GitHub!
	   </a> -->
  </div>
</div>
