
<a href="<%- url_for("/guide/") %>" class="<%- page.type === "guide" ? "current": "" %>">Guide</a>
<a href="<%- url_for("/tags/") %>" class="<%- page.type === "tags" ? "current": "" %>">Tags</a>
<a href="<%- url_for("/templates/") %>" class="<%- page.type === "templates" ? "current": "" %>">Templates</a>
<a href="<%- url_for("/api/") %>" class="<%- page.type === "api" ? "current": "" %>">API</a>
<a href="<%- url_for("/playground/") %>" class="<%- page.type === "playground" ? "current": "" %>">Playground</a>
<a href="<%- url_for("/blog/") %>" class="<%- page.type === "blog" ? "current": "" %>">Blog</a>

<!-- Github starts -->
<div style="margin: 7px 0 0 7px !important;" class="github-button-wrap">
    <a class="github-button" href="https://github.com/heartexlabs/label-studio"
       data-icon="octicon-star"
       data-size="large" data-show-count="true" aria-label="Star heartexlabs/label-studio on GitHub"></a>
</div>

<!-- Github repo -->
<img src="/images/github-icon.png" height="25px" style="margin-left: 10px; cursor:pointer" class="github-link"
     onclick="window.location='https://github.com/heartexlabs/label-studio'">

