<% if (page.type !== "playground" && page.type !== "blog" ) { %>
<div class="sidebar">
  <div class="sidebar-inner">
    <div class="list">
      <%- partial('partials/toc', { type: type }) %>
    </div>
  </div>
  <a href="/"><img src="<%- url_for("/images/opossum/other/5.svg") %>" width=134 height=120 alt="label studio logo" height="120" /></a>
</div>
<% } %>

<% if (page.type === "playground") { %>
<%- partial('partials/sidebar_main_page', {type: page.type === 'menu' ? 'guide' : page.type, index: page.index}) %>
<% } %>

<% if (page.type === "blog") { %>
<div class="sidebar">
  <div class="sidebar-inner">
    <div class="list">
      <h3>
        Recent Posts
        <a href="<%- url_for("/atom.xml") %>" target="_blank" style="vertical-align: middle; margin-left: 5px;">
          <img src="<%- url_for("/images/feed.png") %>" style="width: 15px; height: 15px;">
        </a>
      </h3>
      <ul>
      <% site.posts.sort('date', -1).limit(5).each(function (post) { %>
        <li>
          <a href="/<%- post.path %>" class="sidebar-link<%- page.title === post.title %>"><%- post.title %></a>
        </li>
      <% }) %>
      </ul>
    </div>
  </div>
  <a href="/"><img src="<%- url_for("/images/opossum/other/5.svg") %>" width=134 height=120 alt="label studio logo" height="120" /></a>
</div>
<% } %>