<ul class="menu-root">
    <li style="margin-top: 45px;"><h3 class="root"><%- type %></h3></li>

  <% site.pages.find({ type: type }).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>



<% if (type === 'guide') { %>
      <% if (fileName === 'install') { %>
          <li><h4>Install and Upgrade</h4></li>
      <% } %>
      <% if (fileName === 'tasks') { %>
          <li><h4>Import Data</h4></li>
      <% } %>
       <% if (fileName === 'setup') { %>
          <li><h4>Manage Data & Projects</h4></li>
      <% } %>
      <% if (fileName === 'ml') { %>
          <li><h4>Machine Learning Setup</h4></li>
      <% } %>
      <% if (fileName === 'frontend') { %>
          <li><h4>Advanced Development</h4></li>
      <% } %> %>

<% } %>

      <% if (type === 'tags') { %>


      <% if (fileName === 'audio') { %>
          <li><h4>Object Tags</h4></li>
      <% } %>

      <% if (fileName === 'brushlabels') { %>
          <li><h4>Control Tags</h4></li>
      <% } %>

      <% if (fileName === 'header') { %>
          <li><h4>Visual & Experience Tags</h4></li>
      <% } %>

      <% } %>

      <% if (type==="templates") { %>
         <% if (fileName === '') { %>
           <li><h4>Audio</h4></li>
           <li><h4>Images</h4></li>
           <li><h4>Text</h4></li>
           <li><h4>Mix</h4></li>
         <% } %>
      <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>">
        <%- removeLabelStudioMention(p.title) %>
      </a>
    </li>
    <% }) %>
</ul>
